"""
WSGI config for {{ application_name }}.

This module contains the WSGI application used by Django's development server
and any production WSGI deployments. It should expose a module-level variable
named ``application``. Django's ``runserver`` and ``runfcgi`` commands discover
this application via the ``WSGI_APPLICATION`` setting.

Usually you will have the standard Django WSGI application here, but it also
might make sense to replace the whole Django WSGI application with a custom one
that later delegates to the Django one. For example, you could introduce WSGI
middleware here, or combine a Django application with an application of another
framework.

"""
import os

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "{{ application_name }}.settings.{{ env }}")
os.environ.setdefault("ENV", "{{ env }}")
{% if aws_use_rds %}
os.environ.setdefault("DJANGO_DATABASE_URL", "{{ hostvars.localhost.rds.instance.endpoint }}")
{% endif %}
os.environ.setdefault("DJANGO_TLD_NAME", "{{ project_root_domain }}")
os.environ.setdefault("DJANGO_ALLOWED_HOST", "{{ server_names }}")

# This application object is used by any WSGI server configured to use this
# file. This includes Django's development server, if the WSGI_APPLICATION
# setting points here.
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()


