{% extends 'base.html' %}

{% block feature %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            {% if request.user.is_authenticated %}
                Welcome back, {{ request.user.first_name }}
            {% else %}
                Strapless
            {% endif %}
        </h1>
        <p class="lead">Seriously, the floor is made of lava.</p>
        <a class="btn btn-action btn-lg" href="{% url 'examples' %}" role="button">Get started</a>
    </div>
</div>
{% endblock %}

{% block body %}
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus.</p>
    <p>In elementum egestas gravida. Ut dignissim diam sed metus gravida, id sollicitudin arcu tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac lobortis neque, ut pretium est. Phasellus vitae euismod nisi, sed imperdiet erat. Ut gravida, libero ac venenatis imperdiet, leo lacus semper dui, ac scelerisque felis nibh eu diam. Vivamus ut vestibulum tellus. Pellentesque nec ipsum vitae elit efficitur lobortis. </p>
{% endblock %}
