*.pyc
.idea
*.DS_Store
*~
staticserve/
pip-log.txt
uploads/*
dump-*.sql
graphed_models.png
strapless/strapless/settings/local.py
docs/build
build/
database.db
logs
*.log
src/
.vagrant/
strapless/strapless/settings/local.py.backup
strapless/ansible
ansible/run_bidder

private_key
strapless/private_key

node_modules
config.codekit
