<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Strapless | {{> page/title }}</title>

        <meta name="keywords" content="" />
        <meta name="description" content="Strapless is a color-changing CSS boilerplate for HTML elements, and a powerful LessCSS library for colors and patterns." />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link id="favicon" rel="icon" type="image/png" href="favicon.png" />
        {{#if static_css }}
            <link title="static_styles" href="css/index.css" media="all" rel="stylesheet" type="text/css"/>
        {{ else }}
        <style type="text/css">
            {{{styles}}}
        </style>
        {{/if}}
    </head>

    <body onload="Strapless.generateFavicon();">
        {{> page/nav}}

        {{{ body }}}

        {{> page/footer}}
        
        <!-- Output scheme colors for favicon generation -->
        <span id="get_color1"></span>
        <span id="get_color2"></span>
        <span id="get_color3"></span>
        <span id="get_color4"></span>
        <script type="text/javascript" charset="utf-8" src="/js/strapless.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/jscolor.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            {{#if invalid_hex }}
                alert("Invalid hex color value entered.");
                history.pushState({'baseColor': ''}, '', '/');
            {{/if}}
        </script>
    </body>
</html>