// UTILITIES

// handy classes for use in HTML.

// floats

.clearfix { .clearfix();}

.center-block { .center-block();}

.pull-right { float: right !important;}

.pull-left { float: left !important;}


// toggling content.

.hide { display: none !important;}

.show { display: block !important;}

.invisible { visibility: hidden;}

.text-hide { .text-hide();}

.hidden { display: none !important;} // (even screenreaders) - HTML5 Boilerplate


// for (emergency) fixing readability issues.

//.text-color { .text-color(@body-bg);}

.text-color1 { .contrast-text-against(@color1) !important;} // TODO: shiv this?

.headline-color { .headline-color(@body-bg) !important;}

// TODO these need "inverted" classes so people can use them to fix both problems


// alignment

.text-left { text-align: left;}

.text-right { text-align: right;}

.text-center { text-align: center;}

.text-justify { text-align: justify;}

.text-nowrap { white-space: nowrap;}


// transformation

.text-lowercase { text-transform: lowercase;}

.text-uppercase { text-transform: uppercase;}

.text-capitalize { text-transform: capitalize;}


// for affix plugin.

.affix { position: fixed;}
