.make-palette();

.make-palette(@color: @base-color; @wheel: @base-color-wheel) {
  .load-scheme-type(@color);
  .load-color-wheels();
  .make-main-colors(@color; @wheel);
  .make-subcolors(@color1; @color2; @color3; @color4; @scheme-type);
  .load-gray-bases(@color);
  .make-grays(@color);
  .load-action-colors(@color, @color1, @color4);
  .load-reaction-colors(@color, @color2, @color3);
}

.make-palette(@color: @base-color; @wheel: @base-color-wheel) when (saturation(@color) = 0) {
  // for grays, set up working color2, 3 and 4 and then reinforce gray color1
  .make-palette(average(@color, #57A0EE); @wheel); // @color is always gray so this desaturates
  @color1: @color;
  @color1a: greyscale(@gray-light);
  @color1b: greyscale(@gray);
  @color1c: greyscale(@gray-dark);
}

.make-palette(@color: @base-color; @wheel: @base-color-wheel) when (luma(@color) > 98%) {
  .make-palette(darken(@color, 1%); @wheel);
  @color1: @color;
}

.make-palette(@color: @base-color; @wheel: @base-color-wheel) when (luma(@color) < 1%) {
  .make-palette(lighten(@color, 1%); @wheel);
  @color1: @color;
}

.load-scheme-type(@color) {
  // sets @scheme-type to dark, medium or light depending on color given
  @scheme-type-base: unit(ceil(luma(@color)*3/100));
  @scheme-types: dark, medium, light;
  @scheme-type: extract(@scheme-types, @scheme-type-base);
}

.load-color-wheels() {
  // color wheel position conventions

  @complement: 180deg;
  @triadic-pair: 120deg;
  @accent: 45deg;
  @analog: 15deg;

  // color wheels
  // these (like everything else) eventually bubble up to global scope

  @accented:        @complement,
                    @accent,
                    -@accent;

  @complementary:   @complement,
                    @analog,
                    @complement + @analog;

  @complementary-b: @complement,
                    -@analog,
                    @complement - @analog;

  @triadic:         -@triadic-pair,
                    @triadic-pair,
                    @analog;

  @triadic-b:       @triadic-pair,
                    -@triadic-pair,
                    -@analog;

  @tetradic:        @complement,
                    @accent,
                    @complement + @accent;

  @tetradic-b:      @complement,
                    -@accent,
                    @complement - @accent;

  @square:          @complement,
                    @complement/2,
                    -@complement/2;

  @ebb:             @complement + @analog,
                    @analog,
                    @accent;

  @flow:            @complement - @analog,
                    -@analog,
                    -@accent;

  @monochromatic:   @accent/2,
                    @analog/2,
                    -@analog/2;

  @monochromatic-b: -@accent/2,
                    @analog/2,
                    -@analog/2;
}

.make-main-colors(@color; @wheel) {
  @wheel-var: @@wheel;
  @color1: @color;
  @color2: spin(@color, extract(@wheel-var, 1));
  @color3: spin(@color, extract(@wheel-var, 2));
  @color4: spin(@color, extract(@wheel-var, 3));
}

.make-subcolors(@c1; @c2; @c3; @c4; @scheme-type) {

  @spread: 8%; // how far apart a and c are

  .settings() when (@scheme-type = light) {
    @a-by: @spread;
    @c-by: @spread + 6;
  }

  .settings() when (default()) {
    @a-by: @spread + 3;
    @c-by: @spread + 3;
  }

  .settings() when (@scheme-type = dark) {
    @a-by: @spread + 6;
    @c-by: @spread;
  }

  .settings();

  .make-color1a() { 
    .quadratic-compare(@c1; lighten(spin(@c1, @analog), @a-by); lighten(spin(@c1, -@analog), @a-by););
    @color1a: @closer;
  }.make-color1a();

  .make-color1b() { 
    .quadratic-compare(@c1; spin(@c1, @accent); spin(@c1, -@accent););
    @color1b: @closer;
  }.make-color1b();

  .make-color1c() { 
    .quadratic-compare(@c1; darken(spin(@c1, @analog), @c-by); darken(spin(@c1, -@analog), @c-by););
    @color1c: @closer;
  }.make-color1c();

  .make-color2a() { 
    .quadratic-compare(@c1; lighten(spin(@c2, @analog), @a-by); lighten(spin(@c2, -@analog), @a-by););
    @color2a: @farther;
  }.make-color2a();

  .make-color2b() { 
    .quadratic-compare(@c1; spin(@c2, @accent); spin(@c2, -@accent););
    @color2b: @farther;
  }.make-color2b();

  .make-color2c() { 
    .quadratic-compare(@c1; darken(spin(@c2, @analog), @c-by); darken(spin(@c2, -@analog), @c-by););
    @color2c: @farther;
  }.make-color2c();

  .make-color3a() { 
    .quadratic-compare(@c3; lighten(spin(@c3, @analog), @a-by); lighten(spin(@c3, -@analog), @a-by););
    @color3a: @closer;
  }.make-color3a();

  .make-color3b() { 
    .quadratic-compare(@c3; spin(@c3, @accent); spin(@c3, -@accent););
    @color3b: @closer;
  }.make-color3b();

  .make-color3c() { 
    .quadratic-compare(@c3; darken(spin(@c3, @analog), @c-by); darken(spin(@c3, -@analog), @c-by););
    @color3c: @closer;
  }.make-color3c();

  .make-color4a() { 
    .quadratic-compare(@c4; lighten(spin(@c4, @analog), @a-by); lighten(spin(@c4, -@analog), @a-by););
    @color4a: @closer;
  }.make-color4a();

  .make-color4b() { 
    .quadratic-compare(@c4; spin(@c4, @accent); spin(@c4, -@accent););
    @color4b: @closer;
  }.make-color4b();

  .make-color4c() { 
    .quadratic-compare(@c4; darken(spin(@c4, @analog), @c-by); darken(spin(@c4, -@analog), @c-by););
    @color4c: @closer;
  }.make-color4c();
}

.load-action-colors(@base: @base-color, @c1, @c2) {

  @success-base: #51ad51;
  @info-base: #43a3e6;

  @success: average(@success-base, hsl(hue(@success-base), saturation(@base), lightness(@base)));
  @info:    average(@info-base, hsl(hue(@info-base), saturation(@base), lightness(@base)));

  @success-info-midpoint: average(@info, @success);

  .quadratic-compare(@success-info-midpoint, @c1, @c2);
    @action-base: @farther;

  @action-sat: (saturation(@info) + saturation(@success))/2;
  @action-lit: (lightness(@info) + lightness(@success))/2;

  @action: average(@action-base, hsl(hue(@action-base), @action-sat, @action-lit));
}

.load-reaction-colors(@base: @base-color, @r1, @r2) {

  @failure-base: #e11d1d;
  @warning-base: #ff6b23;

  @failure:   average(@failure-base, hsl(hue(@failure-base), saturation(@base), lightness(@base)));
  @warning:   average(@warning-base, hsl(hue(@warning-base), saturation(@base), lightness(@base)*1.2));

  @failure-warning-midpoint: average(@failure, @warning);

  .quadratic-compare(@failure-warning-midpoint, @r1, @r2);
    @reaction-base: @farther;
  
  @reaction-sat: (saturation(@warning) + saturation(@failure))/2;
  @reaction-lit: (lightness(@warning) + lightness(@failure))*.9/2;

  @reaction: average(@reaction-base, hsl(hue(@reaction-base), @reaction-sat, @reaction-lit));
}

.load-gray-bases(@color) {
  @gray-base: mix(desaturate(@color, 80%), #515151, 75%);
  @gray-step: 10%;

  @gray-bases:  @gray-lightest-base,
                @gray-lighter-base,
                @gray-light-base,
                @gray-base,
                @gray-dark-base,
                @gray-darker-base,
                @gray-darkest-base,
                darken(@gray-darkest-base, 3%); // placeholder for overflow

  @gray-light-base:             lighten(@gray-base; @gray-step);
  @gray-lighter-base:           lighten(@gray-base; @gray-step*2);
  @gray-lightest-base:          lighten(@gray-base; @gray-step*3);

  @gray-dark-base:              darken(@gray-base; @gray-step);
  @gray-darker-base:            darken(@gray-base; @gray-step*2);
  @gray-darkest-base:           darken(@gray-base; @gray-step*3);
}

.make-grays(@color) {
  .load-gray-bases(@color);
  @gray-shift: @scheme-type-base;

  @gray-lighter:      extract(@gray-bases; 0 + @gray-shift);
  @gray-light:        extract(@gray-bases; 1 + @gray-shift);
  @gray:              extract(@gray-bases; 2 + @gray-shift);
  @gray-dark:         extract(@gray-bases; 3 + @gray-shift);
  @gray-darker:       extract(@gray-bases; 4 + @gray-shift);
}