// CSS for standard HMTL elements

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

body {
  background-color: @background;
  font-size: 16px;
  .contrast-text-against(@background);
  line-height: @line-height;
  padding-top: @navbar-height + @padding;
  margin-bottom: 0;

  .on-large-phone({
    font-size:18px;
  });
}

nav {
  .sl-navbar(@color1);
  .no-user-select();
}

section {
  max-width: @content-width;
  margin: 0 @padding @padding*4 @padding;
  .clearfix();

  > * {
    margin: 0 auto;
  }

  > * + * {
    margin-top: @padding;
    // max-width: 50ch;

    &:last-child {
      margin-bottom: @padding;
    }
  }

  .on-tablet({
    margin: 0 auto @padding*2 auto;
  });
}

main {
  @color: overlay(@color1, @background);
  padding: @padding;
  border-radius: @border-radius;
  background: @color;
  margin: 0 @padding;
  text-align: center;
  #patterns.dots(@color);
  .contrast-text-against(@color);

  h1, h2 {
    & + p {
      text-align: center;
      font-size: 125%;
      margin-bottom: 1em;
    }
  }

  p {
    //.text-color-dim(@color);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  .on-tablet({
    max-width: @content-width;
    margin: 0 auto;
    padding: @padding*2;
  });
}

h1 { font-size: 2.5em;}
h2 { font-size: 2.2em;}
h3 { font-size: 1.9em;}
h4 { font-size: 1.7em;}
h5 { font-size: 1.25em;}
h6 { font-size: 1em;}

h1, h2, h3, h4 {
  margin-top: .8em;
  margin-bottom: 1em;
  text-align: center;
  line-height: @line-height;
  font-weight: bold;

  & + & {
    margin-top: 0;
  }
}

h5, h6 {
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

p, form, figure, article, ul {
  margin: 0 auto 1em;

  .on-tablet({
    max-width: 50ch;
  });

  &.info,
  &.warning,
  &.action,
  &.reaction,
  &.success,
  &.failure {
    padding: .5em 1em;
  }
}

a {
  color: mix(@action-base, #333, 90%);
  text-decoration: none;
}

aside {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1em;

  > * {
    margin-left: @padding;

    &:first-child {
      margin-left: 0;
    }
  }
  .clearfix();
}

form {
  .sl-form(@color1a);
}

label {
  display: block;
  margin-bottom: .25em;
}

strong {
  font-weight: bold;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  .sl-table();

  th, td {
    text-align: left;
    vertical-align: top;
    padding: @padding/2;
  }

  thead th {
    vertical-align: bottom;
  }

  thead, tbody {
    tr > td,
    tr > th {
      &:first-child {
        padding-left: @padding;
      }
      &:last-child {
        padding-right: @padding;
      }
    }
  }
}

.make-tables-for(@semantic-colors);

footer {
  // background:@color1c;
  margin-bottom: 0;

  section & {
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 0 auto;
  }
}

fieldset,img { border: 0; }

// li { list-style: none; }

// sup { vertical-align: text-top; }

// sub { vertical-align: text-bottom; }

caption, figcaption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

input, textarea, select {
  font-size: 110%;
  line-height: 1.1;
}

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
}

blockquote {
  padding-left:1em;
  border-left:5px solid @color1a;
  cite {
    font-style:italic;
    display:block;
    &:before {
      content: '—';
      padding-right:5px;
    }
  }
}

code, pre {
  .sl-code(@color2);
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;
  border-radius: @border-radius;
  outline: none;
  white-space: nowrap;
  padding: .4em 1ch;
  .sl-button(@action);
  .no-user-select();
}

.make-sl-buttons-for(@semantic-colors);

mark, ::selection {
  @color: @color1b;
  background: @color;
  .contrast-text-against(@color);
}

hr {
  border-color: @background;
  border-top-color: darken(@background, 2%);
  border-bottom-color: lighten(@background, 5%);
}