.argyle(@base: @color1; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-b-color(@base);
        @bg-base: @base;
        @bg2-base: @b-color;
        @stroke-base: mix(greyscale(@b-color, 75%), @bg-base, 30%);
    }

    .colors() when (default()) {
        .set-b-color(@base);
        @bg-base: @base;
        @bg2-base: @b-color;
        @stroke-base: mix(@bg-base, @b-color, 85%);
    }

    .colors();

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @bg2-red: round(red(@bg2-base));
    @bg2-green: round(green(@bg2-base));
    @bg2-blue: round(blue(@bg2-base));
    @bg2: ~"rgb(@{bg2-red},@{bg2-green},@{bg2-blue})";

    @stroke-red: round(red(@stroke-base));
    @stroke-green: round(green(@stroke-base));
    @stroke-blue: round(blue(@stroke-base));
    @stroke: ~"rgb(@{stroke-red},@{stroke-green},@{stroke-blue})";

    @width: 60px;
    @height: 90px;
    @pattern-argyle:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='@{bg}'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='@{bg2}'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='@{stroke}'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='@{stroke}'/%3E %3C/g%3E %3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-argyle}");
    background-size: (@scale * @width), (@scale * @height);
    background-position: center center;
}

.bathmat(@base: @color1; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@base, @a-color, 75%);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@base, @c-color, 75%);
    }

    .colors();

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @stroke-red: round(red(@stroke-base));
    @stroke-green: round(green(@stroke-base));
    @stroke-blue: round(blue(@stroke-base));
    @stroke: ~"rgb(@{stroke-red},@{stroke-green},@{stroke-blue})";

    @pattern-bathmat:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='@{bg}'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='@{stroke}' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='@{stroke}' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='@{stroke}' fill='none'/%3E%3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-bathmat}");
    background-size: (@scale * 20px) (@scale * 20px);
}

.blueprint(@base: #4A74A6; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@a-color, @base, 45%);
        @stroke-inner-base: mix(@stroke-base, @bg-base, 75%);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@c-color, @base, 45%);
        @stroke-inner-base: mix(@stroke-base, @bg-base, 75%);
    }

    .colors();

    @width: 80px;
    @grid-width: @width;
    @grid-spacer: @grid-width/4;
    @grid-spacer-2: @grid-width/4 * 1;
    @grid-spacer-3: @grid-width/4 * 2;
    @grid-spacer-4: @grid-width/4 * 3;
    @height: @width;
    @offset: @width/2;
    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";
    @stroke-red: round(red(@stroke-base));
    @stroke-green: round(green(@stroke-base));
    @stroke-blue: round(blue(@stroke-base));
    @stroke: ~"rgb(@{stroke-red},@{stroke-green},@{stroke-blue})";
    @stroke-inner-red: round(red(@stroke-inner-base));
    @stroke-inner-green: round(green(@stroke-inner-base));
    @stroke-inner-blue: round(blue(@stroke-inner-base));
    @stroke-inner: ~"rgb(@{stroke-inner-red},@{stroke-inner-green},@{stroke-inner-blue})";
    @pattern-blueprint:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='@{grid-width}' height='@{grid-width}'%3E %3Crect width='@{grid-width}' height='@{grid-width}' fill='@{bg}'/%3E %3Cg fill='@{stroke-inner}'%3E %3Crect width='@{grid-width}' height='1' y='@{grid-spacer-2}'/%3E %3Crect width='@{grid-width}' height='1' y='@{grid-spacer-3}'/%3E %3Crect width='@{grid-width}' height='1' y='@{grid-spacer-4}'/%3E %3Crect width='1' height='@{grid-width}' x='@{grid-spacer-2}'/%3E %3Crect width='1' height='@{grid-width}' x='0'/%3E %3Crect width='1' height='@{grid-width}' x='@{grid-spacer-4}'/%3E %3C/g%3E %3Crect width='@{grid-width}' height='1' y='0' fill='none' stroke-width='1' stroke='@{stroke}'/%3E %3Crect width='1' height='@{grid-width}' x='@{offset}' fill='none' stroke-width='1' stroke='@{stroke}'/%3E %3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-blueprint}");
    background-size: (@scale * @width), (@scale * @height);
    background-position: center center;
}

.checkerboard(@base: @color1; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @highlight-base: @base;
        @shadow-base: mix(@a-color, @base, 15%);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @highlight-base: @base;
        @shadow-base: mix(@c-color, @base, 15%);
    }

    .colors();

    @highlight-red: round(red(@highlight-base));
    @highlight-green: round(green(@highlight-base));
    @highlight-blue: round(blue(@highlight-base));
    @highlight: ~"rgb(@{highlight-red},@{highlight-green},@{highlight-blue})";

    @shadow-red: round(red(@shadow-base));
    @shadow-green: round(green(@shadow-base));
    @shadow-blue: round(blue(@shadow-base));
    @shadow: ~"rgb(@{shadow-red},@{shadow-green},@{shadow-blue})";

    @width: 60px;
    @height: @width;
    @pattern-checkerboard:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='@{width}' height='@{height}'%3E%3Crect width='60' height='60' fill='@{highlight}'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='@{shadow}'/%3E%3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-checkerboard}");
    background-size: (@scale * @width), (@scale * @height)*2;
    background-position: center center;
}

.chevrons(@base: @color1; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@a-color, @base, 15%);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@c-color, @base, 15%);
    }

    .colors();

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @stroke-red: round(red(@stroke-base));
    @stroke-green: round(green(@stroke-base));
    @stroke-blue: round(blue(@stroke-base));
    @stroke: ~"rgb(@{stroke-red},@{stroke-green},@{stroke-blue})";

    @width: 60px;
    @height: @width/2;
    @pattern-chevrons:~"%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='@{bg}' stroke-width='2.5' stroke='@{stroke}'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-chevrons}");
    background-size: (@scale * @width), (@scale * @height);
    background-position: center -@width/2;
}

.crosshatch(@base: @base-color; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@a-color, @bg-base, 25%);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @bg-base: @base;
        @stroke-base: mix(@c-color, @bg-base, 25%);
    }

    .colors();

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @stroke-red: round(red(@stroke-base));
    @stroke-green: round(green(@stroke-base));
    @stroke-blue: round(blue(@stroke-base));
    @stroke: ~"rgb(@{stroke-red},@{stroke-green},@{stroke-blue})";

    @pattern-crosshatch:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='@{bg}'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='@{stroke}'/%3E%3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-crosshatch}");
    background-size: (@scale * 8px) (@scale * 8px);
}

.dots(@base: @base-color; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @fg-base: @a-color;
        @bg-base: @base;
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @fg-base: @c-color;
        @bg-base: @base;
    }

    .colors();

    @fg-red: round(red(@fg-base));
    @fg-green: round(green(@fg-base));
    @fg-blue: round(blue(@fg-base));
    @fg: ~"rgb(@{fg-red},@{fg-green},@{fg-blue})";

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @width: 5px;
    @height: @width;
    @pattern-dots:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='@{bg}'/%3E %3Crect width='1' height='1' fill='@{fg}'/%3E %3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-dots}");
    background-size: (@scale * @width), (@scale * @height);
    background-position: top left;
}

.honeycomb(@base: @base-color; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @bg-base: @base;
        @stroke1-base: @base; // same as bg, otherwise looks like cubes
        @stroke2-base: mix(@a-color, @base, 25%);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @bg-base: @base;
        @stroke1-base: @base; // same as bg, otherwise looks like cubes
        @stroke2-base: mix(@c-color, @base, 25%);
    }

    .colors();

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @stroke1-red: round(red(@stroke1-base));
    @stroke1-green: round(green(@stroke1-base));
    @stroke1-blue: round(blue(@stroke1-base));
    @stroke1: ~"rgb(@{stroke1-red},@{stroke1-green},@{stroke1-blue})";

    @stroke2-red: round(red(@stroke2-base));
    @stroke2-green: round(green(@stroke2-base));
    @stroke2-blue: round(blue(@stroke2-base));
    @stroke2: ~"rgb(@{stroke2-red},@{stroke2-green},@{stroke2-blue})";

    @width: 56px;
    @height: 100px;
    @pattern-honeycomb:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='@{bg}'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='@{stroke1}' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='@{stroke2}' stroke-width='2'/%3E %3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-honeycomb}");
    background-size: (@scale * @width), (@scale * @height);
    background-position: center -@width/4;
}

.pegboard(@base: @base-color; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @board-base: @base;
        @shadow-base: darken(@base, 6%);
        @highlight-base: @a-color;
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @board-base: @base;
        @shadow-base: mix(@base, @c-color, 66%);
        @highlight-base: lighten(@base, 5%);
    }

    .colors();

    @board-red: round(red(@board-base));
    @board-green: round(green(@board-base));
    @board-blue: round(blue(@board-base));
    @board: ~"rgb(@{board-red},@{board-green},@{board-blue})";

    @shadow-red: round(red(@shadow-base));
    @shadow-green: round(green(@shadow-base));
    @shadow-blue: round(blue(@shadow-base));
    @shadow: ~"rgb(@{shadow-red},@{shadow-green},@{shadow-blue})";

    @highlight-red: round(red(@highlight-base));
    @highlight-green: round(green(@highlight-base));
    @highlight-blue: round(blue(@highlight-base));
    @highlight: ~"rgb(@{highlight-red},@{highlight-green},@{highlight-blue})";

    @width: 15px;
    @height: @width;
    @pattern-pegboard: ~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='@{width}' height='@{height}'%3E%3Crect width='50' height='50' fill='@{board}'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='@{highlight}'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='@{shadow}'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='@{highlight}'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='@{shadow}'/%3E%3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-pegboard}");
    background-size: (@scale * @width), (@scale * @height);
}

.stripes(@base: @base-color; @scale: 1;) {
    .set-tone(@base);

    .colors() when (@tone = white) {
        .set-a-color(@base);
        @bg-base: @base;
        @fg-base: average(@base, @a-color);
    }

    .colors() when (default()) {
        .set-c-color(@base);
        @bg-base: @base;
        @fg-base: average(@base, @c-color);
    }

    .colors();

    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    @fg-red: round(red(@fg-base));
    @fg-green: round(green(@fg-base));
    @fg-blue: round(blue(@fg-base));
    @fg: ~"rgb(@{fg-red},@{fg-green},@{fg-blue})";

    @width: 5px;
    @height: @width;
    @pattern-stripes1:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='@{bg}'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='@{fg}' stroke-width='1'/%3E %3C/svg%3E";
    background-image: url("data:image/svg+xml,@{pattern-stripes1}");
    background-size: (@scale * @width), (@scale * @height);
    background-position: center -@width/2;
}
