.make-palettes-for(@base-color; @color-wheels);

.make-palettes-for(@color; @wheels) {
  @iterations: length(@wheels);

  .make-palette();

  .make-palette(@index: 1) when (@index <= @iterations) {
    // grab our scheme name out of @wheels
    @scheme: extract(@wheels, @index);

    // each palette has a corresponding id
    #strapless_colors_@{scheme} {
      .make-swatches-for(@color; @all-colors; @scheme);
    }
    // make the next palette
    .make-palette(@index + 1);
  }
}

.make-swatches-for(@color; @color-list; @color-wheel) {
  @iterations: length(@color-list);

  #strapless.make-palette(@color; @color-wheel);
  .make-nth-swatch(1);

  position: relative;
  padding-top: @padding*2;
  //width: 56*4px + 40px;

  &:before {
    content: "@{color-wheel}";
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
  }

  .make-nth-swatch(@index) when (@index <= @iterations) {
    
    @swatch-name: extract(@color-list, @index);
    @swatch: @@swatch-name;

    .swatch:nth-child(@{index}) {
      .sl-swatch(@swatch);
      //box-shadow: 1px 1px 0 darken(@swatch, 6%);

      &:before {
        content: "@{swatch-name}";
        color: lighten(@swatch, 10%);
        text-shadow: -1px -1px 0 darken(@swatch, 6%);
      }
    }

    .make-nth-swatch(@index + 1);
  }
}

.sl-swatch(@color: @gray) {
  // &:extend(.sl-swatch-base all);
  background: @color;
  border: 1px solid darken(@color, 2%);
}

.sl-swatch-base, .swatch {
  @size: 32px;
  @width: @size;
  @height: 40px;
  @margin: 4px;

  display: none; // palettes are divs with a bunch of divs inside, this hides unused ones

  float: left;

  font-size: 10px;

  min-width: @size;
  width: 50%;
  height: @height;

  margin-bottom: -@margin*4;

  text-align: right;
  line-height: @height - 3px;

  display: block;

  &:before {
    display: none;
  }

  .on-desktop({
    position: relative;

    width: 23%;
    margin-right: 2%;

    .rotate(-3deg);
    &:nth-child(4n + 2) { .rotate(-1deg); top:-2px;}
    &:nth-child(4n + 3) { .rotate(1deg); top:-3px;}
    &:nth-child(4n + 4) { .rotate(3deg); top:-2px;}

    &:before {
      font-size: 9px;
      font-weight: bold;
      pointer-events: none;
      position: relative;
      bottom: -@height/4;
      right: 3px;
    }
  });  
}

.palette-preview {
  float: left;
  width: 50%;
  margin-right: 0;
  margin-bottom: 0;

  .on-desktop({
    max-width: 23%;
    margin-right: 2%;
  });
}
