// utility classes
// these have corresponding mixins

.hide, .hidden { display: none !important;}

.max-width { max-width: @max-width;}

.margin-bottom { margin-bottom: 1em;}

.border-radius { border-radius: @border-radius;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

.make-color-classes-for(@semantic-colors);
