// utilities

.hide, .hidden { display: none !important;}

.max-width {
  max-width: @max-width * (2/3);

  .on-tablet({
    max-width: @max-width;
  });
}

.margin-bottom { margin-bottom: 1em;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

.make-color-classes-for(@semantic-colors);
