// variables

@base-color: #6CADE6;
@base-color-wheel:  accented;
@background: @color1a;
@line-height: 1.62;
@contrast-break: 50%;
@padding: 12px;
@border-radius: @padding/2;
@content-width: 768px;
@navbar-height: 48px;

@large-phone-break:   480px;
@tablet-break:        768px;
@desktop-break:       992px;
@large-desktop-break: 1200px;

// variable name lists

@semantic-colors:   action,
                    reaction,
                    info,
                    warning,
                    success,
                    failure;

@color-wheels:      accented, complementary, complementary-b, triadic, triadic-b,
                    tetradic, tetradic-b, square, ebb, flow, monochromatic, monochromatic-b;

@main-colors:       color1, color2, color3, color4;

@all-colors:        color1, color1a, color1b, color1c, color2, color2a, color2b, color2c,
                    color3, color3a, color3b, color3c, color4, color4a, color4b, color4c;
