// CSS for standard HMTL elements

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

body {
  background-color: @background;
  font-size: calc(1em + 1vw);
  font-size: 18px;
  .contrast-text-against(@background);
  line-height: 1.5em;
  padding-top: 50px;
  margin-bottom: 0;

  & > nav, & > nav {
    .sl-navbar(@color1c);
  }
}

section {
  //display: flex;
  //flex-flow: row wrap;
  max-width: @content-width;
  margin: 0 @padding @padding*2 @padding;
  .clearfix();

  > * {
    margin: 0 auto;
    //flex-basis: 10em;
    //flex-grow: 1;
  }

  > * + * {
    margin-top: @padding;
    max-width: 50ch;

    &:last-child {
      margin-bottom: @padding;
    }
  }

  .on-tablet({
    margin: 0 auto @padding*2 auto;
  });
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  margin-top: @navbar-height + @padding;
  text-align: center;
  line-height:1.62;
  font-weight: bold;
  //max-width: 50vw;
}

h1 { font-size: 42px;}
h2 { font-size: 34px;}
h3 { font-size: 26px;}
h4 { font-size: 20px;}
h5 { font-size: 16px; text-transform: uppercase;}
h6 { font-size: 13px; text-transform: uppercase;}

p, form {
  margin-bottom: .62em;
  //width: 50vw;
  max-width: 50ch;
}

form {
  @color: @color2;
  background: @color;
  .contrast-text-against(@color);
  padding: @padding;
  max-width: 36ch;

  > * {
    width: 100%;
    max-width: 36ch;
    margin-bottom: @padding;
  }
}

label {
  display: block;
  margin-bottom: @padding;
}

input {
  padding: @padding;
  border: none;
  background: white;
  .contrast-text-against(white);
}

strong {
  font-weight: bold;
}

footer {
  background:@color1c;
  margin-bottom: 0;
}

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

caption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

input, textarea, select {
  font-size: 110%;
  line-height: 1.1;
}

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
}

code, pre {
  .sl-code(@color2);
}

.sl-code(@code-color) {
  	@color: mix(@code-color, white, 94%);
  	@background: mix(@color, #333, 10%);

    font-family: monospace;
    font-size: 85%;
    padding: @padding * .25 @padding * .67 @padding * .3 @padding * .67;
    border-radius: @border-radius/2;
    background: @background;
    // border: 1px solid darken(@color, 8%);
    color: @color;
}

// BUTTON

.make-sl-buttons-for(@huge-palette);

.make-sl-buttons-for(@colors) {
  @length: length(@colors);

  .make-sl-button();

  .make-sl-button(@index:1) when (@index <= @length) {
    @color-name: extract(@colors, @index);
    @color: @@color-name;

    button.@{color-name} {
      &:extend(.sl-button-base all);
      .sl-button(@color);

      .on-hover({

      });
    }

    .make-sl-button(@index + 1);
  }
}

.sl-button(@color: @gray) {
  background-color: @color;
  border-color: mix(@gray-darkest-base; @color; 60%);

  .on-hover({
    background: lighten(@color, 3%);
  });

  .on-click({
    background: darken(@color, 3%);
  });
}

.sl-button-base {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: @border-radius;
  outline: none;
  white-space: nowrap;
  padding: @padding/2 @padding;
  .contrast-text-against(@gray);
}

.sl-navbar(@color) {

  @height: @navbar-height;
  @padding: @height * .38;

  background-color:@color;
  .contrast-text-against(@color);

  height: @height;
  line-height: @height;
  max-height: @height;
  position: fixed; top:0; left: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  > section > * { // pseudo reset
    display: none;
    float:left;
    position: relative;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: @height;
    vertical-align: middle;
    overflow: hidden;

    .on-tablet({
      display: block;
    });

    &:first-child {
      display: block;
      margin-left: @padding;
      margin-right: @padding * 2;

      .on-large-phone({
        margin-left: 0;
        margin-right: @height;
      });
    }

    &:last-child {
      display: block;
      float: right;
      line-height: @height - 6;
    }
  }

  ul {
    height: @height;
  }

  li {
    float:left;
    height: @height;
    line-height: @height;
  }

  h1, h2, h3 {
    display: block;
    float: left;
    font-size: 26px;
    line-height: @height;
    margin-right: @height;
  }

  a {
    display: block;
    float: left;
    .contrast-text-against(@color);
    padding-left: @padding;
    padding-right: @padding;
    text-decoration: none;

    &:hover {
      background-color: lighten(@color, 10%);
      text-decoration: none;
    }
  }
}
