// POSSIBLE PATTERN PATTERNS

// patterns are mixins that have 1-3 colors, then a scale property
// all patterns should work with only one or zero color argument(s) given

.checkerboard(@first: @color1; @second: lighten(@first, 2.5%); @scale: 1;) {
  @base: @base-color;
  @highlight: lighten(@base, 8%);
  @shadow: darken(@base, 8%);
  @width: 60px;
  @height: @width;
  @pattern-checkerboard:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='@{width}' height='@{height}'%3E%3Crect width='60' height='60' fill='@{first}'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='@{second}'/%3E%3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-checkerboard}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: -@width/4 -@width/4;
}

.blueprint(@bg: #4A74A6; @stroke: lighten(@bg, 10%); @scale: 1;) {
  @width: 64px;
  @height: @width;
  @stroke-inner: darken(@stroke, 2%);
  @pattern-blueprint:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='@{bg}'/%3E %3Cg fill='@{stroke-inner}'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='@{stroke}'/%3E %3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-blueprint}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: center -@width/2;
}

.pegboard(@base: @color1; @scale: 1) {
  @highlight: lighten(@base, 8%);
  @shadow: darken(@base, 8%);
  @width: 15px;
  @height: @width;
  @pattern-pegboard: ~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='@{width}' height='@{height}'%3E%3Crect width='50' height='50' fill='@{base}'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='@{highlight}'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='@{shadow}'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='@{highlight}'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='@{shadow}'/%3E%3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-pegboard}");
  background-size: (@scale * @width), (@scale * @height);
}

.shippo(@first: @color1; @second: lighten(@first, 2.5%); @scale: 1;) {
  @width: 80px;
  @height: @width;
  @pattern-shippo:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80'%3E %3Crect width='80' height='80' fill='@{first}'/%3E %3Ccircle cx='40' cy='40' r='40' fill='@{second}'/%3E %3Cpath d='M0 40 A40 40 45 0 0 40 0 A40 40 315 0 0 80 40 A40 40 45 0 0 40 80 A40 40 270 0 0 0 40Z' fill='@{first}'/%3E %3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-shippo}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: center -@width/2;
}

.argyle(@first: @color1; @second: lighten(@first, 2.5%); @stroke: fade(greyscale(@first), 75%); @scale: 1;) {
  @width: 60px;
  @height: 90px;
  @pattern-argyle:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='@{first}'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='@{second}'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='@{stroke}'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='@{stroke}'/%3E %3C/g%3E %3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-argyle}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: center -@width/2;
}

.dots1(@fg: @color1; @bg: lighten(@fg, 10%); @scale: 1;) {
  @width: 5px;
  @height: @width;
  @pattern-dots1:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='@{bg}'/%3E %3Crect width='1' height='1' fill='@{fg}'/%3E %3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-dots1}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: center -@width/2;
}

.stripes1(@fg: @color1; @bg: lighten(@fg, 10%); @scale: 1;) {
  @width: 5px;
  @height: @width;
  @pattern-stripes1:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='@{bg}'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='@{fg}' stroke-width='1'/%3E %3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-stripes1}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: center -@width/2;
}

.honeycomb(@bg: @color1; @stroke1: lighten(@bg, 5%); @stroke2: lighten(@stroke1, 1.5%); @scale: 1;) {
  @width: 56px;
  @height: 100px;
  @pattern-honeycomb:~"%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='@{bg}'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='@{stroke1}' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='@{stroke2}' stroke-width='2'/%3E %3C/svg%3E";
  background-image: url("data:image/svg+xml,@{pattern-honeycomb}");
  background-size: (@scale * @width), (@scale * @height);
  background-position: center -@width/2;
}


