@padding: 16px; // 12px
@border-radius: 8px; // 4px
@content-width: 820px; // 800px
@background: @color1;
@line-height: 1.62; // 1.62
@navbar-height: 48px; // 48px


@less-test: @warning;
@less-test-name: '@warning';