<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    {% include "fragments/email_boilerplate_style.html" %}
</head>
<body style="padding:0;margin:0;">
    <!-- Begin 100% Wrapping Table -->
    <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:0; padding:0;border-collapse:collapse; border-spacing:0;width:100%;">
        <tr>
            <td style="padding:20px 0;">
                <!-- Begin Main Template Table -->
                <table border="0" cellspacing="0" cellpadding="0" width="600" align="center" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:600px; font-family: Arial, Sans-serif; font-size:12px; margin:0 auto; line-height:1.33;">
                    <tr style="background-color:#235ea5; border:1px solid #205699; border-width: 0 1px; height: 100px;">
                        <td >
                            <a id="logo" href="http://{{site.domain}}" style="line-height: 40px; color: #ffffff; text-decoration: none; font-family: 'Open Sans', Helvetica, Arial, sans-serif; padding: 20px 10px 10px 30px; vertical-align: top; font-size: 25px;">
                                <img src="http://{{site.domain}}/static/global/images/logo.png" style="width: 25px; vertical-align: top; padding-top:2px;">
                                {{ site.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background:#ffffff; border: 1px solid #205699; border-width: 0 1px; padding: 20px 0;">
                            <!-- Main Content table -->
                            <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width: 600px; font-family: Arial, Sans-serif; font-size:12px; color: #555555;">
                                <tr>
                                    <!-- Spacing Column -->
                                    <td width="20" valign="top" style="width:20px;">&nbsp;</td>
                                    <!-- Main Column -->
                                    <td width="560" valign="top" style="width:360px; font-family: Arial, Sans-serif; font-size:12px;">
                                        {% block content %}

                                        {% endblock %}
                                    </td>
                                    <!-- Spacing Column -->
                                    <td width="20" valign="top" style="width:20px;">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- /Main Content Table -->
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#235ea5; border:1px solid #205699; border-width: 0 1px; ;padding:10px 0 0; color: #ffffff">
                            <!-- Begin Footer table -->
                            <table border="0" cellspacing="0" cellpadding="0" width="600" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:600px; font-family: Arial, Sans-serif; font-size:12px;">
                                <tr>
                                    <!-- Spacing Column -->
                                    <td width="20" valign="top" style="width:20px;">&nbsp;</td>
                                    <!-- Main Column -->
                                    <td width="560" valign="top" style="width:560px; font-family: Arial, Sans-serif; font-size:12px;">
                                        <p style="margin:0 0 1em;padding:0; color: #ffffff;">
                                            <em>Copyright &copy; 2014 <a href="http://strapless_web.com" style="color: #ffffff; text-decoration: none;">strapless_web</a>, All rights reserved.</em>
                                        </p>
                                    </td>
                                    <!-- Spacing Column -->
                                    <td width="20" valign="top" style="width:20px;">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- /End Footer Table -->
                        </td>
                    </tr>
                </table>
                <!-- /End Main Template Table -->
            </td>
        </tr>
    </table>
<!-- /End 100% Wrapping Table  -->
</body>
</html>
