<section id="elements">
    <h1>Elements</h1>
    <main class="info">
        <h2>Main</h2>
        <p>The main element includes a background color and the dots pattern by default. There's one at the top of this page, too.</p>
        <p>This is a main element. Like the immortals in <em>Highlander</em>, there should be only one of them. They support semantic classes, like <code>info</code>.</p>
    </main>
</section>

<section id="asides">
    <h2>Asides</h2>
    <p>Asides center everything inside them using flexbox. On mobile, they stack up their contents.</p>
    <aside>This is an aside.</aside>
    <p>It's useful for buttons:</p>
    <aside><button class="reaction">I'm centered!</button><button class="failure">Me too</button></aside>
</section>

<section id="section_example" class="reaction">
    <h2>Sections</h2>
    <p>Use of the <code>&lt;section&gt;</code> element (seen throughout this page) is encouraged. Sections have default CSS for spacing out your content that's aimed at getting it looking good on the first pass.</p>
    <p>Sections support semantic classes. This one is using <code>reaction</code>.</p>
</section>

<section id="typography">
    <h2>Typography</h2>

    <p>Typography rules are applied directly to HTML elements.</p>

    <h3>Headlines</h3>
    <p>Pretty much what you'd expect. Headlines are centered by default but that's easy to change.</p>

    <h1>This is headline text. (h1)</h1>
    <h2>This is headline text. (h2)</h2>
    <h3>This is headline text. (h3)</h3>
    <h4>This is headline text. (h4)</h4>
    <h5>This is headline text. (h5)</h5>
    <h6>This is headline text. (h6)</h6>

    <h3>Blockquotes</h3>
    <p>Blockquotes look like this:</p>
    <blockquote>
        You may delay, but time will not.
        <cite>Benjamin Franklin</cite>
    </blockquote>
    <p>They alternate switching sides by default, no classes needed.</p>
    <blockquote>
        Blushing is the color of virtue.
        <cite>Diogenes</cite>
    </blockquote>
    <p>They don't support semantic classes.</p>

    <h3>Paragraphs, etc.</h3>
    <p>Paragraphs (like this one!) are by default limited to 55 characters width (or whatever <code>@text-measure</code> is set to). They have an aggressive, but not too aggressive, line height of 1.62 (also a variable!). Like buttons and tables, paragraphs support all the semantic classes.</p>
    <p class="info">I'm informing you of something.</p>
    <p class="success">Your stuff wasn't lost in cyber space!</p>
    <p class="failure">I've made a huge mistake.</p>

    <h3>Other Block Elements</h3>
    <article>
        <pre>This is pre-formatted text</pre>
        <p>Horizontal rule:</p>
        <hr>
    </article>

    <h3>Other Inline Elements</h3>
    <p>Paragraphs may also contain <abbr title="abbreviations, to the layperson">abbreves</abbr> and <acronym title="Aribitrarily Invented Acronyms For Display Purposes">AIAFDPS</acronym>.</p>
    <p>Sometimes you just need an <code>an inline code snippet</code>.</p>

</section>

<section id="buttons">
    <h2>Buttons</h2>
    <p>Buttons are just <code>button</code> elements with a class corresponding to a semantic color name. There are six semantic colors by default, shown in these buttons here:</p>
    <aside>
        <button type="button" class="action">Action</button>
        <button type="button" class="reaction">Reaction</button>
    </aside>
    <aside>
        <button type="button" class="success">Success</button>
        <button type="button" class="failure">Failure</button>
    </aside>
    <aside>
        <button type="button" class="info">Info</button>
        <button type="button" class="warning">Warning</button>
    </aside>
    <p>Semantic colors respond to the color scheme too, so <code>@success</code> will always be the <em>right</em> green (along with its corresponding button). They don't have any other classes to worry about, until you add them, but they do respond well to font size changes:</p>
    <aside >
        <button type="button" class="info" style="font-size:22px;">22 pixels big</button>
        <button type="button" class="failure" style="font-size:1.5em;">1.5em of failure</button>
    </aside>
    <aside>
        <button type="button" class="action" style="font-size:12px;">12px action button</button>
        <button type="button" class="warning" style="font-size:7px;">Warning, this is too small</button>
    </aside>
    <p>Buttons always have tinted (white) text. Sometimes they have darker background colors than the rest of the theme.</p>
</section>

<section id="tables">
    <h2>Tables</h2>
    <aside>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                    </tr>
                </tbody>
            </table>
            default
        </div>
        <div>
            <table class="info">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                    </tr>
                </tbody>
            </table>
            table.info
        </div>
    </aside>
    <aside>
        <div>
            <table class="success">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                    </tr>
                </tbody>
            </table>
            table.success
        </div>
    </aside>
    <p>Tables, like buttons, by default support all the semantic color classes.</p>
</section>

<section id="nav">
    <h2>Nav (navbar)</h2>
    <nav class="reaction">
        <section>
            <h1><a href="/">Title here</a></h1>

            <ul>
                <li><a href="/">Link 1</a></li>
                <li><a href="/">Link 2</a></li>
            </ul>
        </section>
    </nav>
    <br>
    <p>Navbars are simple HTML and CSS, not fully functional components with javascript. Strapless plays well with others, so use the navbar you want, and then use Strapless to style it.</p>
    <p>All of the more complicated elements that take colors as arguments are located in <code>mixins.less</code>. To take 'em out, just remove them where they're used in <code>elements.less</code>.</p>
    <p>If you place a <code>nav</code> element at the very beginning or very end of <code>body</code>, it will stick to the top and stretch across the page (seen above).</p>
</section>

<section id="forms">
    <h2>Forms</h2>

    <form>
        <h3>Enter your information</h3>
        <label>First name:</label>
        <input type="text" name="firstname"><br>
        <label>Last name:</label>
        <input type="text" name="lastname">
        <label>Textarea:</label>
        <textarea rows="4">Placeholder text</textarea>
        <footer>
            <button onclick="return false" class="action">Submit</button>
            <button onclick="return false">Cancel</button>
        </footer>
    </form>

    <p>Strapless aims to make simple form markup look good by default. There's no extra markup or JS conventions to worry about. Strapless forms also work well with semantic classes, like this <code>success</code> form here:</p>

    <form class="success">
        <label>Your favorite color:</label>
        <input type="text" name="fav_color"><br>
        <button class="success" onclick="return false">Submit</button>
    </form>
</section>