<main id="feature">
  <h1>Ditch the frameworks.<br>
    Write markup with <strong>HTML</strong>.</h1>
  <p>Strapless is a color-changing CSS&nbsp;boilerplate.
  <!-- <p>It's also a LessCSS library for colors, contrast and patterns.</p> -->
  <br>It's a better starting point for styling your site.</p>

  <footer>
      <button type="button" onclick="Strapless.downloadCSS();" class="info">Download CSS file for <span class="sl-current-color">current color</span></button>
      <a class="reaction button" href="http://github.com/Tivix/strapless">Less/GitHub</a>
      <!--<button class="failure" type="button" onclick="Strapless.downloadDemoCSS();">Get demo CSS (dev)</button>-->
  </footer>
</main>

<section id="why">
  <aside id="philosophy">
      <h6>The Strapless philosophy</h6>
      <ul>
          <li>Use simple, semantic HTML with very few classes.</li>
          <li>Let inheritance, standards and defaults work for you.</li>
          <li>Solve color, contrast, and a11y at the beginning, not the end.</li>
          <li>Always pick complex CSS over complex HTML.</li>
      </ul>
  </aside>
  <h1>Why Strapless?</h1>

  <p>Strapless isn't a CSS micro/mini/nano-framework. It's a CSS boilerplate. It makes your standard HTML look great, like this page.</p>
  <p>Learning Strapless is easy: <strong>1)</strong> Know HTML. <strong>2)</strong> Use <em>main</em>, <em>section</em> and <em>aside</em> (inside sections) elements to lay out your content. <strong>3)</strong> Use the <code>action</code>, <code>reaction</code>, <code>info</code>, <code>warning</code>, <code>success</code> and <code>failure</code> classes to endow HTML elements with their corresponding semantic looks.</p>

</section>



<section>
    <h1>Install Strapless</h1>
    <p>If you're new to CSS and/or <a href="http://lesscss.org/">Less</a>, or your project is something small or prototype-y, you probably want the CSS version. Pick a color you like, then get the CSS version. If you're comfortable with Less, however, try one of the following:</p>
    <aside>
      <p>Related: <a href="http://lesscss.org/usage/" target="_blank">Using less.js</a></p>
    </aside>

    <p>Get Strapless through npm:</p>
    <p><pre>npm install strapless</pre></p>

    <aside>
      <p>Need a <strong>file to use</strong>, not <strong>something to install</strong>?</p>
      <button type="button" class="failure" onclick="Strapless.downloadCSS();">Get the CSS version</button>
    </aside>

    <p>Or grab it off GitHub:</p>
    <p><pre>git clone git@github.com:Tivix/strapless.git</pre></p>

    <p>Strapless is designed to serve as a base for your project's Less or CSS. Download it once and start your project.</p>

    <p>For the simplest, quickest start, just use it like an extra-thick normalize.css, adding your own styles after it (if you add any at all).</p>

    <p>Strapless is written in Less, which is flexible and easy to use. The best way to use Strapless is to download it and adopt Strapless's Less files and architecture as the starting point for your own project's styles.</p>

    <h3>Features</h3>
    <ul>
      <li><strong>Typographic responsiveness:</strong> Strapless isn't merely mobile-first responsive &mdash; it preserves text measure! In other words, line breaks in sections and asides will be preserved across all resolutions.</li>
      <li><strong>AA-level text contrast:</strong> AA-level text contrast <em>with any base color!</em> Whether @background is bright yellow or dark blue, the body text will meet contrast standards.</li>
      <li><strong>Out-of-the-box, brand-friendly HTML:</strong> Good for side projects that just need a quick CSS file, <em>and</em> for bigger projects that need style architecture.</li>
    </ul>
</section>

<section>
  <h1>Do more with <em>just</em> HTML.</h1>
  <aside>
    <p>Strapless lets you build your project from the ground up, instead of chiseling it out of a <em>we-know-better</em> block of marble.</p>
  </aside>
  <p>There aren't many conventions to remember, HTML-wise. We keep HTML elements as simplified building blocks and dump the stylization complexity where it belongs &mdash; in the CSS, not the markup.</p>
  <aside>
    <p>Can't decide on the Less or CSS version? Don't worry! It's easy to go from the CSS version to the Less version.</p>
  </aside>
  <p>Of course, the <a href="http://github.com/Tivix/strapless" target="_blank">Less version</a> also mirrors that philosophy, so it has <em>bunches</em> of conventions and mix-ins to learn, use and master.</p>
  <p>In other words: Strapless is either a simple CSS boilerplate or a bells-and-whistles architectural scaffold for your Less project.</p>

</section>

{{> page/colors}}
{{> page/patterns}}
{{> page/elements}}
{{> page/mixins}}


<section class="reaction">
        <footer>
          <button class="failure">Download current CSS</button>
          <button>View Github page</button>
        </footer>
</section>

<section id="thanks">
    <h1>Special thanks</h1>
    <p>This library wouldn't be possible without the following awesome OSS contributions:</p>
    <ul>
        <li><a href="http://www.getbootstrap.com">Bootstrap</a>, of which we are a fork, sorta.</li>
        <li><a href="http://www.lesscss.org">LessCSS</a>, one of the finest pieces of software ever written.</li>
        <li><a href="https://philiprogers.com/svgpatterns/">Philip Rogers</a>, who made a bunch of the amazing SVGs we used.</li>
        <li><a href="http://lea.verou.me/css3patterns/">Lea Verou</a>, who made a lot of <em>those</em> patterns originally, in CSS.</li>
    </ul>
</section>
