<main id="feature" class="info">
    <h1>Strapless</h1>
    <p>A color-changing CSS&nbsp;boilerplate and powerful LessCSS library for colors and patterns.</p>

    <aside>
        <button type="button" onclick="Strapless.downloadCSS();">Get CSS for <span class="sl-current-color">current color</span></button>
        <a class="reaction button" href="http://github.com/Tivix/strapless">Less/GitHub</a>
        <!--<button class="failure" type="button" onclick="Strapless.downloadDemoCSS();">Get demo CSS (dev)</button>-->
    </aside>
</main>

<section id="why">
    <h1>Why Strapless?</h1>
    <p>Strapless isn't a CSS micro/mini/nano-framework. It's a CSS boilerplate. It just makes your plain HTML look good.</p>
    <p>With only six semantic CSS classes to worry about (action, reaction, success, failure, info, warning), Strapless frees you from the overprescriptive cruft of frameworks. Use the grid you like. Snag a dropdown menu that works for your project, not the one we picked and named for you. You were probably going to do that <em>anyway</em>, right?</p>
    <p>Strapless aims to let you work how you want, building your project from the ground up, instead of chiseling it out of a we-know-better block of marble.</p>
    <p>Basically, Strapless makes your HTML look like this page. Try it out now by changing the base color. Then, download that color's CSS file and use it to start building&mdash; from the ground up.</p>
</section>

<section>
{{> page/demo}}
</section>

<section id="philosophy" class="info">
    <h1>Philosophy</h1>
    <ul>
        <li>Full support for HTML elements (and only HTML elements)</li>
        <li>Smart CSS rules for good out-of-the-box layouts</li>
        <li>Wide support for base colors and patterns</li>
        <li>Opinionated but simple design rules</li>
        <li>Easy to overwrite when everything goes horribly wrong</li>
        <li>No grid, no columns, no components</li>
        <li>There are no ugly colors, only ugly color schemes</li>
    </ul>
</section>

<section>
    <h1>Install Strapless</h1>
    <p>Get Strapless through npm:</p>
    <p><pre>npm install strapless</pre></p>

    <p>Or GitHub:</p>
    <p><pre>git clone git@github.com:Tivix/strapless.git</pre></p>

    <p>Or just download it <em>like a normal person</em>. Click "Get CSS" to get just the CSS for the current preview color.</p>
</section>

{{> page/elements}}
{{> page/colors}}
{{> page/patterns}}

<section class="reaction">
    <aside>
        <h6>Download it now</h6>
        <button class="failure">Download</button>
        <button>Github</button>
    </aside>
</section>

<section id="thanks">
    <h1>Special thanks</h1>
    <p>This library wouldn't be possible without the following awesome OSS contributions:</p>
    <ul>
        <li><a href="http://www.getbootstrap.com">Bootstrap</a>, of which we are a fork, sorta.</li>
        <li><a href="http://www.lesscss.org">LessCSS</a>, one of the finest pieces of software ever written.</li>
        <li><a href="https://philiprogers.com/svgpatterns/">Philip Rogers</a>, who made a bunch of the awesome SVGs we used.</li>
        <li><a href="http://lea.verou.me/css3patterns/">Lea Verou</a>, who made a lot of <em>those</em> patterns originally, in CSS.</li>
    </ul>
</section>
