<main id="feature">
  <h1>Ditch the frameworks.<br>
    Write markup with HTML.</h1>
  <p>Strapless is a color-changing CSS&nbsp;boilerplate.
  <!-- <p>It's also a LessCSS library for colors, contrast and patterns.</p> -->
  <br>It's a better starting point for styling your site.</p>

  <footer>
      <button type="button" onclick="Strapless.downloadCSS();" class="info">Download CSS file for <span class="sl-current-color">current color</span></button>
      <a class="reaction button" href="http://github.com/Tivix/strapless">Less/GitHub</a>
      <!--<button class="failure" type="button" onclick="Strapless.downloadDemoCSS();">Get demo CSS (dev)</button>-->
  </footer>
</main>

<section id="why">
    <aside id="philosophy">
        <h6>The Strapless philosophy</h6>
        <ul>
            <li>Everybody knows HTML, so use it.</li>
            <li>Inheritance, standards and defaults rule.</li>
            <li>No grid, no columns, no components.</li>
            <li>Color, contrast, usability and accessibility all go hand-in-hand.</li>
        </ul>
    </aside>
    <h1>Why Strapless?</h1>
    <p>Strapless isn't a CSS micro/mini/nano-framework. It's a CSS boilerplate. It makes your standard HTML look great, like this page.</p>
    <p>Strapless lets you build your project from the ground up, instead of chiseling it out of a <em>we-know-better</em> block of marble.</p>
</section>

{{> page/demo}}

<section>
    <h1>Install Strapless</h1>
    <p>Get Strapless through npm:</p>
    <p><pre>npm install strapless</pre></p>

    <aside>
      <p>Need a <strong>file to use</strong>, not <strong>something to install</strong>?</p>
      <button type="button" class="failure" onclick="Strapless.downloadCSS();">Get the CSS version</button>
    </aside>

    <p>Or grab it off GitHub:</p>
    <p><pre>git clone git@github.com:Tivix/strapless.git</pre></p>

    <p>Strapless is designed to serve as a base for your project's Less or CSS. Download it once and start your project.</p>

    <aside class="info"><p><strong>New in Strapless v2!</strong></p>
      <ul>
        <li>Faux two-column experience</li>
        <li>Luma-fixing on algo colors</li>
        <li>Stripped-down basics</li>
      </ul>
    </aside>

    <p>For the simplest, quickest start, just use it like an extra-thick normalize.css, adding your own styles after it.</p>

    <p>Strapless is written in Less, which is super flexible and easy to use. The best way to use Strapless is to download it and adopt Strapless's Less files and architecture as the starting point for your own project's styles.</p>

    <h3>Features</h3>
    <ul>
      <li><strong>Typographic responsiveness:</strong> Strapless isn't merely mobile-first responsive &mdash; it preserves text measure! In other words, line breaks in sections and asides will be preserved across all resolutions.</li>
      <li><strong>AA-level text contrast:</strong> AA-level text contrast <em>with any base color!</em> Whether @background is bright yellow or dark blue, the body text will meet contrast standards.</li>
      <li><strong>Semantic classes:</strong> Strapless uses six semantic classes that work on everything: Action, reaction, info, warning, success, failure.</li>
    </ul>
</section>

{{> page/colors}}
{{> page/patterns}}
{{> page/elements}}
{{> page/mixins}}


<section class="reaction">
    <aside>
        <h6>Download it now</h6>
        <button class="failure">Download</button>
        <button>Github</button>
    </aside>
</section>

<section id="thanks">
    <h1>Special thanks</h1>
    <p>This library wouldn't be possible without the following awesome OSS contributions:</p>
    <ul>
        <li><a href="http://www.getbootstrap.com">Bootstrap</a>, of which we are a fork, sorta.</li>
        <li><a href="http://www.lesscss.org">LessCSS</a>, one of the finest pieces of software ever written.</li>
        <li><a href="https://philiprogers.com/svgpatterns/">Philip Rogers</a>, who made a bunch of the awesome SVGs we used.</li>
        <li><a href="http://lea.verou.me/css3patterns/">Lea Verou</a>, who made a lot of <em>those</em> patterns originally, in CSS.</li>
    </ul>
</section>
