<main id="feature" class="action">
  <section>
    <h1>Ditch the frameworks. <br>Write markup with HTML.</h1>
    <p>Strapless is a color-changing CSS&nbsp;boilerplate and LessCSS library for colors and patterns.</p>
    <p>It's a better starting point for styling your site.</p>

    <footer>
        <button type="button" onclick="Strapless.downloadCSS();">Get CSS for <span class="sl-current-color">current color</span></button>
        <a class="reaction button" href="http://github.com/Tivix/strapless">Less/GitHub</a>
        <!--<button class="failure" type="button" onclick="Strapless.downloadDemoCSS();">Get demo CSS (dev)</button>-->
    </footer>
  </section>
</main>

<section id="why">
    <h1>Why Strapless?</h1>
    <p>Strapless isn't a CSS micro/mini/nano-framework. It's a CSS boilerplate. It makes your standard HTML look great.</p>
    <p>This boilerplate aims to underprescribe, letting you work how you want to build your project from the ground up, instead of chiseling it out of a <em>we-know-better</em> block of marble.</p>
    <p>Try it out now by changing this page's base color. Then, download that color's CSS file (or use the Less version!), which will make your plain, normal, everyday HTML look like this page. Then, use it to start building&mdash; from the ground up.</p>
</section>

{{> page/demo}}

<section id="philosophy" class="info">
    <h1>Philosophy</h1>
    <ul>
        <li>Everybody knows HTML.</li>
        <li>Semantics matter.</li>
        <li>No grid, no columns, no components.</li>
        <li>There are no ugly colors, only ugly color schemes.</li>
    </ul>
</section>

<section>
    <h1>Install Strapless</h1>
    <p>Get Strapless through npm:</p>
    <p><pre>npm install strapless</pre></p>

    <p>Or GitHub:</p>
    <p><pre>git clone git@github.com:Tivix/strapless.git</pre></p>

    <p>Or just download it here, on this page! Click "Get CSS" to get the base Strapless CSS interpreted in the current preview color.</p>
</section>

{{> page/elements}}
{{> page/colors}}
{{> page/patterns}}

<section class="reaction">
    <aside>
        <h6>Download it now</h6>
        <button class="failure">Download</button>
        <button>Github</button>
    </aside>
</section>

<section id="thanks">
    <h1>Special thanks</h1>
    <p>This library wouldn't be possible without the following awesome OSS contributions:</p>
    <ul>
        <li><a href="http://www.getbootstrap.com">Bootstrap</a>, of which we are a fork, sorta.</li>
        <li><a href="http://www.lesscss.org">LessCSS</a>, one of the finest pieces of software ever written.</li>
        <li><a href="https://philiprogers.com/svgpatterns/">Philip Rogers</a>, who made a bunch of the awesome SVGs we used.</li>
        <li><a href="http://lea.verou.me/css3patterns/">Lea Verou</a>, who made a lot of <em>those</em> patterns originally, in CSS.</li>
    </ul>
</section>
