<section id="patterns">
    <h1>Patterns</h1>
    <p>It's got patterns! For the Less version. (Limited CSS support coming soon.)</p>
    <p>Patterns work like background images... Because they are.</p>
    <p>Using them is easy: They're mixins that use the pattern's name and take any color as an argument, like <code>.pegboard(@color1)</code> or <code>.blueprint(@info)</code>.</p>
    <h4>Blueprint</h4>
    <div id="strapless_patterns_blueprint" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Crosshatch</h4>
    <div id="strapless_patterns_crosshatch" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Bathmat</h4>
    <div id="strapless_patterns_bathmat" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Pegboard</h4>
    <div id="strapless_patterns_pegboard" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Argyle</h4>
    <div id="strapless_patterns_argyle" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Checkerboard</h4>
    <div id="strapless_patterns_checkerboard" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Dots</h4>
    <div id="strapless_patterns_dots" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Stripes</h4>
    <div id="strapless_patterns_stripes" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Honeycomb</h4>
    <div id="strapless_patterns_honeycomb" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Noise</h4>
    <div id="strapless_patterns_noise" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <h4>Chevrons</h4>
    <div id="strapless_patterns_chevrons" class="pattern-preview">
        <div class="pattern"></div>
        <div class="pattern"></div>
        <div class="pattern"></div>
    </div>
    <p>Since they're mixins, patterns don't gum up your CSS file until you use them.</p>
    <p>Patterns accept an optional second argument, the scale of the texture, which defaults to 1.</p>
    <p>Patterns are intended to give Strapless users a way to quickly add texture and depth to their sites. Adding your own responsive color patterns will be hard.</p>
</section>