<section id="colors">
    <h1>Colors</h1>
    <p>Give Strapless a base color and a color wheel to  get a full color scheme back. (For now, the CSS version only supports <em>accented</em>.)</p>
    <div class="palettes">
        <div id="sl_accented" class="palette-preview">
            <h3>Accented</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_complementary" class="palette-preview">
            <h3>Complementary</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_triadic" class="palette-preview">
            <h3>Triadic</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_tetradic" class="palette-preview">
            <h3>Tetradic</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_ebb" class="palette-preview">
            <h3>Ebb</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_flow" class="palette-preview">
            <h3>Flow</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_monochromatic" class="palette-preview">
            <h3>Monochromatic</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
        <div id="sl_square" class="palette-preview">
            <h3>Square</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 swatch"></p>
                <p class="sl-color1a swatch"></p>
                <p class="sl-color1b swatch"></p>
                <p class="sl-color1c swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 swatch"></p>
                <p class="sl-color2a swatch"></p>
                <p class="sl-color2b swatch"></p>
                <p class="sl-color2c swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 swatch"></p>
                <p class="sl-color3a swatch"></p>
                <p class="sl-color3b swatch"></p>
                <p class="sl-color3c swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 swatch"></p>
                <p class="sl-color4a swatch"></p>
                <p class="sl-color4b swatch"></p>
                <p class="sl-color4c swatch"></p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p>If you're using the Less version, the color palette is available to your whole project. Colors come in four generically named main colors: <code>@color1</code>, <code>@color2</code>, <code>@color3</code> and <code>@color4</code>. Each has three subcolors: a lightened version (<code>@color1a</code>), an alternate (<code>@color1b</code>) and a darkened version (<code>@color1c</code>).</p>
    <p>Additionally, Strapless figures out a few semantic colors:</p>
    <aside id="semantic_colors">
        <p class="sl-single-color sl-color-action">@action</p>
        <p class="sl-single-color sl-color-reaction">@reaction</p>
        <p class="sl-single-color sl-color-info">@info</p>
        <p class="sl-single-color sl-color-warning">@warning</p>
        <p class="sl-single-color sl-color-success">@success</p>
        <p class="sl-single-color sl-color-failure">@failure</p>
    </aside>
    <p>And a full suite of grays:</p>
    <aside id="grays">
        <p class="sl-single-color sl-gray sl-color-gray-lighter">@gray-lighter</p>
        <p class="sl-single-color sl-gray sl-color-gray-light">@gray-light</p>
        <p class="sl-single-color sl-gray sl-color-gray">@gray</p>
        <p class="sl-single-color sl-gray sl-color-gray-dark">@gray-dark</p>
        <p class="sl-single-color sl-gray sl-color-gray-darker">@gray-darker</p>
    </aside>
    <p>All of these colors adjust to the color scheme while still retaining their semantic meaning. The <code>@action</code> and <code>@reaction</code> pair are based on the base color and its complement.</p>
</section>