#sl_accented .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_accented .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_accented .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_accented .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_accented .sl-color2 {
  background: #d57571;
  color: white;
}
#sl_accented .sl-color2a {
  background: #dc9689;
  color: white;
}
#sl_accented .sl-color2b {
  background: #d57287;
  color: white;
}
#sl_accented .sl-color2c {
  background: #d06460;
  color: white;
}
#sl_accented .sl-color3 {
  background: #7a8ed8;
  color: white;
}
#sl_accented .sl-color3a {
  background: #92acdf;
  color: white;
}
#sl_accented .sl-color3b {
  background: #8986db;
  color: white;
}
#sl_accented .sl-color3c {
  background: #7086d5;
  color: white;
}
#sl_accented .sl-color4 {
  background: #3ac261;
  color: white;
}
#sl_accented .sl-color4a {
  background: #4fcb82;
  color: black;
}
#sl_accented .sl-color4b {
  background: #39c082;
  color: white;
}
#sl_accented .sl-color4c {
  background: #37b85c;
  color: white;
}
#sl_complementary .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_complementary .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_complementary .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_complementary .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_complementary .sl-color2 {
  background: #d57571;
  color: white;
}
#sl_complementary .sl-color2a {
  background: #dc9689;
  color: white;
}
#sl_complementary .sl-color2b {
  background: #d57287;
  color: white;
}
#sl_complementary .sl-color2c {
  background: #d06460;
  color: white;
}
#sl_complementary .sl-color3 {
  background: #54aacc;
  color: white;
}
#sl_complementary .sl-color3a {
  background: #6bc2d3;
  color: black;
}
#sl_complementary .sl-color3b {
  background: #39bbc0;
  color: white;
}
#sl_complementary .sl-color3c {
  background: #42a1c7;
  color: white;
}
#sl_complementary .sl-color4 {
  background: #d28566;
  color: white;
}
#sl_complementary .sl-color4a {
  background: #d9a37d;
  color: white;
}
#sl_complementary .sl-color4b {
  background: #cc9352;
  color: white;
}
#sl_complementary .sl-color4c {
  background: #cc7754;
  color: white;
}
#sl_complementary-b .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_complementary-b .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_complementary-b .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_complementary-b .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_complementary-b .sl-color2 {
  background: #d57571;
  color: white;
}
#sl_complementary-b .sl-color2a {
  background: #dc9689;
  color: white;
}
#sl_complementary-b .sl-color2b {
  background: #d57287;
  color: white;
}
#sl_complementary-b .sl-color2c {
  background: #d06460;
  color: white;
}
#sl_complementary-b .sl-color3 {
  background: #38bea1;
  color: white;
}
#sl_complementary-b .sl-color3a {
  background: #4bcabe;
  color: black;
}
#sl_complementary-b .sl-color3b {
  background: #39bbc0;
  color: white;
}
#sl_complementary-b .sl-color3c {
  background: #35b499;
  color: white;
}
#sl_complementary-b .sl-color4 {
  background: #d57287;
  color: white;
}
#sl_complementary-b .sl-color4a {
  background: #dc89a5;
  color: white;
}
#sl_complementary-b .sl-color4b {
  background: #d57571;
  color: white;
}
#sl_complementary-b .sl-color4c {
  background: #d06078;
  color: white;
}
#sl_triadic .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_triadic .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_triadic .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_triadic .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_triadic .sl-color2 {
  background: #a8ac33;
  color: white;
}
#sl_triadic .sl-color2a {
  background: #aec43a;
  color: black;
}
#sl_triadic .sl-color2b {
  background: #8fb335;
  color: white;
}
#sl_triadic .sl-color2c {
  background: #9ea230;
  color: white;
}
#sl_triadic .sl-color3 {
  background: #d36bcf;
  color: white;
}
#sl_triadic .sl-color3a {
  background: #d282da;
  color: white;
}
#sl_triadic .sl-color3b {
  background: #c072d5;
  color: white;
}
#sl_triadic .sl-color3c {
  background: #ce59c9;
  color: white;
}
#sl_triadic .sl-color4 {
  background: #54aacc;
  color: white;
}
#sl_triadic .sl-color4a {
  background: #79b0d7;
  color: white;
}
#sl_triadic .sl-color4b {
  background: #39bbc0;
  color: white;
}
#sl_triadic .sl-color4c {
  background: #42a1c7;
  color: white;
}
#sl_triadic-b .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_triadic-b .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_triadic-b .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_triadic-b .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_triadic-b .sl-color2 {
  background: #a8ac33;
  color: white;
}
#sl_triadic-b .sl-color2a {
  background: #aec43a;
  color: black;
}
#sl_triadic-b .sl-color2b {
  background: #8fb335;
  color: white;
}
#sl_triadic-b .sl-color2c {
  background: #9ea230;
  color: white;
}
#sl_triadic-b .sl-color3 {
  background: #d36bcf;
  color: white;
}
#sl_triadic-b .sl-color3a {
  background: #d282da;
  color: white;
}
#sl_triadic-b .sl-color3b {
  background: #c072d5;
  color: white;
}
#sl_triadic-b .sl-color3c {
  background: #ce59c9;
  color: white;
}
#sl_triadic-b .sl-color4 {
  background: #38bea1;
  color: white;
}
#sl_triadic-b .sl-color4a {
  background: #4bcabe;
  color: black;
}
#sl_triadic-b .sl-color4b {
  background: #39bbc0;
  color: white;
}
#sl_triadic-b .sl-color4c {
  background: #35b499;
  color: white;
}
#sl_tetradic .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_tetradic .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_tetradic .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_tetradic .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_tetradic .sl-color2 {
  background: #d57571;
  color: white;
}
#sl_tetradic .sl-color2a {
  background: #dc9689;
  color: white;
}
#sl_tetradic .sl-color2b {
  background: #d57287;
  color: white;
}
#sl_tetradic .sl-color2c {
  background: #d06460;
  color: white;
}
#sl_tetradic .sl-color3 {
  background: #7a8ed8;
  color: white;
}
#sl_tetradic .sl-color3a {
  background: #92acdf;
  color: white;
}
#sl_tetradic .sl-color3b {
  background: #8986db;
  color: white;
}
#sl_tetradic .sl-color3c {
  background: #7086d5;
  color: white;
}
#sl_tetradic .sl-color4 {
  background: #c5a83b;
  color: white;
}
#sl_tetradic .sl-color4a {
  background: #ccc153;
  color: black;
}
#sl_tetradic .sl-color4b {
  background: #a7ab33;
  color: white;
}
#sl_tetradic .sl-color4c {
  background: #bca038;
  color: white;
}
#sl_tetradic-b .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_tetradic-b .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_tetradic-b .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_tetradic-b .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_tetradic-b .sl-color2 {
  background: #d57571;
  color: white;
}
#sl_tetradic-b .sl-color2a {
  background: #dc9689;
  color: white;
}
#sl_tetradic-b .sl-color2b {
  background: #d57287;
  color: white;
}
#sl_tetradic-b .sl-color2c {
  background: #d06460;
  color: white;
}
#sl_tetradic-b .sl-color3 {
  background: #3ac261;
  color: white;
}
#sl_tetradic-b .sl-color3a {
  background: #4fcb82;
  color: black;
}
#sl_tetradic-b .sl-color3b {
  background: #39c082;
  color: white;
}
#sl_tetradic-b .sl-color3c {
  background: #37b85c;
  color: white;
}
#sl_tetradic-b .sl-color4 {
  background: #d46eb7;
  color: white;
}
#sl_tetradic-b .sl-color4a {
  background: #db85b8;
  color: white;
}
#sl_tetradic-b .sl-color4b {
  background: #d36bcf;
  color: white;
}
#sl_tetradic-b .sl-color4c {
  background: #cf5cae;
  color: white;
}
#sl_square .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_square .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_square .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_square .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_square .sl-color2 {
  background: #d57571;
  color: white;
}
#sl_square .sl-color2a {
  background: #dc9689;
  color: white;
}
#sl_square .sl-color2b {
  background: #d57287;
  color: white;
}
#sl_square .sl-color2c {
  background: #d06460;
  color: white;
}
#sl_square .sl-color3 {
  background: #75bc38;
  color: white;
}
#sl_square .sl-color3a {
  background: #94c949;
  color: black;
}
#sl_square .sl-color3b {
  background: #91b636;
  color: white;
}
#sl_square .sl-color3c {
  background: #6fb235;
  color: white;
}
#sl_square .sl-color4 {
  background: #ac7ad7;
  color: white;
}
#sl_square .sl-color4a {
  background: #b191de;
  color: white;
}
#sl_square .sl-color4b {
  background: #c073d5;
  color: white;
}
#sl_square .sl-color4c {
  background: #a670d4;
  color: white;
}
#sl_ebb .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_ebb .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_ebb .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_ebb .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_ebb .sl-color2 {
  background: #d28566;
  color: white;
}
#sl_ebb .sl-color2a {
  background: #d9a37d;
  color: white;
}
#sl_ebb .sl-color2b {
  background: #cc9352;
  color: white;
}
#sl_ebb .sl-color2c {
  background: #cc7754;
  color: white;
}
#sl_ebb .sl-color3 {
  background: #54aacc;
  color: white;
}
#sl_ebb .sl-color3a {
  background: #6bc2d3;
  color: black;
}
#sl_ebb .sl-color3b {
  background: #39bbc0;
  color: white;
}
#sl_ebb .sl-color3c {
  background: #42a1c7;
  color: white;
}
#sl_ebb .sl-color4 {
  background: #7a8ed8;
  color: white;
}
#sl_ebb .sl-color4a {
  background: #92acdf;
  color: white;
}
#sl_ebb .sl-color4b {
  background: #8986db;
  color: white;
}
#sl_ebb .sl-color4c {
  background: #7086d5;
  color: white;
}
#sl_flow .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_flow .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_flow .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_flow .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_flow .sl-color2 {
  background: #d57287;
  color: white;
}
#sl_flow .sl-color2a {
  background: #dc89a5;
  color: white;
}
#sl_flow .sl-color2b {
  background: #d57571;
  color: white;
}
#sl_flow .sl-color2c {
  background: #d06078;
  color: white;
}
#sl_flow .sl-color3 {
  background: #38bea1;
  color: white;
}
#sl_flow .sl-color3a {
  background: #4bcabe;
  color: black;
}
#sl_flow .sl-color3b {
  background: #39bbc0;
  color: white;
}
#sl_flow .sl-color3c {
  background: #35b499;
  color: white;
}
#sl_flow .sl-color4 {
  background: #3ac261;
  color: white;
}
#sl_flow .sl-color4a {
  background: #4fcb82;
  color: black;
}
#sl_flow .sl-color4b {
  background: #39c082;
  color: white;
}
#sl_flow .sl-color4c {
  background: #37b85c;
  color: white;
}
#sl_monochromatic .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_monochromatic .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_monochromatic .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_monochromatic .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_monochromatic .sl-color2 {
  background: #60a2d0;
  color: white;
}
#sl_monochromatic .sl-color2a {
  background: #77bbd7;
  color: black;
}
#sl_monochromatic .sl-color2b {
  background: #46b3c8;
  color: white;
}
#sl_monochromatic .sl-color2c {
  background: #4e97ca;
  color: white;
}
#sl_monochromatic .sl-color3 {
  background: #46b3c8;
  color: white;
}
#sl_monochromatic .sl-color3a {
  background: #5dcbcf;
  color: black;
}
#sl_monochromatic .sl-color3b {
  background: #38bcb0;
  color: white;
}
#sl_monochromatic .sl-color3c {
  background: #38a9be;
  color: white;
}
#sl_monochromatic .sl-color4 {
  background: #38bcb0;
  color: white;
}
#sl_monochromatic .sl-color4a {
  background: #49c4c9;
  color: black;
}
#sl_monochromatic .sl-color4b {
  background: #45b2c8;
  color: white;
}
#sl_monochromatic .sl-color4c {
  background: #35b2a7;
  color: white;
}
#sl_monochromatic-b .sl-color1 {
  background: #39BBC0;
  color: white;
}
#sl_monochromatic-b .sl-color1a {
  background: #4dcabf;
  color: black;
}
#sl_monochromatic-b .sl-color1b {
  background: #38bea1;
  color: white;
}
#sl_monochromatic-b .sl-color1c {
  background: #36b1b6;
  color: white;
}
#sl_monochromatic-b .sl-color2 {
  background: #39bf92;
  color: white;
}
#sl_monochromatic-b .sl-color2a {
  background: #4ccaaf;
  color: black;
}
#sl_monochromatic-b .sl-color2b {
  background: #38bcb0;
  color: white;
}
#sl_monochromatic-b .sl-color2c {
  background: #36b58a;
  color: white;
}
#sl_monochromatic-b .sl-color3 {
  background: #46b3c8;
  color: white;
}
#sl_monochromatic-b .sl-color3a {
  background: #5dcbcf;
  color: black;
}
#sl_monochromatic-b .sl-color3b {
  background: #38bcb0;
  color: white;
}
#sl_monochromatic-b .sl-color3c {
  background: #38a9be;
  color: white;
}
#sl_monochromatic-b .sl-color4 {
  background: #38bcb0;
  color: white;
}
#sl_monochromatic-b .sl-color4a {
  background: #49c4c9;
  color: black;
}
#sl_monochromatic-b .sl-color4b {
  background: #45b2c8;
  color: white;
}
#sl_monochromatic-b .sl-color4c {
  background: #35b2a7;
  color: white;
}
.sl-swatch-base,
.swatch {
  display: none;
  float: left;
  font-size: 10px;
  min-width: 24.8px;
  width: 25%;
  height: 25px;
  margin: 0;
  text-align: right;
  line-height: 28px;
  display: block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .sl-swatch-base,
  .swatch {
    min-width: 31px;
    height: 25px;
  }
}
.sl-swatch-base:before,
.swatch:before {
  display: none;
}
.sl-color-container,
.palette-preview h3 {
  width: 100%;
  max-width: 100%;
  line-height: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .sl-color-container,
  .palette-preview h3 {
    max-width: 100%;
  }
}
#palettes {
  clear: both;
  margin-bottom: 1em;
}
#palettes:after {
  display: block;
  clear: both;
  content: "";
}
.sl-color-container {
  margin-bottom: 0;
}
.palette-preview {
  display: inline-block;
  margin-bottom: 0.5em;
  position: relative;
}
.palette-preview h3 {
  font-size: 12px;
  text-align: center;
}
.palette-preview:before {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
@media screen and (min-width: 288px) {
  .palette-preview {
    width: 32%;
  }
}
.main-color,
.a-color,
.b-color,
.c-color {
  font-size: 9px;
}
.main-color:after,
.a-color:after,
.b-color:after,
.c-color:after {
  content: "(main)";
  position: absolute;
  right: 2px;
  bottom: 2px;
  line-height: 12px;
}
.a-color:after {
  content: "(a)";
}
.b-color:after {
  content: "(b)";
}
.c-color:after {
  content: "(c)";
}
.sl-color1:after {
  content: "(1)";
}
.sl-color2:after {
  content: "(2)";
}
.sl-color3:after {
  content: "(3)";
}
.sl-color4:after {
  content: "(4)";
}
.sl-single-color {
  display: inline-block;
  font-size: 11px;
  line-height: 40px;
  max-width: 25%;
  height: 40px;
  padding: 0 6px;
  margin: 0;
  text-align: center;
}
.sl-color-action {
  background-color: #38bea1;
  color: #133f36;
}
.sl-color-reaction {
  background-color: #d57571;
  color: #351d1c;
}
.sl-color-info {
  background-color: #25b7fb;
  color: #0c3d54;
}
.sl-color-warning {
  background-color: #fc7e44;
  color: #4a2514;
}
.sl-color-success {
  background-color: #67b867;
  color: #1e361e;
}
.sl-color-failure {
  background-color: #f1454b;
  color: #280c0d;
}
.sl-color-gray-lighter {
  background-color: #929292;
  color: #242424;
}
.sl-color-gray-light {
  background-color: #727272;
  color: #ffffff;
}
.sl-color-gray {
  background-color: #525252;
  color: #ffffff;
}
.sl-color-gray-dark {
  background-color: #323232;
  color: #d1d1d1;
}
.sl-color-gray-darker {
  background-color: #000000;
  color: #a3a3a3;
}
.sl-color-white {
  background: white;
  color: #494949;
}
.sl-color-black {
  background: black;
  color: #a3a3a3;
}
.checkerboard-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='rgb(57,187,192)'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(56,185,190)'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: center center;
  color: #133e40;
}
.checkerboard-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='rgb(77,202,191)'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(72,199,188)'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: center center;
  color: #1a4340;
}
.checkerboard-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='rgb(56,190,161)'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(56,187,159)'/%3E%3C/svg%3E");
  background-size: 30px, 60px;
  background-position: center center;
  color: #133f36;
}
.bathmat-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='rgb(57,187,192)'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='rgb(56,185,190)' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='rgb(56,185,190)' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='rgb(56,185,190)' fill='none'/%3E%3C/svg%3E");
  background-size: 15px 15px;
  color: #133e40;
}
.bathmat-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='rgb(77,202,191)'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='rgb(72,199,188)' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='rgb(72,199,188)' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='rgb(72,199,188)' fill='none'/%3E%3C/svg%3E");
  background-size: 20px 20px;
  color: #1a4340;
}
.bathmat-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='rgb(56,190,161)'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='rgb(56,187,159)' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='rgb(56,187,159)' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='rgb(56,187,159)' fill='none'/%3E%3C/svg%3E");
  background-size: 20px 20px;
  color: #133f36;
}
.crosshatch-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='rgb(57,187,192)'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='rgb(56,185,190)'/%3E%3C/svg%3E");
  background-size: 8px 8px;
  color: #133e40;
}
.crosshatch-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='rgb(77,202,191)'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='rgb(72,199,188)'/%3E%3C/svg%3E");
  background-size: 16px 16px;
  color: #1a4340;
}
.crosshatch-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='rgb(56,190,161)'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='rgb(56,187,159)'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  color: #133f36;
}
.blueprint-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128px' height='128px'%3E %3Crect width='128px' height='128px' fill='rgb(57,187,192)'/%3E %3Cg fill='rgb(56,184,189)'%3E %3Crect width='128px' height='1' y='32px'/%3E %3Crect width='128px' height='1' y='64px'/%3E %3Crect width='128px' height='1' y='96px'/%3E %3Crect width='1' height='128px' x='32px'/%3E %3Crect width='1' height='128px' x='0'/%3E %3Crect width='1' height='128px' x='96px'/%3E %3C/g%3E %3Crect width='128px' height='1' y='0' fill='none' stroke-width='1' stroke='rgb(56,183,188)'/%3E %3Crect width='1' height='128px' x='64px' fill='none' stroke-width='1' stroke='rgb(56,183,188)'/%3E %3C/svg%3E");
  background-size: 128px, 128px;
  background-position: top center;
  color: #133e40;
}
.blueprint-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128px' height='128px'%3E %3Crect width='128px' height='128px' fill='rgb(208,100,96)'/%3E %3Cg fill='rgb(206,94,90)'%3E %3Crect width='128px' height='1' y='32px'/%3E %3Crect width='128px' height='1' y='64px'/%3E %3Crect width='128px' height='1' y='96px'/%3E %3Crect width='1' height='128px' x='32px'/%3E %3Crect width='1' height='128px' x='0'/%3E %3Crect width='1' height='128px' x='96px'/%3E %3C/g%3E %3Crect width='128px' height='1' y='0' fill='none' stroke-width='1' stroke='rgb(205,92,88)'/%3E %3Crect width='1' height='128px' x='64px' fill='none' stroke-width='1' stroke='rgb(205,92,88)'/%3E %3C/svg%3E");
  background-size: 128px, 128px;
  background-position: top center;
  color: #231110;
}
.blueprint-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128px' height='128px'%3E %3Crect width='128px' height='128px' fill='rgb(103,184,103)'/%3E %3Cg fill='rgb(98,181,98)'%3E %3Crect width='128px' height='1' y='32px'/%3E %3Crect width='128px' height='1' y='64px'/%3E %3Crect width='128px' height='1' y='96px'/%3E %3Crect width='1' height='128px' x='32px'/%3E %3Crect width='1' height='128px' x='0'/%3E %3Crect width='1' height='128px' x='96px'/%3E %3C/g%3E %3Crect width='128px' height='1' y='0' fill='none' stroke-width='1' stroke='rgb(96,180,96)'/%3E %3Crect width='1' height='128px' x='64px' fill='none' stroke-width='1' stroke='rgb(96,180,96)'/%3E %3C/svg%3E");
  background-size: 128px, 128px;
  background-position: top center;
  color: #1e361e;
}
.pegboard-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='rgb(210,108,105)'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='rgb(213,117,113)'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='rgb(208,100,96)'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='rgb(213,117,113)'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='rgb(208,100,96)'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
  color: #351d1c;
}
.pegboard-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='rgb(117,138,214)'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='rgb(122,142,216)'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='rgb(112,134,213)'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='rgb(122,142,216)'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='rgb(112,134,213)'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
  color: #1e2336;
}
.pegboard-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='rgb(53,179,89)'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='rgb(55,184,92)'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='rgb(52,174,87)'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='rgb(55,184,92)'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='rgb(52,174,87)'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
  color: #10361b;
}
.argyle-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='rgb(77,202,191)'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(97,190,208)'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='rgb(80,200,194)'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='rgb(80,200,194)'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center center;
  color: #1a4340;
}
.argyle-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='rgb(146,172,223)'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(162,167,227)'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='rgb(148,171,223)'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='rgb(148,171,223)'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center center;
  color: #31394a;
}
.argyle-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='rgb(57,192,130)'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(58,194,97)'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='rgb(57,192,125)'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='rgb(57,192,125)'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center center;
  color: #13402b;
}
.dots-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(57,187,192)'/%3E %3Crect width='1' height='1' fill='rgb(54,177,182)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #133e40;
}
.dots-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(213,117,113)'/%3E %3Crect width='1' height='1' fill='rgb(208,100,96)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #351d1c;
}
.dots-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(220,150,137)'/%3E %3Crect width='1' height='1' fill='rgb(215,135,119)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #402c28;
}
.stripes-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(122,142,216)'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='rgb(117,138,214)' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
  color: #1e2336;
}
.stripes-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(146,172,223)'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='rgb(137,165,220)' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
  color: #31394a;
}
.stripes-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(137,134,219)'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='rgb(132,129,218)' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
  color: #1d1c2e;
}
.honeycomb-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='rgb(58,194,97)'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgb(58,194,97)' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgb(57,191,95)' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -14px;
  color: #134120;
}
.honeycomb-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='rgb(103,184,103)'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgb(103,184,103)' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgb(99,182,99)' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -14px;
  color: #1e361e;
}
.honeycomb-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='rgb(241,69,75)'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgb(241,69,75)' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgb(241,64,70)' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -14px;
  color: #280c0d;
}
.chevrons-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='rgb(58,194,97)' stroke-width='2.5' stroke='rgb(57,192,96)'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
  color: #134120;
}
.chevrons-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='rgb(37,183,251)' stroke-width='2.5' stroke='rgb(32,182,251)'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
  color: #0c3d54;
}
.chevrons-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='rgb(252,126,68)' stroke-width='2.5' stroke='rgb(252,124,65)'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
  color: #4a2514;
}
.pattern-container {
  margin-bottom: 1rem;
}
.pattern {
  display: inline-block;
  height: 60px;
  padding: 0.5em;
  padding-top: 60.3px;
  position: relative;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
}
.pattern span {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}
@media screen and (min-width: 288px) {
  .pattern {
    min-width: 75px;
    min-height: 100px;
    width: 32%;
    height: 90px;
  }
}
.pattern-preview {
  clear: both;
  max-width: 28rem;
  margin: 0 auto;
}
.pattern-preview:after {
  display: block;
  clear: both;
  content: "";
}
.pattern-preview:before {
  display: none;
  margin-bottom: 0.5em;
}
.pattern-preview:last-of-type {
  margin-bottom: 1.6em;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-size: 16px;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section,
nav,
main,
article {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
.less-var-test {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
body {
  background-color: #39BBC0;
  color: #133e40;
  font-size: 16px;
  font-size: calc((100vw - 2rem)/28);
  line-height: 1.8;
  margin-bottom: 0;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@media screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}
body > main {
  padding-top: calc(2.8rem + 0.5em);
}
nav {
  height: 2.8rem;
  max-height: 2.8rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 10;
  overflow: hidden;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  background-color: #278083;
  color: white;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
nav ul {
  float: right;
  height: 2.8rem;
}
nav li {
  float: left;
  height: 2.8rem;
  line-height: 2.8rem;
  list-style: none;
}
nav li a {
  display: block;
  float: left;
  color: inherit;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.5em;
}
nav li a:last-child {
  margin-right: 0;
}
nav a {
  text-decoration: none;
}
nav h1 {
  display: block;
  float: left;
  margin-top: 0;
  font-size: 24px;
  line-height: 2.8rem;
  padding: 0;
  color: inherit;
}
nav li a:active {
  background-color: #278083;
  color: white;
}
nav li a:active:active {
  background-color: #216c6f;
  color: #f4f9f9;
}
section,
nav,
main,
article {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 480px) {
  section,
  nav,
  main,
  article {
    padding: 1rem calc((100% - 28rem - 1rem - 1rem)/2 + 1rem);
  }
}
@media screen and (min-width: 768px) {
  section,
  nav,
  main,
  article {
    padding: 1rem calc((100% - 48rem)/2 + 1rem);
  }
}
section > *,
nav > *,
main > *,
article > * {
  max-width: 28rem;
}
section section,
nav nav,
main main,
article article {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
section.action,
nav.action,
main.action,
article.action {
  background-color: #38bea1;
  color: #133f36;
}
section.reaction,
nav.reaction,
main.reaction,
article.reaction {
  background-color: #dd918e;
  color: #412a29;
}
section.info,
nav.info,
main.info,
article.info {
  background-color: #22b6fb;
  color: #0b3d54;
}
section.warning,
nav.warning,
main.warning,
article.warning {
  background-color: #fc6f2e;
  color: #4a200d;
}
section.success,
nav.success,
main.success,
article.success {
  background-color: #6bba6b;
  color: #1f361f;
}
section.failure,
nav.failure,
main.failure,
article.failure {
  background-color: #f02c33;
  color: #1e0606;
}
section.failure h1,
section.failure h2,
section.failure h3,
nav.failure h1,
nav.failure h2,
nav.failure h3,
main.failure h1,
main.failure h2,
main.failure h3,
article.failure h1,
article.failure h2,
article.failure h3 {
  color: #ffffff;
}
main {
  margin-bottom: 1rem;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(54,177,182)'/%3E %3Crect width='1' height='1' fill='rgb(51,168,172)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #103435;
}
main * {
  max-width: none;
}
main *:first-child {
  margin-top: 0;
}
main > * {
  max-width: 48rem;
}
main > p,
main > ul,
main > ol {
  max-width: 28rem;
}
main.action {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(53,180,153)'/%3E %3Crect width='1' height='1' fill='rgb(50,170,145)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #10342d;
}
main.reaction {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(208,100,96)'/%3E %3Crect width='1' height='1' fill='rgb(202,83,78)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #231110;
}
main.info {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(4,172,251)'/%3E %3Crect width='1' height='1' fill='rgb(4,164,238)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #013249;
}
main.warning {
  color: #4a200d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(252,111,46)'/%3E %3Crect width='1' height='1' fill='rgb(252,95,23)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
}
main.success {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(87,176,87)'/%3E %3Crect width='1' height='1' fill='rgb(77,164,77)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
  color: #193319;
}
main.failure {
  color: #1e0607;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(240,50,57)'/%3E %3Crect width='1' height='1' fill='rgb(238,19,27)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: top left;
}
main.failure h1,
main.failure h2,
main.failure h3 {
  color: #ffffff;
}
button,
.button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  font-size: 112.5%;
  text-align: center;
  vertical-align: middle;
  min-height: 32px;
  line-height: 1.8;
  padding: 0.4em .8rem;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 0.4em;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  background-color: #206b6d;
  color: white;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #1b575a;
  color: #f4f8f8;
}
button.action,
.button.action,
input[type="button"].action,
input[type="submit"].action {
  background-color: #206b5b;
  color: white;
}
button.action:active,
.button.action:active,
input[type="button"].action:active,
input[type="submit"].action:active {
  background-color: #1a584b;
  color: #f4f8f7;
}
button.reaction,
.button.reaction,
input[type="button"].reaction,
input[type="submit"].reaction {
  background-color: #c5413b;
  color: white;
}
button.reaction:active,
.button.reaction:active,
input[type="button"].reaction:active,
input[type="submit"].reaction:active {
  background-color: #b23935;
  color: #fcf5f5;
}
button.info,
.button.info,
input[type="button"].info,
input[type="submit"].info {
  background-color: #0378af;
  color: white;
}
button.info:active,
.button.info:active,
input[type="button"].info:active,
input[type="submit"].info:active {
  background-color: #036796;
  color: #f2f8fb;
}
button.warning,
.button.warning,
input[type="button"].warning,
input[type="submit"].warning {
  background-color: #bb3d03;
  color: white;
}
button.warning:active,
.button.warning:active,
input[type="button"].warning:active,
input[type="submit"].warning:active {
  background-color: #a23402;
  color: #fcf5f2;
}
button.success,
.button.success,
input[type="button"].success,
input[type="submit"].success {
  background-color: #3b7f3b;
  color: white;
}
button.success:active,
.button.success:active,
input[type="button"].success:active,
input[type="submit"].success:active {
  background-color: #336d33;
  color: #f5f9f5;
}
button.failure,
.button.failure,
input[type="button"].failure,
input[type="submit"].failure {
  background-color: #c20e14;
  color: white;
}
button.failure:active,
.button.failure:active,
input[type="button"].failure:active,
input[type="submit"].failure:active {
  background-color: #ab0c12;
  color: #fcf3f3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: .6em;
  line-height: 1.35;
  font-weight: normal;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
  margin-top: 1.6em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.75em;
}
h6 {
  font-size: 0.25em;
}
h1 {
  font-size: calc(16px + 2.5vw);
}
h2 {
  font-size: calc(16px + 1.75vw);
}
h3 {
  font-size: calc(16px + 1.25vw);
}
h4 {
  font-size: calc(16px + 1vw);
}
h5 {
  font-size: calc(16px + 0.75vw);
}
h6 {
  font-size: calc(16px + 0.25vw);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35.2px;
  }
  h2 {
    font-size: 29.44px;
  }
  h3 {
    font-size: 25.6px;
  }
  h4 {
    font-size: 23.68px;
  }
  h5 {
    font-size: 21.76px;
  }
  h6 {
    font-size: 17.92px;
  }
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  text-align: left;
}
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}
p.action,
p.reaction,
p.info,
p.warning,
p.success,
p.failure,
ul.action,
ul.reaction,
ul.info,
ul.warning,
ul.success,
ul.failure,
ol.action,
ol.reaction,
ol.info,
ol.warning,
ol.success,
ol.failure {
  padding: 0 0.5em;
  border-radius: 0.2em;
}
span.action,
span.reaction,
span.info,
span.warning,
span.success,
span.failure {
  padding: 0.2em 0.25em 0.3em 0.25em;
}
span.action {
  background-color: #35b499;
  color: #10342d;
}
span.reaction {
  background-color: #d06460;
  color: #231110;
}
span.info {
  background-color: #04acfb;
  color: #013249;
}
span.warning {
  background-color: #fc6e2d;
  color: #4a200d;
}
span.success {
  background-color: #57b057;
  color: #193319;
}
span.failure {
  background-color: #f03036;
  color: #1e0607;
}
form {
  padding: 0;
  margin-bottom: 1rem;
  max-width: 28rem;
}
form input[type="text"],
form textarea {
  width: 100%;
  padding: .5em;
  margin-bottom: 1em;
  border: none;
}
form input + form input,
form input + form label,
form label + form input,
form label + form label {
  margin-top: 1em;
}
aside {
  margin: 0 auto 1rem auto;
  padding: 0.5em 0;
  width: 16rem;
  border-radius: 0.4em;
}
aside h1 {
  font-size: calc(16px + 1.8vw);
}
aside h2 {
  font-size: calc(16px + 1.5vw);
}
aside h3 {
  font-size: calc(16px + 1.35vw);
}
aside h4 {
  font-size: calc(16px + 1.2vw);
}
aside h5 {
  font-size: calc(16px + 1.1vw);
}
aside h6 {
  font-size: calc(16px + 1vw);
}
@media screen and (min-width: 480px) {
  aside {
    font-size: 87.5%;
    width: 16rem;
  }
  aside h1 {
    font-size: 24.64px;
  }
  aside h2 {
    font-size: 23.2px;
  }
  aside h3 {
    font-size: 22.48px;
  }
  aside h4 {
    font-size: 21.76px;
  }
  aside h5 {
    font-size: 21.28px;
  }
  aside h6 {
    font-size: 20.8px;
  }
}
@media screen and (min-width: 768px) {
  aside {
    float: right;
    clear: both;
  }
  aside:after {
    display: block;
    clear: both;
    content: "";
  }
}
footer {
  padding-top: 1em;
  margin-bottom: 1rem;
}
footer > * {
  margin-bottom: 0.3em;
}
footer > *:last-child {
  margin-bottom: 0;
}
footer button,
footer .button,
footer input[type="button"],
footer input[type="submit"] {
  width: 100%;
}
@media screen and (min-width: 288px) {
  footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: left;
    align-items: left;
    -webkit-justify-content: left;
    justify-content: left;
  }
  footer > * {
    margin-left: 0.31em;
    margin-bottom: 0;
  }
  footer > *:first-child {
    margin-left: 0;
  }
  footer button,
  footer .button,
  footer input[type="button"],
  footer input[type="submit"] {
    width: auto;
    margin-bottom: 0;
  }
}
label {
  display: block;
}
table {
  border-radius: 0.4em;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  background-color: #278083;
  color: white;
}
table td {
  color: #154040;
}
table tr {
  background-color: #39BBC0;
  color: #133e40;
}
table tr:nth-of-type(odd) {
  background-color: #3ebfc0;
  color: #154040;
}
table.action th {
  background-color: #26816d;
  color: white;
}
table.action td {
  color: #144038;
}
table.action tr {
  background-color: #38bea1;
  color: #133f36;
}
table.action tr:nth-of-type(odd) {
  background-color: #3dc1a9;
  color: #144038;
}
table.reaction th {
  background-color: #c94d48;
  color: white;
}
table.reaction td {
  color: #361f1e;
}
table.reaction tr {
  background-color: #d57571;
  color: #351d1c;
}
table.reaction tr:nth-of-type(odd) {
  background-color: #d77a79;
  color: #361f1e;
}
table.info th {
  background-color: #036491;
  color: white;
}
table.info td {
  color: #0f3c54;
}
table.info tr {
  background-color: #25b7fb;
  color: #0c3d54;
}
table.info tr:nth-of-type(odd) {
  background-color: #2cb4fb;
  color: #0f3c54;
}
table.warning th {
  background-color: #bc3d03;
  color: white;
}
table.warning td {
  color: #4a2816;
}
table.warning tr {
  background-color: #fc7e44;
  color: #4a2514;
}
table.warning tr:nth-of-type(odd) {
  background-color: #fd884b;
  color: #4a2816;
}
table.success th {
  background-color: #326b32;
  color: white;
}
table.success td {
  color: #203620;
}
table.success tr {
  background-color: #67b867;
  color: #1e361e;
}
table.success tr:nth-of-type(odd) {
  background-color: #6eba6c;
  color: #203620;
}
table.failure th {
  background-color: #ce0f16;
  color: white;
}
table.failure td {
  color: #321111;
}
table.failure tr {
  background-color: #f1454b;
  color: #280c0d;
}
table.failure tr:nth-of-type(odd) {
  background-color: #f25051;
  color: #321111;
}
th,
td {
  text-align: left;
  vertical-align: top;
  padding: 0.31em;
}
thead th {
  vertical-align: bottom;
}
tr:first-child > th:first-child {
  border-top-left-radius: 0.4em;
}
tr:first-child > th:last-child {
  border-top-right-radius: 0.4em;
}
tr:last-child > td:first-child {
  border-bottom-left-radius: 0.4em;
}
tr:last-child > td:last-child {
  border-bottom-right-radius: 0.4em;
}
tr > td:first-child,
tr > th:first-child {
  padding-left: 0.5em;
}
tr > td:last-child,
tr > th:last-child {
  padding-right: 0.5em;
}
blockquote {
  padding-left: 1em;
  margin: 0;
  border-left: 0.5em solid #4dcabf;
  margin-bottom: 1rem;
  max-width: 28rem;
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 0.5em solid #4dcabf;
  padding-left: 0;
  padding-right: 1em;
}
blockquote cite {
  font-style: italic;
  display: block;
}
blockquote cite:before {
  content: '—';
  padding-right: 5px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background: #1b595b;
}
ul,
ol {
  max-width: 28rem;
  list-style-position: outside;
  padding-left: 1.5em;
}
ul.action,
ol.action,
ul.reaction,
ol.reaction,
ul.info,
ol.info,
ul.warning,
ol.warning,
ul.success,
ol.success,
ul.failure,
ol.failure {
  padding-left: 2em;
}
li {
  margin-bottom: .6em;
}
li:last-child {
  margin-bottom: .4em;
}
dt {
  font-weight: bold;
  font-size: 90%;
}
dd {
  margin-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
fieldset,
img {
  border: 0;
}
caption,
figcaption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}
code,
pre,
.less-var-test {
  background-color: #227073;
  color: white;
  font-family: monospace;
  border-radius: 0.2em;
}
code,
.less-var-test {
  font-size: 85%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  position: relative;
  top: -0.1em;
}
pre {
  max-width: 28rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 0.5em;
}
mark,
::selection {
  background-color: #8986db;
  color: #1d1c2e;
}
hr {
  margin: 0;
  background: #38bea1;
  border-color: transparent;
  height: 1px;
  max-width: 100%;
  margin-bottom: 1rem;
}
section > hr,
body > hr,
nav > hr,
main > hr,
article > hr {
  border-radius: 0.4em;
}
.hide,
.hidden {
  display: none !important;
}
.max-width,
.pattern-preview,
form,
blockquote,
ul,
ol,
pre {
  max-width: 28rem;
}
.margin-bottom,
.pattern-container,
main,
p,
form,
footer,
blockquote,
dd,
pre,
hr,
ul,
ol {
  margin-bottom: 1rem;
}
.border-radius,
button,
.button,
input[type="button"],
input[type="submit"],
aside,
table {
  border-radius: 0.4em;
}
.clearfix,
#palettes,
.pattern-preview {
  clear: both;
}
.clearfix:after,
#palettes:after,
.pattern-preview:after {
  display: block;
  clear: both;
  content: "";
}
.padding,
aside.action,
aside.reaction,
aside.info,
aside.warning,
aside.success,
aside.failure,
footer.action,
footer.reaction,
footer.info,
footer.warning,
footer.success,
footer.failure {
  padding: 0.5em;
}
.action {
  background-color: #38bea1;
  color: #133f36;
}
.reaction {
  background-color: #d57571;
  color: #351d1c;
}
.info {
  background-color: #25b7fb;
  color: #0c3d54;
}
.warning {
  background-color: #fc7e44;
  color: #4a2514;
}
.success {
  background-color: #67b867;
  color: #1e361e;
}
.failure {
  background-color: #f1454b;
  color: #280c0d;
}
#feature,
#feature > *,
#strapless_nav,
#strapless_main,
#strapless_footer,
#main_success_example,
#main_action_example,
#demo_form,
#philosophy,
#loading_overlay,
#section_example,
#semantic_colors > p,
#grays > p,
#semantic_colors > ul,
#grays > ul,
#semantic_colors > ol,
#grays > ol {
  transition: color 2s ease-out;
  transition: background 2s ease-out;
}
.color1 {
  background-color: #39BBC0;
  color: #133e40;
}
.color1a {
  background-color: #4dcabf;
  color: #1a4340;
}
.color1b {
  background-color: #38bea1;
  color: #133f36;
}
.color1c {
  background-color: #36b1b6;
  color: #103435;
}
.color2 {
  background-color: #d57571;
  color: #351d1c;
}
.color2a {
  background-color: #dc9689;
  color: #402c28;
}
.color2b {
  background-color: #d57287;
  color: #351d22;
}
.color2c {
  background-color: #d06460;
  color: #231110;
}
.color3 {
  background-color: #7a8ed8;
  color: #1e2336;
}
.color3a {
  background-color: #92acdf;
  color: #31394a;
}
.color3b {
  background-color: #8986db;
  color: #1d1c2e;
}
.color3c {
  background-color: #7086d5;
  color: #171c2c;
}
.color4 {
  background-color: #3ac261;
  color: #134120;
}
.color4a {
  background-color: #4fcb82;
  color: #1a442b;
}
.color4b {
  background-color: #39c082;
  color: #13402b;
}
.color4c {
  background-color: #37b85c;
  color: #10361b;
}
.less-var-test {
  display: none;
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 14px;
  font-family: monospace;
}
.logo {
  width: 150px;
}
.logo .letter {
  fill: #000000;
}
.logo .accent {
  fill: black;
}
#get_color1 {
  color: #39BBC0;
}
#get_color2 {
  color: #d57571;
}
#get_color3 {
  color: #7a8ed8;
}
#get_color4 {
  color: #3ac261;
}
#demo_form {
  bottom: 0.5em;
  right: 0.5em;
  max-width: auto;
  z-index: 1000;
  display: none;
}
#demo_form label {
  max-width: 120px;
}
#demo_form > * {
  display: block;
  float: left;
  margin-top: 6px;
  margin-right: 8px;
  max-width: auto;
}
#demo_form > input {
  width: 120px;
  height: 32px;
  padding: .2em .8em;
}
#demo_form button {
  min-height: 32px;
}
@media screen and (min-width: 768px) {
  #demo_form {
    display: block;
    position: fixed;
    font-size: 12px;
    width: 200px;
    border-radius: 0.4em;
  }
}
#seed_color {
  border: 1px solid #2b8d91;
  max-width: 237px;
}
#loading_overlay {
  display: none;
  position: absolute;
  background: #525252;
  color: #ffffff;
  border-radius: 0.4em;
  z-index: 1001;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  text-align: center;
}
#loading_overlay div {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
  right: 0;
}
#loading_overlay h1 {
  margin: 0;
}
#patterns h4 {
  display: none;
}
.sl-current-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  white-space: nowrap;
  background-color: #39BBC0;
  border: 2px solid #36b1b6;
  vertical-align: middle;
  margin-top: -3px;
  margin-bottom: 0;
  margin-left: 2px;
  border-radius: 0.1em;
}
