#sl_accented:before {
  content: "accented";
}
#sl_accented .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_accented .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_accented .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_accented .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_accented .sl-color2 {
  background-color: #f3cea7;
  border-color: #f1c99e;
}
#sl_accented .sl-color2a {
  background-color: #f9ded4;
  border-color: #f8d7cb;
}
#sl_accented .sl-color2b {
  background-color: #f3eaa7;
  border-color: #f1e89e;
}
#sl_accented .sl-color2c {
  background-color: #ecd27a;
  border-color: #ebcf72;
}
#sl_accented .sl-color3 {
  background-color: #bba7f3;
  border-color: #b49ef1;
}
#sl_accented .sl-color3a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_accented .sl-color3b {
  background-color: #a7aff3;
  border-color: #9ea7f1;
}
#sl_accented .sl-color3c {
  background-color: #b57aec;
  border-color: #b072eb;
}
#sl_accented .sl-color4 {
  background-color: #a7f3e1;
  border-color: #9ef1de;
}
#sl_accented .sl-color4a {
  background-color: #d4f9e7;
  border-color: #cbf8e2;
}
#sl_accented .sl-color4b {
  background-color: #a7f3c5;
  border-color: #9ef1bf;
}
#sl_accented .sl-color4c {
  background-color: #7aebec;
  border-color: #72e9eb;
}
#sl_complementary:before {
  content: "complementary";
}
#sl_complementary .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_complementary .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_complementary .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_complementary .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_complementary .sl-color2 {
  background-color: #f3cea7;
  border-color: #f1c99e;
}
#sl_complementary .sl-color2a {
  background-color: #f9ded4;
  border-color: #f8d7cb;
}
#sl_complementary .sl-color2b {
  background-color: #f3eaa7;
  border-color: #f1e89e;
}
#sl_complementary .sl-color2c {
  background-color: #ecd27a;
  border-color: #ebcf72;
}
#sl_complementary .sl-color3 {
  background-color: #a7b9f3;
  border-color: #9eb2f1;
}
#sl_complementary .sl-color3a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_complementary .sl-color3b {
  background-color: #b2a7f3;
  border-color: #aa9ef1;
}
#sl_complementary .sl-color3c {
  background-color: #7ab2ec;
  border-color: #72aceb;
}
#sl_complementary .sl-color4 {
  background-color: #f3e1a7;
  border-color: #f1de9e;
}
#sl_complementary .sl-color4a {
  background-color: #f9e7d4;
  border-color: #f8e2cb;
}
#sl_complementary .sl-color4b {
  background-color: #e8f3a7;
  border-color: #e6f19e;
}
#sl_complementary .sl-color4c {
  background-color: #ebec7a;
  border-color: #e9eb72;
}
#sl_triadic:before {
  content: "triadic";
}
#sl_triadic .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_triadic .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_triadic .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_triadic .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_triadic .sl-color2 {
  background-color: #ccf3a7;
  border-color: #c6f19e;
}
#sl_triadic .sl-color2a {
  background-color: #ddf9d4;
  border-color: #d5f8cb;
}
#sl_triadic .sl-color2b {
  background-color: #e8f3a7;
  border-color: #e6f19e;
}
#sl_triadic .sl-color2c {
  background-color: #ceec7a;
  border-color: #cbeb72;
}
#sl_triadic .sl-color3 {
  background-color: #f3a7cc;
  border-color: #f19ec6;
}
#sl_triadic .sl-color3a {
  background-color: #f9d4dd;
  border-color: #f8cbd5;
}
#sl_triadic .sl-color3b {
  background-color: #f3a7af;
  border-color: #f19ea7;
}
#sl_triadic .sl-color3c {
  background-color: #ec7ace;
  border-color: #eb72cb;
}
#sl_triadic .sl-color4 {
  background-color: #a7b9f3;
  border-color: #9eb2f1;
}
#sl_triadic .sl-color4a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_triadic .sl-color4b {
  background-color: #b2a7f3;
  border-color: #aa9ef1;
}
#sl_triadic .sl-color4c {
  background-color: #7ab2ec;
  border-color: #72aceb;
}
#sl_tetradic:before {
  content: "tetradic";
}
#sl_tetradic .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_tetradic .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_tetradic .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_tetradic .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_tetradic .sl-color2 {
  background-color: #f3cea7;
  border-color: #f1c99e;
}
#sl_tetradic .sl-color2a {
  background-color: #f9ded4;
  border-color: #f8d7cb;
}
#sl_tetradic .sl-color2b {
  background-color: #f3eaa7;
  border-color: #f1e89e;
}
#sl_tetradic .sl-color2c {
  background-color: #ecd27a;
  border-color: #ebcf72;
}
#sl_tetradic .sl-color3 {
  background-color: #bba7f3;
  border-color: #b49ef1;
}
#sl_tetradic .sl-color3a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_tetradic .sl-color3b {
  background-color: #a7aff3;
  border-color: #9ea7f1;
}
#sl_tetradic .sl-color3c {
  background-color: #b57aec;
  border-color: #b072eb;
}
#sl_tetradic .sl-color4 {
  background-color: #dff3a7;
  border-color: #dbf19e;
}
#sl_tetradic .sl-color4a {
  background-color: #e6f9d4;
  border-color: #e1f8cb;
}
#sl_tetradic .sl-color4b {
  background-color: #f3eaa7;
  border-color: #f1e89e;
}
#sl_tetradic .sl-color4c {
  background-color: #ebec7a;
  border-color: #e9eb72;
}
#sl_square:before {
  content: "square";
}
#sl_square .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_square .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_square .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_square .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_square .sl-color2 {
  background-color: #f3cea7;
  border-color: #f1c99e;
}
#sl_square .sl-color2a {
  background-color: #f9ded4;
  border-color: #f8d7cb;
}
#sl_square .sl-color2b {
  background-color: #f3eaa7;
  border-color: #f1e89e;
}
#sl_square .sl-color2c {
  background-color: #ecd27a;
  border-color: #ebcf72;
}
#sl_square .sl-color3 {
  background-color: #f3a7f1;
  border-color: #f19ef0;
}
#sl_square .sl-color3a {
  background-color: #f0d4f9;
  border-color: #edcbf8;
}
#sl_square .sl-color3b {
  background-color: #d8a7f3;
  border-color: #d49ef1;
}
#sl_square .sl-color3c {
  background-color: #ec7ace;
  border-color: #eb72cb;
}
#sl_square .sl-color4 {
  background-color: #a7f3a8;
  border-color: #9ef1a0;
}
#sl_square .sl-color4a {
  background-color: #d4f9de;
  border-color: #cbf8d7;
}
#sl_square .sl-color4b {
  background-color: #c2f3a7;
  border-color: #bcf19e;
}
#sl_square .sl-color4c {
  background-color: #95ec7a;
  border-color: #8eeb72;
}
#sl_ebb:before {
  content: "ebb";
}
#sl_ebb .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_ebb .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_ebb .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_ebb .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_ebb .sl-color2 {
  background-color: #f3e1a7;
  border-color: #f1de9e;
}
#sl_ebb .sl-color2a {
  background-color: #f9e7d4;
  border-color: #f8e2cb;
}
#sl_ebb .sl-color2b {
  background-color: #e8f3a7;
  border-color: #e6f19e;
}
#sl_ebb .sl-color2c {
  background-color: #ebec7a;
  border-color: #e9eb72;
}
#sl_ebb .sl-color3 {
  background-color: #a7b9f3;
  border-color: #9eb2f1;
}
#sl_ebb .sl-color3a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_ebb .sl-color3b {
  background-color: #b2a7f3;
  border-color: #aa9ef1;
}
#sl_ebb .sl-color3c {
  background-color: #7ab2ec;
  border-color: #72aceb;
}
#sl_ebb .sl-color4 {
  background-color: #bba7f3;
  border-color: #b49ef1;
}
#sl_ebb .sl-color4a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_ebb .sl-color4b {
  background-color: #a7aff3;
  border-color: #9ea7f1;
}
#sl_ebb .sl-color4c {
  background-color: #b57aec;
  border-color: #b072eb;
}
#sl_flow:before {
  content: "flow";
}
#sl_flow .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_flow .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_flow .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_flow .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_flow .sl-color2 {
  background-color: #f3bba7;
  border-color: #f1b49e;
}
#sl_flow .sl-color2a {
  background-color: #f9d5d4;
  border-color: #f8cccb;
}
#sl_flow .sl-color2b {
  background-color: #f3d8a7;
  border-color: #f1d49e;
}
#sl_flow .sl-color2c {
  background-color: #ecb57a;
  border-color: #ebb072;
}
#sl_flow .sl-color3 {
  background-color: #a7dff3;
  border-color: #9edbf1;
}
#sl_flow .sl-color3a {
  background-color: #d4e6f9;
  border-color: #cbe1f8;
}
#sl_flow .sl-color3b {
  background-color: #a7f3ea;
  border-color: #9ef1e8;
}
#sl_flow .sl-color3c {
  background-color: #7aebec;
  border-color: #72e9eb;
}
#sl_flow .sl-color4 {
  background-color: #a7f3e1;
  border-color: #9ef1de;
}
#sl_flow .sl-color4a {
  background-color: #d4f9e7;
  border-color: #cbf8e2;
}
#sl_flow .sl-color4b {
  background-color: #a7f3c5;
  border-color: #9ef1bf;
}
#sl_flow .sl-color4c {
  background-color: #7aebec;
  border-color: #72e9eb;
}
#sl_monochromatic:before {
  content: "monochromatic";
}
#sl_monochromatic .sl-color1 {
  background-color: white;
  border-color: #fafafa;
}
#sl_monochromatic .sl-color1a {
  background-color: #c7c7c7;
  border-color: #c2c2c2;
}
#sl_monochromatic .sl-color1b {
  background-color: #aeaeae;
  border-color: #a9a9a9;
}
#sl_monochromatic .sl-color1c {
  background-color: #949494;
  border-color: #8f8f8f;
}
#sl_monochromatic .sl-color2 {
  background-color: #bba7f3;
  border-color: #b49ef1;
}
#sl_monochromatic .sl-color2a {
  background-color: #d5d4f9;
  border-color: #cccbf8;
}
#sl_monochromatic .sl-color2b {
  background-color: #a7aff3;
  border-color: #9ea7f1;
}
#sl_monochromatic .sl-color2c {
  background-color: #b57aec;
  border-color: #b072eb;
}
#sl_monochromatic .sl-color3 {
  background-color: #a7c2f3;
  border-color: #9ebcf1;
}
#sl_monochromatic .sl-color3a {
  background-color: #d4d8f9;
  border-color: #cbd0f8;
}
#sl_monochromatic .sl-color3b {
  background-color: #a8a7f3;
  border-color: #a09ef1;
}
#sl_monochromatic .sl-color3c {
  background-color: #7ac0ec;
  border-color: #72bceb;
}
#sl_monochromatic .sl-color4 {
  background-color: #a7d5f3;
  border-color: #9ed1f1;
}
#sl_monochromatic .sl-color4a {
  background-color: #d4e1f9;
  border-color: #cbdbf8;
}
#sl_monochromatic .sl-color4b {
  background-color: #a7f1f3;
  border-color: #9ef0f1;
}
#sl_monochromatic .sl-color4c {
  background-color: #7adcec;
  border-color: #72daeb;
}
.sl-swatch-base,
.swatch {
  display: none;
  float: left;
  font-size: 10px;
  min-width: 32px;
  width: 25%;
  height: 20px;
  border: 1px solid transparent;
  margin-bottom: 0;
  text-align: right;
  line-height: 37px;
  display: block;
}
.sl-swatch-base:before,
.swatch:before {
  display: none;
}
@media screen and (min-width: 480px) {
  .sl-swatch-base,
  .swatch {
    position: relative;
    width: 23%;
    height: 40px;
    margin-right: 2%;
    margin-bottom: -8px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .sl-swatch-base:nth-child(4n + 2),
  .swatch:nth-child(4n + 2) {
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
    top: -2px;
  }
  .sl-swatch-base:nth-child(4n + 3),
  .swatch:nth-child(4n + 3) {
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
    top: -3px;
  }
  .sl-swatch-base:nth-child(4n + 4),
  .swatch:nth-child(4n + 4) {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    top: -2px;
  }
  .sl-swatch-base:before,
  .swatch:before {
    font-size: 9px;
    font-weight: bold;
    pointer-events: none;
    position: relative;
    bottom: -10px;
    right: 3px;
  }
}
.palettes {
  margin-bottom: 60px;
}
.palettes:before,
.palettes:after {
  content: " ";
  display: table;
}
.palettes:after {
  clear: both;
}
.palettes:before,
.palettes:after {
  content: " ";
  display: table;
}
.palettes:after {
  clear: both;
}
.palette-preview {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 0;
  position: relative;
  padding-top: 24px;
}
.palette-preview:before {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .palette-preview {
    max-width: 32%;
    margin-right: 2%;
  }
  .palette-preview:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .palette-preview {
    max-width: 23.5%;
    margin-right: 2%;
  }
  .palette-preview:nth-child(3n) {
    margin-right: 2%;
  }
  .palette-preview:nth-child(4n) {
    margin-right: 0;
  }
}
.sl-single-color {
  font-size: 12px;
  line-height: 40px;
  width: 75px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0 6px;
  text-align: center;
}
.sl-gray {
  width: 95px;
}
.sl-color-action {
  background-color: #8fe9d4;
  color: #146552;
}
.sl-color-reaction {
  background-color: #a98ef4;
  color: #300e8e;
}
.sl-color-info {
  background-color: #75bbec;
  color: #0f466d;
}
.sl-color-warning {
  background-color: #feaf89;
  color: #872d01;
}
.sl-color-success {
  background-color: #7cd07c;
  color: #1b4b1b;
}
.sl-color-failure {
  background-color: #ea6262;
  color: #440909;
}
.sl-color-gray-lighter {
  background-color: #e1e1e1;
  color: #616161;
}
.sl-color-gray-light {
  background-color: #c7c7c7;
  color: #484848;
}
.sl-color-gray {
  background-color: #aeaeae;
  color: #3b3b3b;
}
.sl-color-gray-dark {
  background-color: #949494;
  color: #222222;
}
.sl-color-gray-darker {
  background-color: #7b7b7b;
  color: #080808;
}
.sl-color-white {
  background: white;
  color: #737373;
}
.sl-color-black {
  background: black;
  color: #a6a6a6;
}
#strapless_patterns_checkerboard:before {
  content: 'Checkerboard';
}
#strapless_patterns_checkerboard .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='rgb(255,255,255)'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(214,214,214)'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: -15px -15px;
}
#strapless_patterns_checkerboard .pattern:nth-child(1):before {
  content: '.checkerboard (@color1)';
}
#strapless_patterns_checkerboard .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='rgb(199,199,199)'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(178,178,178)'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: -15px -15px;
}
#strapless_patterns_checkerboard .pattern:nth-child(2):before {
  content: '.checkerboard (@color1a)';
}
#strapless_patterns_checkerboard .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='rgb(174,174,174)'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(160,160,160)'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: -15px -15px;
}
#strapless_patterns_checkerboard .pattern:nth-child(3):before {
  content: '.checkerboard (@color1b)';
}
#strapless_patterns_bathmat:before {
  content: 'Bathmat';
}
#strapless_patterns_bathmat .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='rgb(255,255,255)'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='rgb(202,202,202)' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='rgb(202,202,202)' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='rgb(202,202,202)' fill='none'/%3E%3C/svg%3E");
}
#strapless_patterns_bathmat .pattern:nth-child(1):before {
  content: '.bathmat (@color1)';
}
#strapless_patterns_bathmat .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='rgb(199,199,199)'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='rgb(165,165,165)' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='rgb(165,165,165)' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='rgb(165,165,165)' fill='none'/%3E%3C/svg%3E");
}
#strapless_patterns_bathmat .pattern:nth-child(2):before {
  content: '.bathmat (@color1a)';
}
#strapless_patterns_bathmat .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='rgb(174,174,174)'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='rgb(147,147,147)' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='rgb(147,147,147)' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='rgb(147,147,147)' fill='none'/%3E%3C/svg%3E");
}
#strapless_patterns_bathmat .pattern:nth-child(3):before {
  content: '.bathmat (@color1b)';
}
#strapless_patterns_crosshatch:before {
  content: 'Crosshatch';
}
#strapless_patterns_crosshatch .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='rgb(255,255,255)'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='rgb(255,255,255)'/%3E%3C/svg%3E");
}
#strapless_patterns_crosshatch .pattern:nth-child(1):before {
  content: '.crosshatch (@color1)';
}
#strapless_patterns_crosshatch .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='rgb(199,199,199)'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='rgb(201,201,201)'/%3E%3C/svg%3E");
}
#strapless_patterns_crosshatch .pattern:nth-child(2):before {
  content: '.crosshatch (@color1a)';
}
#strapless_patterns_crosshatch .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='rgb(174,174,174)'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='rgb(165,165,165)'/%3E%3C/svg%3E");
}
#strapless_patterns_crosshatch .pattern:nth-child(3):before {
  content: '.crosshatch (@color1b)';
}
#strapless_patterns_noise:before {
  content: 'Noise';
}
#strapless_patterns_noise .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' fill='rgb(187,167,243)'/%3E%3Crect width='500' height='500' filter='url(%23n)' opacity='0.4'/%3E%3C/svg%3E");
}
#strapless_patterns_noise .pattern:nth-child(1):before {
  content: '.noise (@color3)';
}
#strapless_patterns_noise .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' fill='rgb(213,212,249)'/%3E%3Crect width='500' height='500' filter='url(%23n)' opacity='0.4'/%3E%3C/svg%3E");
}
#strapless_patterns_noise .pattern:nth-child(2):before {
  content: '.noise (@color3a)';
}
#strapless_patterns_noise .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' fill='rgb(167,243,225)'/%3E%3Crect width='500' height='500' filter='url(%23n)' opacity='0.4'/%3E%3C/svg%3E");
}
#strapless_patterns_noise .pattern:nth-child(3):before {
  content: '.noise (@color4, 4)';
}
#strapless_patterns_blueprint:before {
  content: 'Blueprint';
}
#strapless_patterns_blueprint .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='rgb(255,255,255)'/%3E %3Cg fill='rgb(233,235,252)'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='rgb(212,216,249)'/%3E %3C/svg%3E");
  background-size: 64px, 64px;
  background-position: center -32px;
}
#strapless_patterns_blueprint .pattern:nth-child(1):before {
  content: '.blueprint (@color1)';
}
#strapless_patterns_blueprint .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='rgb(236,210,122)'/%3E %3Cg fill='rgb(240,213,145)'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='rgb(243,216,167)'/%3E %3C/svg%3E");
  background-size: 32px, 32px;
  background-position: center -32px;
}
#strapless_patterns_blueprint .pattern:nth-child(2):before {
  content: '.blueprint (@color2c, .5)';
}
#strapless_patterns_blueprint .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='rgb(124,208,124)'/%3E %3Cg fill='rgb(147,215,143)'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='rgb(169,221,162)'/%3E %3C/svg%3E");
  background-size: 64px, 64px;
  background-position: center -32px;
}
#strapless_patterns_blueprint .pattern:nth-child(3):before {
  content: '.blueprint (@success)';
}
#strapless_patterns_pegboard:before {
  content: 'Pegboard';
}
#strapless_patterns_pegboard .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='rgb(243,206,167)'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='rgb(249,222,212)'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='rgb(239,191,140)'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='rgb(249,222,212)'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='rgb(239,191,140)'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
}
#strapless_patterns_pegboard .pattern:nth-child(1):before {
  content: '.pegboard (@color2)';
}
#strapless_patterns_pegboard .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='rgb(187,167,243)'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='rgb(213,212,249)'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='rgb(167,140,239)'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='rgb(213,212,249)'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='rgb(167,140,239)'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
}
#strapless_patterns_pegboard .pattern:nth-child(2):before {
  content: '.pegboard (@color3)';
}
#strapless_patterns_pegboard .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='rgb(122,235,236)'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='rgb(149,216,240)'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='rgb(96,230,233)'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='rgb(149,216,240)'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='rgb(96,230,233)'/%3E%3C/svg%3E");
  background-size: 22.5px, 22.5px;
}
#strapless_patterns_pegboard .pattern:nth-child(3):before {
  content: '.pegboard (@color4c, 1.5)';
}
#strapless_patterns_argyle:before {
  content: 'Argyle';
}
#strapless_patterns_argyle .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='rgb(255,255,255)'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(211,220,249)'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='rgb(249,249,249)'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='rgb(249,249,249)'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center -30px;
}
#strapless_patterns_argyle .pattern:nth-child(1):before {
  content: '.argyle (@color1)';
}
#strapless_patterns_argyle .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='rgb(199,199,199)'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(171,180,209)'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='rgb(201,201,201)'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='rgb(201,201,201)'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center -30px;
}
#strapless_patterns_argyle .pattern:nth-child(2):before {
  content: '.argyle (@color1a)';
}
#strapless_patterns_argyle .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='rgb(174,174,174)'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='rgb(152,161,190)'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='rgb(179,179,179)'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='rgb(179,179,179)'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 30px, 45px;
  background-position: center -30px;
}
#strapless_patterns_argyle .pattern:nth-child(3):before {
  content: '.argyle (@color1b, @scale: .5)';
}
#strapless_patterns_dots:before {
  content: 'Dots';
}
#strapless_patterns_dots .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(243,206,167)'/%3E %3Crect width='1' height='1' fill='rgb(236,210,122)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_dots .pattern:nth-child(1):before {
  content: '.dots (@color2)';
}
#strapless_patterns_dots .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(249,222,212)'/%3E %3Crect width='1' height='1' fill='rgb(241,201,158)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_dots .pattern:nth-child(2):before {
  content: '.dots (@color2a)';
}
#strapless_patterns_dots .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(243,234,167)'/%3E %3Crect width='1' height='1' fill='rgb(218,235,114)'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_dots .pattern:nth-child(3):before {
  content: '.dots (@color2b)';
}
#strapless_patterns_stripes:before {
  content: 'Stripes';
}
#strapless_patterns_stripes .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(187,167,243)'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='rgb(232,243,167)' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_stripes .pattern:nth-child(1):before {
  content: '.stripes1 (@color3)';
}
#strapless_patterns_stripes .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(213,212,249)'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='rgb(249,245,212)' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_stripes .pattern:nth-child(2):before {
  content: '.stripes1 (@color3a)';
}
#strapless_patterns_stripes .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='rgb(167,175,243)'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='rgb(204,243,167)' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_stripes .pattern:nth-child(3):before {
  content: '.stripes1 (@color3b)';
}
#strapless_patterns_honeycomb:before {
  content: 'Honeycomb';
}
#strapless_patterns_honeycomb .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='rgb(167,243,225)'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgb(167,243,225)' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgb(186,224,217)' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -28px;
}
#strapless_patterns_honeycomb .pattern:nth-child(1):before {
  content: '.honeycomb (@color4)';
}
#strapless_patterns_honeycomb .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='rgb(124,208,124)'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgb(124,208,124)' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgb(145,187,132)' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -28px;
}
#strapless_patterns_honeycomb .pattern:nth-child(2):before {
  content: '.honeycomb (@success)';
}
#strapless_patterns_honeycomb .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='rgb(234,98,98)'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgb(234,98,98)' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgb(200,132,115)' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -28px;
}
#strapless_patterns_honeycomb .pattern:nth-child(3):before {
  content: '.honeycomb (@failure)';
}
#strapless_patterns_chevrons:before {
  content: 'Chevrons';
}
#strapless_patterns_chevrons .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='rgb(255,255,255)' stroke-width='2.5' stroke='rgb(255,255,255)'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
}
#strapless_patterns_chevrons .pattern:nth-child(1):before {
  content: '.chevrons (@color1)';
}
#strapless_patterns_chevrons .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='rgb(243,206,167)' stroke-width='2.5' stroke='rgb(244,212,178)'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
}
#strapless_patterns_chevrons .pattern:nth-child(2):before {
  content: '.chevrons (@color2)';
}
#strapless_patterns_chevrons .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='rgb(187,167,243)' stroke-width='2.5' stroke='rgb(196,178,244)'/%3E %3Cg id='p'%3E %3Cuse xlink:href='%23r'/%3E %3Cuse y='15' xlink:href='%23r'/%3E %3Cuse y='30' xlink:href='%23r'/%3E %3Cuse y='45' xlink:href='%23r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='%23p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='%23p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
}
#strapless_patterns_chevrons .pattern:nth-child(3):before {
  content: '.chevrons (@color3)';
}
.pattern-preview {
  padding-top: 12px;
  margin-bottom: 2em;
}
.pattern-preview:before,
.pattern-preview:after {
  content: " ";
  display: table;
}
.pattern-preview:after {
  clear: both;
}
.pattern-preview:before,
.pattern-preview:after {
  content: " ";
  display: table;
}
.pattern-preview:after {
  clear: both;
}
.pattern-preview:before {
  display: none;
  margin-bottom: 12px;
}
.pattern-preview > .pattern {
  float: left;
  min-width: 100px;
  width: 33.3%;
  height: 200px;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pattern-preview > .pattern:last-child {
  margin-right: 0;
}
.pattern-preview > .pattern:before {
  text-align: center;
  padding: 6px;
  font-size: 14px;
  line-height: 16px;
  background: rgba(148, 148, 148, 0.4);
  width: 100%;
  color: #222222;
}
.pattern-preview > .pattern:hover:before {
  background: #949494;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c7c7c7;
  color: #484848;
  font-size: 16px;
  line-height: 1.62;
  padding-top: 60px;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
nav {
  background-color: white;
  color: #737373;
  height: 48px;
  line-height: 48px;
  max-height: 48px;
  padding: 0;
  border-radius: 6px;
  z-index: 1000;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
nav > section {
  padding: 0;
  max-width: 920px;
}
nav > section > * {
  display: none;
  float: left;
  position: relative;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  vertical-align: middle;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  nav > section > * {
    display: block;
  }
}
nav > section > *:first-child {
  display: block;
  margin-right: 24px;
}
@media screen and (min-width: 480px) {
  nav > section > *:first-child {
    margin-right: 48px;
  }
}
nav > section > *:last-child {
  display: block;
  float: right;
  line-height: 42px;
}
nav ul {
  height: 48px;
}
nav li {
  float: left;
  height: 48px;
  line-height: 48px;
  list-style: none;
}
nav h1 {
  display: block;
  float: left;
  font-size: 26px;
  line-height: 48px;
  padding: 0 12px;
  color: inherit;
}
nav a {
  display: block;
  float: left;
  text-decoration: none;
  color: inherit;
}
nav li > a {
  padding-left: 12px;
  padding-right: 12px;
}
nav li > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
body > nav:first-child,
body > nav:last-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}
section {
  width: 100%;
  margin: 0 auto;
  padding: 12px 12px 48px 12px;
}
section:first-child {
  margin-top: 0;
}
section > * {
  margin: 0 auto;
  max-width: 920px;
}
section > *:last-child {
  margin-bottom: 12px;
}
section > * + * {
  margin-top: 12px;
}
main {
  padding: 12px;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: #949494;
  color: #222222;
}
main h1,
main h2 {
  text-align: center;
}
main h1 + p,
main h2 + p {
  text-align: center;
  font-size: 125%;
  margin-bottom: 1em;
}
main img {
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 960px) {
  main {
    padding: 24px;
    border-radius: 6px;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.7em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.0em;
}
h1,
h2,
h3,
h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.62;
  font-weight: bold;
}
h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4 {
  margin-top: 0;
}
h5,
h6 {
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
p,
form,
article,
ul,
dl,
li {
  margin: 0 auto 1em;
}
@media screen and (min-width: 480px) {
  p,
  form,
  article,
  ul,
  dl,
  li {
    max-width: 55ch;
  }
}
p.info,
p.warning,
p.action,
p.reaction,
p.success,
p.failure {
  padding: .5em 1em;
}
ul,
ol {
  padding-left: 2ch;
}
dt {
  font-weight: bold;
  font-size: 90%;
}
dd {
  margin-bottom: 12px;
}
a {
  color: inherit;
  text-decoration: underline;
}
aside {
  margin-bottom: 1em;
}
aside > button {
  width: 100%;
  margin-bottom: .5em;
}
aside > * {
  margin-right: 12px;
}
aside > *:last-child {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  aside {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  aside > button {
    width: auto;
  }
  p + aside {
    padding-top: 1em;
  }
}
form {
  max-width: 36ch;
  padding: 1.62ch;
  margin-bottom: 2em;
  background-color: white;
  color: #737373;
}
form > * {
  width: 100%;
  max-width: 36ch;
  margin-bottom: .8em;
}
form > * + button,
form > *:last-child > button {
  margin-top: .8em;
  margin-bottom: 3px;
}
form p {
  padding: 0;
}
form input,
form textarea {
  width: 100%;
  padding: 1ch;
  border: none;
}
form > footer {
  text-align: right;
}
form > footer > button + button {
  margin-left: 12px;
}
form h1:first-child,
form h2:first-child,
form h3:first-child,
form h4:first-child,
form h5:first-child,
form h6:first-child {
  margin-top: 0;
}
form input,
form textarea {
  background-color: #fefefe;
  color: #727272;
  color: #333;
}
label {
  display: block;
  margin-bottom: .25em;
}
strong {
  font-weight: bold;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table > thead > tr > th {
  background-color: white;
  color: #737373;
}
table > tbody > tr > td {
  color: #484848;
}
table > tbody > tr {
  background-color: #c7c7c7;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #c4c4c4;
}
table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 6px;
}
table thead th {
  vertical-align: bottom;
}
table tr > td:first-child,
table tr > th:first-child {
  padding-left: 12px;
}
table tr > td:last-child,
table tr > th:last-child {
  padding-right: 12px;
}
table.action > thead > tr > th {
  background-color: #8fe9d4;
  color: #146552;
}
table.action > tbody > tr > td {
  color: #156941;
}
table.action > tbody > tr {
  background-color: #a9eecd;
}
table.action > tbody > tr:nth-of-type(odd) {
  background-color: #a3edc9;
}
table.reaction > thead > tr > th {
  background-color: #a98ef4;
  color: #300e8e;
}
table.reaction > tbody > tr > td {
  color: #1d19e9;
}
table.reaction > tbody > tr {
  background-color: #bdbcf9;
}
table.reaction > tbody > tr:nth-of-type(odd) {
  background-color: #b6b5f8;
}
table.info > thead > tr > th {
  background-color: #75bbec;
  color: #0f466d;
}
table.info > tbody > tr > td {
  color: #15429a;
}
table.info > tbody > tr {
  background-color: #a2bdf2;
}
table.info > tbody > tr:nth-of-type(odd) {
  background-color: #9bb9f2;
}
table.warning > thead > tr > th {
  background-color: #feaf89;
  color: #872d01;
}
table.warning > tbody > tr > td {
  color: #a00e02;
}
table.warning > tbody > tr {
  background-color: #fec1bc;
}
table.warning > tbody > tr:nth-of-type(odd) {
  background-color: #febab4;
}
table.success > thead > tr > th {
  background-color: #7cd07c;
  color: #1b4b1b;
}
table.success > tbody > tr > td {
  color: #225e31;
}
table.success > tbody > tr {
  background-color: #a2ddb1;
}
table.success > tbody > tr:nth-of-type(odd) {
  background-color: #9cdbac;
}
table.failure > thead > tr > th {
  background-color: #ea6262;
  color: #440909;
}
table.failure > tbody > tr > td {
  color: #7a2b10;
}
table.failure > tbody > tr {
  background-color: #f1ae98;
}
table.failure > tbody > tr:nth-of-type(odd) {
  background-color: #f0a991;
}
fieldset,
img {
  border: 0;
}
caption,
figcaption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
input,
textarea {
  font-size: 110%;
  line-height: 1.1;
}
abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}
blockquote {
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: 5px solid #c7c7c7;
  max-width: 55ch;
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #c7c7c7;
  padding-left: 0;
  padding-right: 1em;
}
blockquote cite {
  font-style: italic;
  display: block;
}
blockquote cite:before {
  content: '—';
  padding-right: 5px;
}
code,
pre {
  font-family: monospace;
  font-size: 80%;
  padding: .125em .62em;
  border-radius: 3px;
  background: #46433f;
  color: #fefaf6;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 6px;
  outline: none;
  white-space: nowrap;
  padding: .4em 1ch;
  background-color: #a98ef4;
  border-color: #9776f2;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: #9e80f3;
}
button.action {
  background-color: #8fe9d4;
  border-color: #7ae5cc;
}
button.action:active {
  background-color: #83e6cf;
}
button.reaction {
  background-color: #a98ef4;
  border-color: #9776f2;
}
button.reaction:active {
  background-color: #9e80f3;
}
button.info {
  background-color: #75bbec;
  border-color: #5fb0e9;
}
button.info:active {
  background-color: #68b5eb;
}
button.warning {
  background-color: #feaf89;
  border-color: #fe9e70;
}
button.warning:active {
  background-color: #fea57a;
}
button.success {
  background-color: #7cd07c;
  border-color: #69c969;
}
button.success:active {
  background-color: #71cc71;
}
button.failure {
  background-color: #ea6262;
  border-color: #e74c4c;
}
button.failure:active {
  background-color: #e85555;
}
mark,
::selection {
  background: #aeaeae;
  color: #3b3b3b;
}
hr {
  border-color: #c7c7c7;
  border-top-color: #c2c2c2;
  border-bottom-color: #d4d4d4;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.action {
  background-color: #8fe9d4;
  color: #146552;
}
.reaction {
  background-color: #a98ef4;
  color: #300e8e;
}
.info {
  background-color: #75bbec;
  color: #0f466d;
}
.warning {
  background-color: #feaf89;
  color: #872d01;
}
.success {
  background-color: #7cd07c;
  color: #1b4b1b;
}
.failure {
  background-color: #ea6262;
  color: #440909;
}
.less-var-test {
  height: 42px;
  color: white;
  border: 5px solid red;
}
.less-var-test:after {
  content: "1.6827346912625347";
}
body,
#feature,
#feature > *,
#strapless_nav,
#strapless_main,
#strapless_footer,
#demo_form,
#loading_overlay,
#section_example,
#semantic_colors > p,
#grays > p {
  transition: color 2s ease-out;
  transition: background 2s ease-out;
}
.logo {
  width: 150px;
}
.logo .letter {
  fill: white;
}
.logo .accent {
  fill: #7cd07c;
}
#get_color1 {
  color: white;
}
#get_color2 {
  color: #f3cea7;
}
#get_color3 {
  color: #bba7f3;
}
#get_color4 {
  color: #a7f3e1;
}
#demo_form {
  position: relative;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  #demo_form {
    font-size: 12px;
    position: fixed;
    margin-bottom: 0;
    bottom: 12px;
    right: 12px;
    z-index: 1000;
    max-width: 200px;
  }
}
#loading_overlay {
  display: none;
  position: absolute;
  background: #d4f9e7;
  color: #107142;
  border-radius: 6px;
  z-index: 1001;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
#loading_overlay div {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  right: 0;
}
#loading_overlay h1 {
  margin: 0;
}
.sl-current-color {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  white-space: nowrap;
  background-color: white;
  border: 2px solid #949494;
  vertical-align: top;
  margin-top: 5px;
  border-radius: 1.5px;
}
/*# sourceMappingURL=index.css.map */