html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
body {
  background-color: #98b0ed;
  font-size: 16px;
  color: #f6f8fe;
  line-height: 1.62;
  padding-top: 60px;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
nav {
  background-color: #6CADE6;
  color: #f6fafe;
  height: 48px;
  line-height: 48px;
  max-height: 48px;
  padding: 0;
  border-radius: 6px;
  z-index: 1000;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
nav > section {
  padding: 0;
}
nav > section > * {
  display: none;
  float: left;
  position: relative;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  vertical-align: middle;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  nav > section > * {
    display: block;
  }
}
nav > section > *:first-child {
  display: block;
  margin-right: 24px;
}
@media screen and (min-width: 480px) {
  nav > section > *:first-child {
    margin-right: 48px;
  }
}
nav > section > *:last-child {
  display: block;
  float: right;
  line-height: 42px;
}
nav ul {
  height: 48px;
}
nav li {
  float: left;
  height: 48px;
  line-height: 48px;
  list-style: none;
}
nav h1 {
  display: block;
  float: left;
  font-size: 26px;
  line-height: 48px;
  padding: 0 12px;
  color: #f6fafe;
}
nav a {
  display: block;
  float: left;
  text-decoration: none;
  color: #f6fafe;
}
nav li > a {
  padding-left: 12px;
  padding-right: 12px;
}
nav li > a:hover {
  background-color: #98c5ed;
  color: #385a78;
}
body > nav:first-child,
body > nav:last-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}
section {
  max-width: 768px;
  margin: 0 auto 12px auto;
  padding: 12px;
}
section:first-child {
  margin-top: 0;
}
section > * {
  margin: 0 auto;
}
section > *:last-child {
  margin-bottom: 12px;
}
section > * + * {
  margin-top: 12px;
}
main {
  padding: 12px;
  margin: 0;
  background-color: #40bcdf;
  color: #f6fcfe;
}
main h1,
main h2 {
  text-align: center;
}
main h1 + p,
main h2 + p {
  text-align: center;
  font-size: 125%;
  margin-bottom: 1em;
}
main img {
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  main {
    max-width: 768px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 6px;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.7em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.0em;
}
h1,
h2,
h3,
h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.62;
  font-weight: bold;
}
h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4 {
  margin-top: 0;
}
h5,
h6 {
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
p,
form,
article,
ul,
dl,
li {
  margin: 0 auto 1em;
}
@media screen and (min-width: 768px) {
  p,
  form,
  article,
  ul,
  dl,
  li {
    max-width: 50ch;
  }
}
p.info,
form.info,
article.info,
ul.info,
dl.info,
li.info,
p.warning,
form.warning,
article.warning,
ul.warning,
dl.warning,
li.warning,
p.action,
form.action,
article.action,
ul.action,
dl.action,
li.action,
p.reaction,
form.reaction,
article.reaction,
ul.reaction,
dl.reaction,
li.reaction,
p.success,
form.success,
article.success,
ul.success,
dl.success,
li.success,
p.failure,
form.failure,
article.failure,
ul.failure,
dl.failure,
li.failure {
  padding: .5em 1em;
}
ul,
ol {
  padding-left: 2ch;
}
dt {
  font-weight: bold;
  font-size: 90%;
}
dd {
  margin-bottom: 12px;
}
a {
  color: inherit;
  text-decoration: underline;
}
aside {
  margin-bottom: 1em;
}
aside > button {
  width: 100%;
  margin-bottom: .5em;
}
aside > * {
  margin-right: 12px;
}
aside > *:last-child {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  aside {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  aside > button {
    width: auto;
  }
  p + aside {
    padding-top: 1em;
  }
}
form {
  background: #6CADE6;
  max-width: 36ch;
  color: #f6fafe;
  padding: 2ch;
}
form > * {
  width: 100%;
  max-width: 36ch;
  margin-bottom: .8em;
}
form > * + button {
  margin-top: .8em;
  margin-bottom: 3px;
  font-size: 133%;
}
form p {
  padding: 0;
}
form input,
form textarea {
  width: 100%;
  padding: 1ch;
  border: none;
  background: #f7f7f7;
  color: #6d6d6d;
}
form select {
  padding: 1ch;
  color: #6d6d6d;
  vertical-align: middle;
  background: #f7f7f7;
  background-image: none;
  border: none;
  border-radius: 0;
  height: 2.5em;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}
label {
  display: block;
  margin-bottom: .25em;
}
strong {
  font-weight: bold;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table > thead > tr > th {
  background-color: #6CADE6;
  color: #f6fafe;
}
table > tbody > tr > td {
  color: #f6f8fe;
}
table > tbody > tr {
  background-color: #98b0ed;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #91abec;
}
table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 6px;
}
table thead th {
  vertical-align: bottom;
}
table tr > td:first-child,
table tr > th:first-child {
  padding-left: 12px;
}
table tr > td:last-child,
table tr > th:last-child {
  padding-right: 12px;
}
table.action > thead > tr > th {
  background-color: #6CADE6;
  color: #f6fafe;
}
table.action > tbody > tr > td {
  color: #f6f8fe;
}
table.action > tbody > tr {
  background-color: #98b0ed;
}
table.action > tbody > tr:nth-of-type(odd) {
  background-color: #91abec;
}
table.reaction > thead > tr > th {
  background-color: #cbe66c;
  color: #616f2c;
}
table.reaction > tbody > tr > td {
  color: #54762e;
}
table.reaction > tbody > tr {
  background-color: #b7e97d;
}
table.reaction > tbody > tr:nth-of-type(odd) {
  background-color: #b3e877;
}
table.info > thead > tr > th {
  background-color: #63c5e2;
  color: #f6fcfe;
}
table.info > tbody > tr > td {
  color: #f6fafe;
}
table.info > tbody > tr {
  background-color: #8ebeea;
}
table.info > tbody > tr:nth-of-type(odd) {
  background-color: #88bae9;
}
table.warning > thead > tr > th {
  background-color: #f37f47;
  color: #fff8f5;
}
table.warning > tbody > tr > td {
  color: #fff6f5;
}
table.warning > tbody > tr {
  background-color: #f68177;
}
table.warning > tbody > tr:nth-of-type(odd) {
  background-color: #f57a70;
}
table.success > thead > tr > th {
  background-color: #64cf64;
  color: #f7fdf7;
}
table.success > tbody > tr > td {
  color: #376d44;
}
table.success > tbody > tr {
  background-color: #8bdb9f;
}
table.success > tbody > tr:nth-of-type(odd) {
  background-color: #85d99a;
}
table.failure > thead > tr > th {
  background-color: #db615d;
  color: #fef6f6;
}
table.failure > tbody > tr > td {
  color: #fef8f6;
}
table.failure > tbody > tr {
  background-color: #e6a890;
}
table.failure > tbody > tr:nth-of-type(odd) {
  background-color: #e5a389;
}
footer {
  margin-bottom: 0;
}
section footer {
  text-align: center;
  display: inline-block;
  width: auto;
  margin: 0 auto;
}
fieldset,
img {
  border: 0;
}
caption,
figcaption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
input,
textarea,
select {
  font-size: 110%;
  line-height: 1.1;
}
abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}
blockquote {
  padding-left: 1em;
  border-left: 5px solid #98b0ed;
  max-width: 50ch;
}
blockquote:nth-child(even) {
  text-align: right;
}
blockquote cite {
  font-style: italic;
  display: block;
}
blockquote cite:before {
  content: '—';
  padding-right: 5px;
}
code,
pre {
  font-family: monospace;
  font-size: 85%;
  padding: .1em .5em .15em .5em;
  border-radius: 3px;
  background: #474746;
  color: #fdf6f0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 6px;
  outline: none;
  white-space: nowrap;
  padding: .4em 1ch;
  color: #faf9f9;
  background-color: #6CADE6;
  border-color: #56a1e2;
  color: #f6fafe;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: #5fa6e4;
}
button.action {
  background-color: #6CADE6;
  border-color: #56a1e2;
  color: #f6fafe;
}
button.action:active {
  background-color: #5fa6e4;
}
button.reaction {
  background-color: #cbe66c;
  border-color: #c4e256;
  color: #616f2c;
}
button.reaction:active {
  background-color: #c7e45f;
}
button.info {
  background-color: #63c5e2;
  border-color: #4ebdde;
  color: #f6fcfe;
}
button.info:active {
  background-color: #57c0e0;
}
button.warning {
  background-color: #f37f47;
  border-color: #f16f30;
  color: #fff8f5;
}
button.warning:active {
  background-color: #f27639;
}
button.success {
  background-color: #64cf64;
  border-color: #51c951;
  color: #f7fdf7;
}
button.success:active {
  background-color: #58cb58;
}
button.failure {
  background-color: #db615d;
  border-color: #d64d49;
  color: #fef6f6;
}
button.failure:active {
  background-color: #d85551;
}
mark,
::selection {
  background: #876ce6;
  color: #f8f6fe;
}
hr {
  border-color: #98b0ed;
  border-top-color: #8fa9ec;
  border-bottom-color: #adc1f1;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.info {
  background-color: #63c5e2;
  color: #f6fcfe;
  border-color: #63c5e2;
}
.warning {
  background-color: #f37f47;
  color: #fff8f5;
  border-color: #f37f47;
}
.failure {
  background-color: #db615d;
  color: #fef6f6;
  border-color: #db615d;
}
.success {
  background-color: #64cf64;
  color: #f7fdf7;
  border-color: #64cf64;
}
.action {
  background-color: #6CADE6;
  color: #f6fafe;
  border-color: #6CADE6;
}
.reaction {
  background-color: #cbe66c;
  color: #616f2c;
  border-color: #cbe66c;
}
.gray {
  background-color: #939393;
  color: #faf9f9;
  border-color: #939393;
}
#sl_accented .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_accented .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_accented .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_accented .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_accented .sl-color2 {
  background-color: #e6a56c;
  border-color: #e5a063;
}
#sl_accented .sl-color2a {
  background-color: #edaa98;
  border-color: #eca38f;
}
#sl_accented .sl-color2b {
  background-color: #cbe66c;
  border-color: #c8e563;
}
#sl_accented .sl-color2c {
  background-color: #dfb240;
  border-color: #ddae38;
}
#sl_accented .sl-color3 {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_accented .sl-color3a {
  background-color: #989aed;
  border-color: #8f92ec;
}
#sl_accented .sl-color3b {
  background-color: #e26ce6;
  border-color: #e063e5;
}
#sl_accented .sl-color3c {
  background-color: #8a40df;
  border-color: #8538dd;
}
#sl_accented .sl-color4 {
  background-color: #6ce6c4;
  border-color: #63e5c0;
}
#sl_accented .sl-color4a {
  background-color: #98edc0;
  border-color: #8fecba;
}
#sl_accented .sl-color4b {
  background-color: #70e66c;
  border-color: #68e563;
}
#sl_accented .sl-color4c {
  background-color: #40dfd9;
  border-color: #38ddd8;
}
#sl_complementary .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_complementary .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_complementary .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_complementary .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_complementary .sl-color2 {
  background-color: #e6a56c;
  border-color: #e5a063;
}
#sl_complementary .sl-color2a {
  background-color: #edaa98;
  border-color: #eca38f;
}
#sl_complementary .sl-color2b {
  background-color: #cbe66c;
  border-color: #c8e563;
}
#sl_complementary .sl-color2c {
  background-color: #dfb240;
  border-color: #ddae38;
}
#sl_complementary .sl-color3 {
  background-color: #6c8ee6;
  border-color: #6388e5;
}
#sl_complementary .sl-color3a {
  background-color: #989aed;
  border-color: #8f92ec;
}
#sl_complementary .sl-color3b {
  background-color: #6ce6e2;
  border-color: #63e5e0;
}
#sl_complementary .sl-color3c {
  background-color: #4095df;
  border-color: #3890dd;
}
#sl_complementary .sl-color4 {
  background-color: #e6c36c;
  border-color: #e5c063;
}
#sl_complementary .sl-color4a {
  background-color: #edc098;
  border-color: #ecba8f;
}
#sl_complementary .sl-color4b {
  background-color: #ade66c;
  border-color: #a8e563;
}
#sl_complementary .sl-color4c {
  background-color: #dfd940;
  border-color: #ddd838;
}
#sl_triadic .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_triadic .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_triadic .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_triadic .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_triadic .sl-color2 {
  background-color: #e66cad;
  border-color: #e563a8;
}
#sl_triadic .sl-color2a {
  background-color: #ed98b0;
  border-color: #ec8fa9;
}
#sl_triadic .sl-color2b {
  background-color: #c46ce6;
  border-color: #c063e5;
}
#sl_triadic .sl-color2c {
  background-color: #df40bc;
  border-color: #dd38b9;
}
#sl_triadic .sl-color3 {
  background-color: #ade66c;
  border-color: #a8e563;
}
#sl_triadic .sl-color3a {
  background-color: #b0ed98;
  border-color: #a9ec8f;
}
#sl_triadic .sl-color3b {
  background-color: #6ce687;
  border-color: #63e57f;
}
#sl_triadic .sl-color3c {
  background-color: #bcdf40;
  border-color: #b9dd38;
}
#sl_triadic .sl-color4 {
  background-color: #6ccbe6;
  border-color: #63c8e5;
}
#sl_triadic .sl-color4a {
  background-color: #98c5ed;
  border-color: #8fc0ec;
}
#sl_triadic .sl-color4b {
  background-color: #6c70e6;
  border-color: #6368e5;
}
#sl_triadic .sl-color4c {
  background-color: #40dfd9;
  border-color: #38ddd8;
}
#sl_tetradic .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_tetradic .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_tetradic .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_tetradic .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_tetradic .sl-color2 {
  background-color: #e6a56c;
  border-color: #e5a063;
}
#sl_tetradic .sl-color2a {
  background-color: #edaa98;
  border-color: #eca38f;
}
#sl_tetradic .sl-color2b {
  background-color: #cbe66c;
  border-color: #c8e563;
}
#sl_tetradic .sl-color2c {
  background-color: #dfb240;
  border-color: #ddae38;
}
#sl_tetradic .sl-color3 {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_tetradic .sl-color3a {
  background-color: #989aed;
  border-color: #8f92ec;
}
#sl_tetradic .sl-color3b {
  background-color: #e26ce6;
  border-color: #e063e5;
}
#sl_tetradic .sl-color3c {
  background-color: #8a40df;
  border-color: #8538dd;
}
#sl_tetradic .sl-color4 {
  background-color: #cbe66c;
  border-color: #c8e563;
}
#sl_tetradic .sl-color4a {
  background-color: #c5ed98;
  border-color: #c0ec8f;
}
#sl_tetradic .sl-color4b {
  background-color: #70e66c;
  border-color: #68e563;
}
#sl_tetradic .sl-color4c {
  background-color: #dfd940;
  border-color: #ddd838;
}
#sl_square .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_square .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_square .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_square .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_square .sl-color2 {
  background-color: #e6a56c;
  border-color: #e5a063;
}
#sl_square .sl-color2a {
  background-color: #edaa98;
  border-color: #eca38f;
}
#sl_square .sl-color2b {
  background-color: #cbe66c;
  border-color: #c8e563;
}
#sl_square .sl-color2c {
  background-color: #dfb240;
  border-color: #ddae38;
}
#sl_square .sl-color3 {
  background-color: #e26ce6;
  border-color: #e063e5;
}
#sl_square .sl-color3a {
  background-color: #d598ed;
  border-color: #d28fec;
}
#sl_square .sl-color3b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_square .sl-color3c {
  background-color: #df40bc;
  border-color: #dd38b9;
}
#sl_square .sl-color4 {
  background-color: #70e66c;
  border-color: #68e563;
}
#sl_square .sl-color4a {
  background-color: #98edaa;
  border-color: #8feca3;
}
#sl_square .sl-color4b {
  background-color: #cbe66c;
  border-color: #c8e563;
}
#sl_square .sl-color4c {
  background-color: #6ddf40;
  border-color: #66dd38;
}
#sl_ebb .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_ebb .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_ebb .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_ebb .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_ebb .sl-color2 {
  background-color: #e6c36c;
  border-color: #e5c063;
}
#sl_ebb .sl-color2a {
  background-color: #edc098;
  border-color: #ecba8f;
}
#sl_ebb .sl-color2b {
  background-color: #ade66c;
  border-color: #a8e563;
}
#sl_ebb .sl-color2c {
  background-color: #dfd940;
  border-color: #ddd838;
}
#sl_ebb .sl-color3 {
  background-color: #6c8ee6;
  border-color: #6388e5;
}
#sl_ebb .sl-color3a {
  background-color: #989aed;
  border-color: #8f92ec;
}
#sl_ebb .sl-color3b {
  background-color: #6ce6e2;
  border-color: #63e5e0;
}
#sl_ebb .sl-color3c {
  background-color: #4095df;
  border-color: #3890dd;
}
#sl_ebb .sl-color4 {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_ebb .sl-color4a {
  background-color: #989aed;
  border-color: #8f92ec;
}
#sl_ebb .sl-color4b {
  background-color: #e26ce6;
  border-color: #e063e5;
}
#sl_ebb .sl-color4c {
  background-color: #8a40df;
  border-color: #8538dd;
}
#sl_flow .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_flow .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_flow .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_flow .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_flow .sl-color2 {
  background-color: #e6876c;
  border-color: #e57f63;
}
#sl_flow .sl-color2a {
  background-color: #ed989a;
  border-color: #ec8f92;
}
#sl_flow .sl-color2b {
  background-color: #e6e26c;
  border-color: #e5e063;
}
#sl_flow .sl-color2c {
  background-color: #df8a40;
  border-color: #dd8538;
}
#sl_flow .sl-color3 {
  background-color: #6ccbe6;
  border-color: #63c8e5;
}
#sl_flow .sl-color3a {
  background-color: #98c5ed;
  border-color: #8fc0ec;
}
#sl_flow .sl-color3b {
  background-color: #6c70e6;
  border-color: #6368e5;
}
#sl_flow .sl-color3c {
  background-color: #40dfd9;
  border-color: #38ddd8;
}
#sl_flow .sl-color4 {
  background-color: #6ce6c4;
  border-color: #63e5c0;
}
#sl_flow .sl-color4a {
  background-color: #98edc0;
  border-color: #8fecba;
}
#sl_flow .sl-color4b {
  background-color: #70e66c;
  border-color: #68e563;
}
#sl_flow .sl-color4c {
  background-color: #40dfd9;
  border-color: #38ddd8;
}
#sl_monochromatic .sl-color1 {
  background-color: #6CADE6;
  border-color: #63a8e5;
}
#sl_monochromatic .sl-color1a {
  background-color: #98b0ed;
  border-color: #8fa9ec;
}
#sl_monochromatic .sl-color1b {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_monochromatic .sl-color1c {
  background-color: #40bcdf;
  border-color: #38b9dd;
}
#sl_monochromatic .sl-color2 {
  background-color: #876ce6;
  border-color: #7f63e5;
}
#sl_monochromatic .sl-color2a {
  background-color: #989aed;
  border-color: #8f92ec;
}
#sl_monochromatic .sl-color2b {
  background-color: #e26ce6;
  border-color: #e063e5;
}
#sl_monochromatic .sl-color2c {
  background-color: #8a40df;
  border-color: #8538dd;
}
#sl_monochromatic .sl-color3 {
  background-color: #6c9ee6;
  border-color: #6398e5;
}
#sl_monochromatic .sl-color3a {
  background-color: #98a5ed;
  border-color: #8f9eec;
}
#sl_monochromatic .sl-color3b {
  background-color: #6ce6d3;
  border-color: #63e5d0;
}
#sl_monochromatic .sl-color3c {
  background-color: #40a8df;
  border-color: #38a4dd;
}
#sl_monochromatic .sl-color4 {
  background-color: #6cbce6;
  border-color: #63b8e5;
}
#sl_monochromatic .sl-color4a {
  background-color: #98bbed;
  border-color: #8fb5ec;
}
#sl_monochromatic .sl-color4b {
  background-color: #776ce6;
  border-color: #6f63e5;
}
#sl_monochromatic .sl-color4c {
  background-color: #40d0df;
  border-color: #38cedd;
}
.sl-swatch-base,
.swatch {
  display: none;
  float: left;
  font-size: 10px;
  min-width: 32px;
  width: 50%;
  height: 20px;
  border: 1px solid transparent;
  margin-bottom: 0;
  text-align: right;
  line-height: 37px;
  display: block;
}
.sl-swatch-base:before,
.swatch:before {
  display: none;
}
@media screen and (min-width: 480px) {
  .sl-swatch-base,
  .swatch {
    position: relative;
    width: 23%;
    height: 40px;
    margin-right: 2%;
    margin-bottom: -8px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .sl-swatch-base:nth-child(4n + 2),
  .swatch:nth-child(4n + 2) {
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
    top: -2px;
  }
  .sl-swatch-base:nth-child(4n + 3),
  .swatch:nth-child(4n + 3) {
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
    top: -3px;
  }
  .sl-swatch-base:nth-child(4n + 4),
  .swatch:nth-child(4n + 4) {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    top: -2px;
  }
  .sl-swatch-base:before,
  .swatch:before {
    font-size: 9px;
    font-weight: bold;
    pointer-events: none;
    position: relative;
    bottom: -10px;
    right: 3px;
  }
}
.palettes {
  margin-bottom: 60px;
}
.palettes:before,
.palettes:after {
  content: " ";
  display: table;
}
.palettes:after {
  clear: both;
}
.palettes:before,
.palettes:after {
  content: " ";
  display: table;
}
.palettes:after {
  clear: both;
}
.palette-preview {
  float: left;
  width: 50%;
  margin-right: 0;
  margin-bottom: 0;
  position: relative;
  padding-top: 24px;
}
.palette-preview:before {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .palette-preview {
    max-width: 32%;
    margin-right: 2%;
  }
  .palette-preview:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .palette-preview {
    max-width: 23.5%;
    margin-right: 2%;
  }
  .palette-preview:nth-child(3n) {
    margin-right: 2%;
  }
  .palette-preview:nth-child(4n) {
    margin-right: 0;
  }
}
.sl-single-color {
  font-size: 12px;
  line-height: 40px;
  width: 75px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0 6px;
  text-align: center;
}
.sl-gray {
  width: 95px;
}
.sl-color-action {
  background-color: #6CADE6;
  color: #f6fafe;
  border-color: #6CADE6;
}
.sl-color-reaction {
  background-color: #cbe66c;
  color: #616f2c;
  border-color: #cbe66c;
}
.sl-color-info {
  background-color: #63c5e2;
  color: #f6fcfe;
  border-color: #63c5e2;
}
.sl-color-warning {
  background-color: #f37f47;
  color: #fff8f5;
  border-color: #f37f47;
}
.sl-color-success {
  background-color: #64cf64;
  color: #f7fdf7;
  border-color: #64cf64;
}
.sl-color-failure {
  background-color: #db615d;
  color: #fef6f6;
  border-color: #db615d;
}
.sl-color-gray-lighter {
  background-color: #c6c6c6;
  color: #595959;
  border-color: #c6c6c6;
}
.sl-color-gray-light {
  background-color: #acacac;
  color: #faf9f9;
  border-color: #acacac;
}
.sl-color-gray {
  background-color: #939393;
  color: #faf9f9;
  border-color: #939393;
}
.sl-color-gray-dark {
  background-color: #7a7a7a;
  color: #faf9f9;
  border-color: #7a7a7a;
}
.sl-color-gray-darker {
  background-color: #606060;
  color: #faf9f9;
  border-color: #606060;
}
#strapless_patterns_checkerboard:before {
  content: 'Checkerboard';
}
#strapless_patterns_checkerboard .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='#6CADE6'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='#6ce6d3'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: -15px -15px;
}
#strapless_patterns_checkerboard .pattern:nth-child(1):before {
  content: '.checkerboard (@color1)';
}
#strapless_patterns_checkerboard .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='#98b0ed'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='#98e5ed'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: -15px -15px;
}
#strapless_patterns_checkerboard .pattern:nth-child(2):before {
  content: '.checkerboard (@color1a)';
}
#strapless_patterns_checkerboard .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60px' height='60px'%3E%3Crect width='60' height='60' fill='#876ce6'/%3E%3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='#6c9ee6'/%3E%3C/svg%3E");
  background-size: 60px, 120px;
  background-position: -15px -15px;
}
#strapless_patterns_checkerboard .pattern:nth-child(3):before {
  content: '.checkerboard (@color1b)';
}
#strapless_patterns_bathmat:before {
  content: 'Bathmat';
}
#strapless_patterns_bathmat .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='#6CADE6'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='#40bcdf' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='#40bcdf' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='#40bcdf' fill='none'/%3E%3C/svg%3E");
}
#strapless_patterns_bathmat .pattern:nth-child(1):before {
  content: '.bathmat (@color1)';
}
#strapless_patterns_bathmat .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='#98b0ed'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='#6cade6' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='#6cade6' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='#6cade6' fill='none'/%3E%3C/svg%3E");
}
#strapless_patterns_bathmat .pattern:nth-child(2):before {
  content: '.bathmat (@color1a)';
}
#strapless_patterns_bathmat .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='40' height='40' fill='#876ce6'/%3E%3Ccircle r='9.2' stroke-width='1' stroke='#9049e0' fill='none'/%3E%3Ccircle cy='18.4' r='9.2' stroke-width='1px' stroke='#9049e0' fill='none'/%3E%3Ccircle cx='18.4' cy='18.4' r='9.2' stroke-width='1' stroke='#9049e0' fill='none'/%3E%3C/svg%3E");
}
#strapless_patterns_bathmat .pattern:nth-child(3):before {
  content: '.bathmat (@color1b)';
}
#strapless_patterns_crosshatch:before {
  content: 'Crosshatch';
}
#strapless_patterns_crosshatch .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='#6CADE6'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='#37d4f9'/%3E%3C/svg%3E");
}
#strapless_patterns_crosshatch .pattern:nth-child(1):before {
  content: '.crosshatch (@color1)';
}
#strapless_patterns_crosshatch .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='#98b0ed'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='#80ccfc'/%3E%3C/svg%3E");
}
#strapless_patterns_crosshatch .pattern:nth-child(2):before {
  content: '.crosshatch (@color1a)';
}
#strapless_patterns_crosshatch .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' fill='#876ce6'/%3E%3Cpath d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='#963ef9'/%3E%3C/svg%3E");
}
#strapless_patterns_crosshatch .pattern:nth-child(3):before {
  content: '.crosshatch (@color1b)';
}
#strapless_patterns_noise:before {
  content: 'Noise';
}
#strapless_patterns_noise .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' fill='#876ce6'/%3E%3Crect width='500' height='500' filter='url(#n)' opacity='0.4'/%3E%3C/svg%3E");
}
#strapless_patterns_noise .pattern:nth-child(1):before {
  content: '.noise (@color3)';
}
#strapless_patterns_noise .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' fill='#989aed'/%3E%3Crect width='500' height='500' filter='url(#n)' opacity='0.4'/%3E%3C/svg%3E");
}
#strapless_patterns_noise .pattern:nth-child(2):before {
  content: '.noise (@color3a)';
}
#strapless_patterns_noise .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' fill='#e26ce6'/%3E%3Crect width='500' height='500' filter='url(#n)' opacity='0.4'/%3E%3C/svg%3E");
}
#strapless_patterns_noise .pattern:nth-child(3):before {
  content: '.noise (@color3b)';
}
#strapless_patterns_blueprint:before {
  content: 'Blueprint';
}
#strapless_patterns_blueprint .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='#6CADE6'/%3E %3Cg fill='#82b4ea'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='#98b0ed'/%3E %3C/svg%3E");
  background-size: 64px, 64px;
  background-position: center -32px;
}
#strapless_patterns_blueprint .pattern:nth-child(1):before {
  content: '.blueprint (@color1)';
}
#strapless_patterns_blueprint .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='#dfb240'/%3E %3Cg fill='#e2a456'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='#e6a56c'/%3E %3C/svg%3E");
  background-size: 32px, 32px;
  background-position: center -32px;
}
#strapless_patterns_blueprint .pattern:nth-child(2):before {
  content: '.blueprint (@color2c, .5)';
}
#strapless_patterns_blueprint .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E %3Crect width='100' height='100' fill='#64cf64'/%3E %3Cg fill='#7cd577'%3E %3Crect width='100' height='1' y='20'/%3E %3Crect width='100' height='1' y='40'/%3E %3Crect width='100' height='1' y='60'/%3E %3Crect width='100' height='1' y='80'/%3E %3Crect width='1' height='100' x='20'/%3E %3Crect width='1' height='100' x='40'/%3E %3Crect width='1' height='100' x='60'/%3E %3Crect width='1' height='100' x='80'/%3E %3C/g%3E %3Crect width='100' height='100' fill='none' stroke-width='2' stroke='#8bdb9f'/%3E %3C/svg%3E");
  background-size: 64px, 64px;
  background-position: center -32px;
}
#strapless_patterns_blueprint .pattern:nth-child(3):before {
  content: '.blueprint (@success)';
}
#strapless_patterns_pegboard:before {
  content: 'Pegboard';
}
#strapless_patterns_pegboard .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='#e6a56c'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='#edaa98'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='#df8a40'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='#edaa98'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='#df8a40'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
}
#strapless_patterns_pegboard .pattern:nth-child(1):before {
  content: '.pegboard (@color2)';
}
#strapless_patterns_pegboard .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='#876ce6'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='#c5a0ef'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='#6340df'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='#c5a0ef'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='#6340df'/%3E%3C/svg%3E");
  background-size: 15px, 15px;
}
#strapless_patterns_pegboard .pattern:nth-child(2):before {
  content: '.pegboard (@color3)';
}
#strapless_patterns_pegboard .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px'%3E%3Crect width='50' height='50' fill='#40dfd9'/%3E%3Ccircle cx='3' cy='4.3' r='1.8' fill='#6ccbe6'/%3E%3Ccircle cx='3' cy='3' r='1.8' fill='#22cac4'/%3E%3Ccircle cx='10.5' cy='12.5' r='1.8' fill='#6ccbe6'/%3E%3Ccircle cx='10.5' cy='11.3' r='1.8' fill='#22cac4'/%3E%3C/svg%3E");
  background-size: 22.5px, 22.5px;
}
#strapless_patterns_pegboard .pattern:nth-child(3):before {
  content: '.pegboard (@color4c, 1.5)';
}
#strapless_patterns_argyle:before {
  content: 'Argyle';
}
#strapless_patterns_argyle .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='#6CADE6'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='#6c8ee6'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='#82b2dd'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='#82b2dd'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center -30px;
}
#strapless_patterns_argyle .pattern:nth-child(1):before {
  content: '.argyle (@color1)';
}
#strapless_patterns_argyle .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='#98b0ed'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='#989aed'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='#a9bbe9'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='#a9bbe9'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 60px, 90px;
  background-position: center -30px;
}
#strapless_patterns_argyle .pattern:nth-child(2):before {
  content: '.argyle (@color1a)';
}
#strapless_patterns_argyle .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='90'%3E %3Cg transform='scale(1 1.5)'%3E %3Crect width='99' height='99' fill='#876ce6'/%3E %3Crect width='42.42' height='42.42' transform='translate(30 0) rotate(45)' fill='#a56ce6'/%3E %3Crect width='99' height='1' transform='rotate(45)' fill='#9783de'/%3E %3Crect width='99' height='1' transform='translate(0 60) rotate(-45)' fill='#9783de'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 30px, 45px;
  background-position: center -30px;
}
#strapless_patterns_argyle .pattern:nth-child(3):before {
  content: '.argyle (@color1b, @scale: .5)';
}
#strapless_patterns_dots:before {
  content: 'Dots';
}
#strapless_patterns_dots .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='#e6a56c'/%3E %3Crect width='1' height='1' fill='#dfb240'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_dots .pattern:nth-child(1):before {
  content: '.dots (@color2)';
}
#strapless_patterns_dots .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='#edaa98'/%3E %3Crect width='1' height='1' fill='#e6a56c'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_dots .pattern:nth-child(2):before {
  content: '.dots (@color2a)';
}
#strapless_patterns_dots .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='#cbe66c'/%3E %3Crect width='1' height='1' fill='#e0db49'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_dots .pattern:nth-child(3):before {
  content: '.dots (@color2b)';
}
#strapless_patterns_stripes:before {
  content: 'Stripes';
}
#strapless_patterns_stripes .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='#876ce6'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='#6ce687' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_stripes .pattern:nth-child(1):before {
  content: '.stripes1 (@color3)';
}
#strapless_patterns_stripes .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='#989aed'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='#9aed98' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_stripes .pattern:nth-child(2):before {
  content: '.stripes1 (@color3a)';
}
#strapless_patterns_stripes .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5'%3E %3Crect width='5' height='5' fill='#e26ce6'/%3E %3Cpath d='M0 5L5 0ZM6 4L4 6ZM-1 1L1 -1Z' stroke='#ade66c' stroke-width='1'/%3E %3C/svg%3E");
  background-size: 5px, 5px;
  background-position: center -2.5px;
}
#strapless_patterns_stripes .pattern:nth-child(3):before {
  content: '.stripes1 (@color3b)';
}
#strapless_patterns_honeycomb:before {
  content: 'Honeycomb';
}
#strapless_patterns_honeycomb .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='#6ce6c4'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='#6ce6c4' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='#56d1d1' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -28px;
}
#strapless_patterns_honeycomb .pattern:nth-child(1):before {
  content: '.honeycomb (@color4)';
}
#strapless_patterns_honeycomb .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='#64cf64'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='#64cf64' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='#51c993' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -28px;
}
#strapless_patterns_honeycomb .pattern:nth-child(2):before {
  content: '.honeycomb (@success)';
}
#strapless_patterns_honeycomb .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3E %3Crect width='56' height='100' fill='#db615d'/%3E %3Cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='#db615d' stroke-width='2'/%3E %3Cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='#d59a4d' stroke-width='2'/%3E %3C/svg%3E");
  background-size: 56px, 100px;
  background-position: center -28px;
}
#strapless_patterns_honeycomb .pattern:nth-child(3):before {
  content: '.honeycomb (@failure)';
}
#strapless_patterns_chevrons:before {
  content: 'Chevrons';
}
#strapless_patterns_chevrons .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='#6CADE6' stroke-width='2.5' stroke='#77b3e8'/%3E %3Cg id='p'%3E %3Cuse xlink:href='#r'/%3E %3Cuse y='15' xlink:href='#r'/%3E %3Cuse y='30' xlink:href='#r'/%3E %3Cuse y='45' xlink:href='#r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='#p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='#p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
}
#strapless_patterns_chevrons .pattern:nth-child(1):before {
  content: '.chevrons (@color1)';
}
#strapless_patterns_chevrons .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='#e6a56c' stroke-width='2.5' stroke='#e8ac77'/%3E %3Cg id='p'%3E %3Cuse xlink:href='#r'/%3E %3Cuse y='15' xlink:href='#r'/%3E %3Cuse y='30' xlink:href='#r'/%3E %3Cuse y='45' xlink:href='#r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='#p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='#p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
}
#strapless_patterns_chevrons .pattern:nth-child(2):before {
  content: '.chevrons (@color2)';
}
#strapless_patterns_chevrons .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='30'%3E %3Cdefs%3E %3Crect id='r' width='30' height='15' fill='#876ce6' stroke-width='2.5' stroke='#8f77e8'/%3E %3Cg id='p'%3E %3Cuse xlink:href='#r'/%3E %3Cuse y='15' xlink:href='#r'/%3E %3Cuse y='30' xlink:href='#r'/%3E %3Cuse y='45' xlink:href='#r'/%3E %3C/g%3E %3C/defs%3E %3Cuse xlink:href='#p' transform='translate(0 -25) skewY(40)'/%3E %3Cuse xlink:href='#p' transform='translate(30 0) skewY(-40)'/%3E %3C/svg%3E");
  background-size: 60px, 30px;
  background-position: center -30px;
}
#strapless_patterns_chevrons .pattern:nth-child(3):before {
  content: '.chevrons (@color3)';
}
#strapless_patterns_carbon:before {
  content: 'Carbon';
}
#strapless_patterns_carbon .pattern:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6' height='6'%3E%3Crect width='6' height='6' fill='#98b0ed'/%3E%3Cg id='c'%3E%3Crect width='3' height='3' fill='#a9bdf0'/%3E%3Crect y='1' width='3' height='2' fill='#86a3ea'/%3E%3C/g%3E%3Cuse xlink:href='#c' x='3' y='3'/%3E%3C/svg%3E");
  background-size: 6px, 6px;
  background-position: center -3px;
}
#strapless_patterns_carbon .pattern:nth-child(1):before {
  content: '.carbon (@color1a)';
}
#strapless_patterns_carbon .pattern:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6' height='6'%3E%3Crect width='6' height='6' fill='#f37f47'/%3E%3Cg id='c'%3E%3Crect width='3' height='3' fill='#f48d5b'/%3E%3Crect y='1' width='3' height='2' fill='#f17234'/%3E%3C/g%3E%3Cuse xlink:href='#c' x='3' y='3'/%3E%3C/svg%3E");
  background-size: 6px, 6px;
  background-position: center -3px;
}
#strapless_patterns_carbon .pattern:nth-child(2):before {
  content: '.carbon (@warning)';
}
#strapless_patterns_carbon .pattern:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6' height='6'%3E%3Crect width='6' height='6' fill='#dfb240'/%3E%3Cg id='c'%3E%3Crect width='3' height='3' fill='#e2b952'/%3E%3Crect y='1' width='3' height='2' fill='#dcab2f'/%3E%3C/g%3E%3Cuse xlink:href='#c' x='3' y='3'/%3E%3C/svg%3E");
  background-size: 6px, 6px;
  background-position: center -3px;
}
#strapless_patterns_carbon .pattern:nth-child(3):before {
  content: '.carbon (@color2c)';
}
.pattern-preview {
  padding-top: 12px;
}
.pattern-preview:before,
.pattern-preview:after {
  content: " ";
  display: table;
}
.pattern-preview:after {
  clear: both;
}
.pattern-preview:before,
.pattern-preview:after {
  content: " ";
  display: table;
}
.pattern-preview:after {
  clear: both;
}
.pattern-preview:before {
  display: block;
  margin-bottom: 12px;
}
.pattern-preview > .pattern {
  float: left;
  min-width: 100px;
  width: 33.3%;
  height: 200px;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pattern-preview > .pattern:last-child {
  margin-right: 0;
}
.pattern-preview > .pattern:before {
  text-align: center;
  padding: 6px;
  font-size: 14px;
  line-height: 16px;
  background: rgba(64, 188, 223, 0.4);
  width: 100%;
  color: #f6fcfe;
}
.pattern-preview > .pattern:hover:before {
  background: #40bcdf;
}
body,
#feature,
#feature > *,
section > *,
nav,
#demo_form,
#loading_overlay,
.swatch {
  transition: color 2s ease;
  transition: background 2s ease;
}
body {
  background-color: #98b0ed;
  color: #f6f8fe;
}
#get_color1 {
  color: #6CADE6;
}
#get_color2 {
  color: #e6a56c;
}
#get_color3 {
  color: #876ce6;
}
#get_color4 {
  color: #6ce6c4;
}
#demo_form {
  position: relative;
  border-radius: 6px;
  background: #876ce6;
  color: #f8f6fe;
}
@media screen and (min-width: 992px) {
  #demo_form {
    font-size: 12px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 1000;
    max-width: 200px;
  }
}
#loading_overlay {
  display: none;
  position: absolute;
  background: #98edc0;
  color: #387856;
  border-radius: 6px;
  z-index: 1001;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
#loading_overlay div {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  right: 0;
}
#loading_overlay h1 {
  margin: 0;
}
.sl-current-color {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  white-space: nowrap;
  background-color: #6CADE6;
  border: 2px solid #40bcdf;
  vertical-align: top;
  margin-top: 5px;
  border-radius: 1.5px;
}
/*# sourceMappingURL=index.css.map */