
{% extends "email_base.html" %}
{% load account %}
{% load i18n %}
{% user_display user as user_display %}

{% block content %}
Hi {{ user.first_name }},<br /><br />

You (or someone pretending to be you) have asked to register an account at
{{ current_site.name }}.  If this wasn't you, please ignore this email
and your address will be removed from our records.<br /><br />

To activate this account, please click the following link within the next
{{ ACCOUNT_EMAIL_CONFIRMATION_EXPIRE_DAYS }} days:<br /><br />

<a href="{{ activate_url }}" target ="_blank" title="Activation Link" style="text-decoration: none;">{{ activate_url }}</a><br /><br />

Sincerely,<br /><br />
{{ current_site.name }} Management

{% endblock %}
