// this is the index.less for strapless-web, NOT strapless!
// strapless-web has a few automatic stylistic considerations
// index.less and strapless.less produce different CSS

@import "strapless/sl-palette";
@import "strapless/sl-pattern";
@import "strapless/strapless";

// demo-wheels doesn't contain any -b wheeels

@demo-wheels:  accented, complementary, triadic,
               tetradic, square, ebb, flow, monochromatic;

#feature, 
#feature > *, 
#strapless_nav, 
#strapless_main, 
#strapless_footer, 
#demo_form, 
#philosophy,
#loading_overlay, 
#section_example,
#semantic_colors > p,
#grays > p { 
  @ease: ~'ease-out';
  transition: color 2s @ease; transition: background 2s @ease; 
}

pre {
  max-width: 78ch;
}

.make-color-classes-for(@all-colors);

// body { @color: @action; .blueprint(@color, 1); .contrast-text-against(@color);}

.less-var-test {
  display: none;
  position: fixed;
  bottom: @padding;
  left: @padding;
  font-size: 14px;
  font-family: monospace;
  &:extend(code);

  // &:before { content: "@{less-var-test}";}
}

.logo {
  // Tivix logo

  width: 150px;

  .letter {

    .set-tone(@action);
    .fill();

    .fill() when (@tone = black) {
      fill: @gray-darkest-base;
    }

    .fill() when (default()) {
      fill: white;
    }
  }

  .accent {

    .fill();

    .fill() when (default()) {
      fill: @success;
    }
  }
}

#get_color1 {
  color: @color1;
}
#get_color2 {
  color: @color2;
}
#get_color3 {
  color: @color3;
}
#get_color4 {
  color: @color4;
}

#demo_form {
  position: fixed;
  bottom: @padding;
  right: @padding;
  max-width: auto;
  z-index: 1000;

  label {
    max-width: 120px;
  }

  > * {
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 8px;
    max-width: auto;
  }

  > input { 
    width: 82px;
  }

  button {
    min-height: 32px;
  }

  .on-tablet({
    font-size: 12px;
    width: 200px;
    border-radius: @border-radius;
  });
}

#seed_color {
  border: 1px solid darken(@color1, 12%);
  max-width: 237px;
}

#loading_overlay {
  @color: @gray;

  display: none;
  position: absolute;
  background: @color;
  .contrast-text-against(@color);
  border-radius: @border-radius;
  z-index: 1001;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  text-align: center;
  div {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 0;
      right: 0;
  }
  h1 {
    margin: 0;
  }
}

.sl-current-color {
  @size: 18px;

  display: inline-block;
  width: @size;
  height: @size;
  text-indent: -9999px;
  white-space: nowrap;  
  background-color: @color1;
  border: 2px solid @color1c;
  vertical-align: top;
  margin-top: 5px;
  border-radius: @border-radius/4;
}

.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}