// this is the index.less for strapless-web, NOT strapless!
// strapless-web has a few automatic stylistic considerations
// index.less and strapless.less produce different CSS

@import "sl-palette";
@import "sl-pattern";
@import "strapless/strapless";

body,
#feature,
#feature > *,
#strapless_nav,
#strapless_main,
#strapless_footer,
#main_success_example,
#main_action_example,
#demo_form,
#philosophy,
#loading_overlay,
#section_example,
#semantic_colors > p,
#grays > p {
  @ease: ~'ease-out';
  transition: color 2s @ease; transition: background 2s @ease;
}

.make-color-classes-for(@all-colors);

// body { @color: @action; .blueprint(@color, 1); .contrast-text-against(@color);}

.less-var-test {
  display: none;
  position: fixed;
  bottom: @padding;
  left: @padding;
  font-size: 14px;
  font-family: monospace;
  &:extend(code);

  // &:before { content: "@{less-var-test}";}
}

.logo {
  // Tivix logo

  max-width: 60%;

  .set-tone(@action);

  .letter {

    .fill();

    .fill() when (@tone = black) {
      fill: @gray-darkest-base;
    }

    .fill() when (default()) {
      fill: white;
    }
  }

  .accent {

    .fill();

    .set-distance(@success, @action);

    .fill() when (@distance < 40) {
      fill: @tone;
    }

    .fill() when (default()) {
      fill: @success;
    }
  }
}

#get_color1 {
  color: @color1;
}
#get_color2 {
  color: @color2;
}
#get_color3 {
  color: @color3;
}
#get_color4 {
  color: @color4;
}

#demo_form {
  position: relative;
  padding: @padding;
  max-width: auto;
  z-index: 9;
  .colorize(@background);

  .on-desktop({
    display: block;
    position: fixed;
    bottom: @padding;
    right: @padding;
    font-size: 87.5%;
    width: @aside-width * .8;
    border-radius: @border-radius;
  });
}

#seed_color {
  border: 1px solid darken(@color1, 12%);
  max-width: 237px;
  padding: @padding;
  line-height: @line-height;
}

#loading_overlay {
  @color: @gray;

  display: none;
  position: absolute;
  background: @color;
  .contrast-text-against(@color);
  border-radius: @border-radius;
  z-index: 1001;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  text-align: center;
  div {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 0;
      right: 0;
  }
  h1 {
    margin: 0;
  }
}

// pre { display: none;}


#patterns h4 { display: none;}

.sl-current-color {
  @size: 16px;

  display: inline-block;
  width: @size;
  height: @size;
  text-indent: -9999px;
  white-space: nowrap;
  background-color: @base-color;
  border: 2px solid @color1c;
  vertical-align: middle;
  margin-top: -3px;
  margin-bottom: 0;
  margin-left: 2px;
  border-radius: @border-radius/4;
}

.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
