.checkerboard-1 {
  .checkerboard(@color1);
  .contrast-text-against(@color1);
}

.checkerboard-2 {
  .checkerboard(@color1a);
  .contrast-text-against(@color1a);
}

.checkerboard-3 {
  .checkerboard(@color1b, .5);
  .contrast-text-against(@color1b);
}

.bathmat-1 {
  .bathmat(@color1, .75);
  .contrast-text-against(@color1);
}

.bathmat-2 {
  .bathmat(@color1a);
  .contrast-text-against(@color1a);
}

.bathmat-3 {
  .bathmat(@color1b);
  .contrast-text-against(@color1b);
}

.crosshatch-1 {
  .crosshatch(@color1);
  .contrast-text-against(@color1);
}

.crosshatch-2 {
  .crosshatch(@color1a, 2);
  .contrast-text-against(@color1a);
}

.crosshatch-3 {
  .crosshatch(@color1b, 3);
  .contrast-text-against(@color1b);
}

.blueprint-1 {
  .blueprint(@color1);
  .contrast-text-against(@color1);
}

.blueprint-2 {
  .blueprint(@color2c);
  .contrast-text-against(@color2c);
}

.blueprint-3 {
  .blueprint(@success);
  .contrast-text-against(@success);
}

.pegboard-1 {
  .pegboard(@color2);
  .contrast-text-against(@color2);
}

.pegboard-2 {
  .pegboard(@color3);
  .contrast-text-against(@color3);
}

.pegboard-3 {
  .pegboard(@color4c);
  .contrast-text-against(@color4c);
}

.argyle-1 {
  .argyle(@color1a);
  .contrast-text-against(@color1a);
}

.argyle-2 {
  .argyle(@color3a);
  .contrast-text-against(@color3a);
}

.argyle-3 {
  .argyle(@color4b);
  .contrast-text-against(@color4b);
}

.dots-1 {
  .dots(@color1);
  .contrast-text-against(@color1);
}

.dots-2 {
  .dots(@color2);
  .contrast-text-against(@color2);
}

.dots-3 {
  .dots(@color2a);
  .contrast-text-against(@color2a);
}

.stripes-1 {
  .stripes(@color3);
  .contrast-text-against(@color3);
}

.stripes-2 {
  .stripes(@color3a);
  .contrast-text-against(@color3a);
}

.stripes-3 {
  .stripes(@color3b);
  .contrast-text-against(@color3b);
}

.honeycomb-1 {
  @color: @color4;
  .honeycomb(@color);
  .contrast-text-against(@color);
}

.honeycomb-2 {
  @color: @success;
  .honeycomb(@color);
  .contrast-text-against(@color);
}

.honeycomb-3 {
  @color: @failure;
  .honeycomb(@color);
  .contrast-text-against(@color);
}

.chevrons-1 {
  @color: @color4;
  .chevrons(@color);
  .contrast-text-against(@color);
}

.chevrons-2 {
  @color: @info;
  .chevrons(@color);
  .contrast-text-against(@color);
}

.chevrons-3 {
  @color: @warning;
  .chevrons(@color);
  .contrast-text-against(@color);
}

.pattern-preview {
    .clearfix();
    .max-width();
    margin: 0 auto;

    &:before {
        display: none;
        margin-bottom: @padding;
    }

    &:last-of-type {
      margin-bottom: 1.6em;
    }

    > .pattern {
        @size: 150px;
        @width: @size;
        @height: @size*.6;
        @margin: 0;

        width: 100%;
        height: 60px;
        padding: @padding;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        text-align: center;
        padding: .5em;
        font-size: 14px;
        line-height: 16px;
        width:100%;

        .on-large-phone({

            float: left;
            min-width: @size/2;
            min-height: 100px;
            width: 32%;
            height: @height;

            &:before {

            }
        });
    }
}
