html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: #595959;
  font-size: 16px;
  line-height: 1.62;
  padding-top: 61px;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
nav {
  background-color: #4A4F68;
  color: #ffffff;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  max-height: 45px;
  padding: 0;
  margin-bottom: 16px;
  border-radius: 8px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
nav > section {
  padding: 0;
  max-width: 980px;
}
nav > section > * {
  display: none;
  float: left;
  position: relative;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 45px;
  vertical-align: middle;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  nav > section > * {
    display: block;
  }
}
nav > section > *:first-child {
  display: block;
  margin-right: 32px;
}
@media screen and (min-width: 480px) {
  nav > section > *:first-child {
    margin-right: 45px;
  }
}
nav > section > *:last-child {
  display: block;
  float: right;
  line-height: 39px;
}
nav ul {
  height: 45px;
}
nav li {
  float: left;
  height: 45px;
  line-height: 45px;
  list-style: none;
}
nav h1 {
  display: block;
  float: left;
  font-size: 26px;
  line-height: 45px;
  padding: 0 16px;
  color: inherit;
}
nav a {
  display: block;
  float: left;
  text-decoration: none;
  color: inherit;
}
nav li > a {
  padding-left: 16px;
  padding-right: 16px;
}
nav li > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
section {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}
section:first-child {
  margin-top: 0;
}
section > * {
  margin: 0 auto;
  max-width: 980px;
}
section > *:only-child {
  margin-bottom: 0;
}
section > aside {
  margin-bottom: 1em;
}
section > * + * {
  margin-top: 16px;
}
section.action {
  background-color: #252a40;
  color: #d8d9dd;
}
section.reaction {
  background-color: #331f42;
  color: #dad7dd;
}
section.info {
  background-color: #234054;
  color: #f5f6f7;
}
section.warning {
  background-color: #5f341f;
  color: #f8f6f5;
}
section.success {
  background-color: #274527;
  color: #f5f7f5;
}
section.failure {
  background-color: #521a1a;
  color: #e8e0e0;
}
main {
  padding: 16px;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  background-color: #626e8a;
  color: #ffffff;
}
main p {
  text-align: left;
}
main h1,
main h2 {
  text-align: center;
}
main h1 + p,
main h2 + p {
  text-align: center;
  font-size: 125%;
  margin-bottom: 1em;
}
main img {
  margin: 0 auto;
  max-width: 100%;
}
section > main {
  border-radius: 8px;
}
main button,
main html input[type="button"],
main input[type="submit"] {
  font-size: 110%;
}
main button:only-child,
main html input[type="button"]:only-child,
main input[type="submit"]:only-child,
main button:only-of-type,
main html input[type="button"]:only-of-type,
main input[type="submit"]:only-of-type {
  font-size: 125%;
  margin-bottom: 1em;
}
@media screen and (min-width: 980px) {
  main {
    border-radius: 8px;
  }
}
@media screen and (min-width: 960px) {
  main {
    max-width: 784px;
  }
}
main.action {
  background-color: #6175a4;
  color: #ffffff;
}
main.reaction {
  background-color: #9151ac;
  color: #ffffff;
}
main.info {
  background-color: #759ac5;
  color: #1d2731;
}
main.warning {
  background-color: #ce9669;
  color: #3c2c1e;
}
main.success {
  background-color: #70ab68;
  color: #21321e;
}
main.failure {
  background-color: #c74c5b;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.62;
  font-weight: bold;
}
h1:only-child,
h2:only-child,
h3:only-child,
h4:only-child,
h5:only-child,
h6:only-child {
  margin-top: 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.7em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.1em;
}
h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4 {
  margin-top: 0;
}
h5,
h6 {
  margin-top: .5em;
  text-transform: uppercase;
}
p,
form,
article,
ul,
dl,
li,
aside {
  margin: 0 auto 1em auto;
}
@media screen and (min-width: 480px) {
  p,
  form,
  article,
  ul,
  dl,
  li,
  aside {
    max-width: 55ch;
  }
}
ul {
  margin: 0 auto 2em;
}
p {
  padding: 0;
}
p.action {
  background-color: #1f2535;
  color: #d7d8db;
}
p.reaction {
  background-color: #2e1a36;
  color: #d0cbd2;
}
p.info {
  background-color: #20344b;
  color: #e1e4e7;
}
p.warning {
  background-color: #51331b;
  color: #f7f6f5;
}
p.success {
  background-color: #263e23;
  color: #ebeeeb;
}
p.failure {
  background-color: #4a171d;
  color: #ded5d6;
}
aside,
footer {
  margin-bottom: 16px;
  border-radius: 8px;
}
aside > *,
footer > * {
  margin-bottom: 8px;
}
aside > *:last-child,
footer > *:last-child {
  margin-bottom: 0;
}
aside > form,
footer > form {
  padding: 0;
}
aside > button,
footer > button {
  width: 100%;
}
aside aside,
footer aside {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
aside:only-child,
footer:only-child {
  margin-bottom: 0;
  font-size: 120%;
}
aside.action,
footer.action,
aside.reaction,
footer.reaction,
aside.info,
footer.info,
aside.warning,
footer.warning,
aside.success,
footer.success,
aside.failure,
footer.failure {
  padding: 16px 1em;
}
@media screen and (min-width: 480px) {
  aside,
  footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  aside > button,
  footer > button {
    width: auto;
    margin-bottom: 0;
  }
  aside > *,
  footer > * {
    margin-left: 16px;
    margin-bottom: 0;
  }
  aside > *:first-child,
  footer > *:first-child {
    margin-left: 0;
  }
  aside > p,
  footer > p {
    margin-right: 0;
    margin-left: 32px;
  }
  aside > p + *,
  footer > p + * {
    margin-left: 32px;
  }
  aside h1,
  footer h1,
  aside h2,
  footer h2,
  aside h3,
  footer h3,
  aside h4,
  footer h4,
  aside h5,
  footer h5,
  aside h6,
  footer h6 {
    margin: 0 32px;
  }
}
aside.action,
footer.action {
  background-color: #1f2535;
  color: #d7d8db;
}
aside.reaction,
footer.reaction {
  background-color: #2e1a36;
  color: #d0cbd2;
}
aside.info,
footer.info {
  background-color: #20344b;
  color: #e1e4e7;
}
aside.warning,
footer.warning {
  background-color: #51331b;
  color: #f7f6f5;
}
aside.success,
footer.success {
  background-color: #263e23;
  color: #ebeeeb;
}
aside.failure,
footer.failure {
  background-color: #4a171d;
  color: #ded5d6;
}
p.success,
p.failure,
p.action,
p.reaction,
p.info,
p.warning {
  padding: 16px 1em;
}
ul,
ol {
  padding-left: 2ch;
}
dt {
  font-weight: bold;
  font-size: 90%;
}
dd {
  margin-bottom: 16px;
}
a {
  color: inherit;
  text-decoration: underline;
}
body > footer {
  padding-top: 16px;
  margin-top: 64px;
  width: auto;
  max-width: 100%;
  border-radius: 0;
}
footer aside {
  max-width: 980px;
}
footer.action,
footer.reaction,
footer.info,
footer.warning,
footer.success,
footer.failure {
  padding: 16px;
}
@media screen and (min-width: 480px) {
  footer {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
form {
  padding: .4em 1.62ch;
  margin-bottom: 0;
}
form p {
  padding: 0;
}
form input,
form textarea {
  width: 100%;
  min-width: 18ch;
  padding: 1ch;
  border: 1px solid #3e3e3e;
}
form input + form input,
form input + form label,
form label + form input,
form label + form label {
  margin-top: 16px;
}
form h1:first-child,
form h2:first-child,
form h3:first-child,
form h4:first-child,
form h5:first-child,
form h6:first-child {
  margin-top: 0;
}
label {
  display: block;
}
strong {
  font-weight: bold;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table.action th {
  background-color: #4a5380;
  color: #ffffff;
}
table.action td {
  color: #ffffff;
}
table.action tr {
  background-color: #50598a;
}
table.action tr:nth-of-type(odd) {
  background-color: #556094;
}
table.reaction th {
  background-color: #673e84;
  color: #ffffff;
}
table.reaction td {
  color: #ffffff;
}
table.reaction tr {
  background-color: #6f438e;
}
table.reaction tr:nth-of-type(odd) {
  background-color: #774899;
}
table.info th {
  background-color: #467fa7;
  color: #030507;
}
table.info td {
  color: #091116;
}
table.info tr {
  background-color: #4b88b2;
}
table.info tr:nth-of-type(odd) {
  background-color: #558fb7;
}
table.warning th {
  background-color: #be683e;
  color: #180d08;
}
table.warning td {
  color: #21130c;
}
table.warning tr {
  background-color: #c37048;
}
table.warning tr:nth-of-type(odd) {
  background-color: #c77953;
}
table.success th {
  background-color: #4e8b4e;
  color: #060c06;
}
table.success td {
  color: #0e190e;
}
table.success tr {
  background-color: #539453;
}
table.success tr:nth-of-type(odd) {
  background-color: #589e58;
}
table.failure th {
  background-color: #a53434;
  color: #ffffff;
}
table.failure td {
  color: #ffffff;
}
table.failure tr {
  background-color: #b03737;
}
table.failure tr:nth-of-type(odd) {
  background-color: #bc3b3b;
}
table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 8px;
}
table thead th {
  vertical-align: bottom;
}
table tr > td:first-child,
table tr > th:first-child {
  padding-left: 16px;
}
table tr > td:last-child,
table tr > th:last-child {
  padding-right: 16px;
}
fieldset,
img {
  border: 0;
}
caption,
figcaption {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}
blockquote {
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: 5px solid #626e8a;
  max-width: 55ch;
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #626e8a;
  padding-left: 0;
  padding-right: 1em;
}
blockquote cite {
  font-style: italic;
  display: block;
}
blockquote cite:before {
  content: '—';
  padding-right: 5px;
}
code,
pre {
  background-color: #1f1f1f;
  color: #cdcdcd;
  font-family: monospace;
  font-size: 85%;
  vertical-align: middle;
  padding: 16px 1em;
  border-radius: 8px;
}
code {
  padding: .16em .5em;
  border-radius: 4px;
}
pre {
  margin-bottom: 1em;
}
button,
html input[type="button"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-height: 46px;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 8px;
  outline: none;
  white-space: nowrap;
  padding: .35em .65em;
  background-color: #454d77;
  color: white;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
html input[type="button"]:active,
input[type="submit"]:active {
  background-color: #374360;
  box-shadow: inset 0 1px 0 #333e58;
}
.action button,
.action html input[type="button"],
.action input[type="submit"] {
  background-color: #454d77;
  color: white;
}
.action button:active,
.action html input[type="button"]:active,
.action input[type="submit"]:active {
  background-color: #374360;
  box-shadow: inset 0 1px 0 #333e58;
}
button.action,
html input[type="button"].action,
input[type="submit"].action {
  background-color: #454d77 !important;
  color: white !important;
}
button.action:active,
html input[type="button"].action:active,
input[type="submit"].action:active {
  background-color: #374360 !important;
  box-shadow: inset 0 1px 0 #333e58 !important;
}
.reaction button,
.reaction html input[type="button"],
.reaction input[type="submit"] {
  background-color: #5f3a79;
  color: white;
}
.reaction button:active,
.reaction html input[type="button"]:active,
.reaction input[type="submit"]:active {
  background-color: #522e61;
  box-shadow: inset 0 1px 0 #4b2a59;
}
button.reaction,
html input[type="button"].reaction,
input[type="submit"].reaction {
  background-color: #5f3a79 !important;
  color: white !important;
}
button.reaction:active,
html input[type="button"].reaction:active,
input[type="submit"].reaction:active {
  background-color: #522e61 !important;
  box-shadow: inset 0 1px 0 #4b2a59 !important;
}
.info button,
.info html input[type="button"],
.info input[type="submit"] {
  background-color: #3b6684;
  color: white;
}
.info button:active,
.info html input[type="button"]:active,
.info input[type="submit"]:active {
  background-color: #305b6c;
  box-shadow: inset 0 1px 0 #2c5363;
}
button.info,
html input[type="button"].info,
input[type="submit"].info {
  background-color: #3b6684 !important;
  color: white !important;
}
button.info:active,
html input[type="button"].info:active,
input[type="submit"].info:active {
  background-color: #305b6c !important;
  box-shadow: inset 0 1px 0 #2c5363 !important;
}
.warning button,
.warning html input[type="button"],
.warning input[type="submit"] {
  background-color: #995635;
  color: white;
}
.warning button:active,
.warning html input[type="button"]:active,
.warning input[type="submit"]:active {
  background-color: #88412f;
  box-shadow: inset 0 1px 0 #7e3d2c;
}
button.warning,
html input[type="button"].warning,
input[type="submit"].warning {
  background-color: #995635 !important;
  color: white !important;
}
button.warning:active,
html input[type="button"].warning:active,
input[type="submit"].warning:active {
  background-color: #88412f !important;
  box-shadow: inset 0 1px 0 #7e3d2c !important;
}
.success button,
.success html input[type="button"],
.success input[type="submit"] {
  background-color: #3f6b3f;
  color: white;
}
.success button:active,
.success html input[type="button"]:active,
.success input[type="submit"]:active {
  background-color: #3b5d37;
  box-shadow: inset 0 1px 0 #365432;
}
button.success,
html input[type="button"].success,
input[type="submit"].success {
  background-color: #3f6b3f !important;
  color: white !important;
}
button.success:active,
html input[type="button"].success:active,
input[type="submit"].success:active {
  background-color: #3b5d37 !important;
  box-shadow: inset 0 1px 0 #365432 !important;
}
.failure button,
.failure html input[type="button"],
.failure input[type="submit"] {
  background-color: #993030;
  color: white;
}
.failure button:active,
.failure html input[type="button"]:active,
.failure input[type="submit"]:active {
  background-color: #872a36;
  box-shadow: inset 0 1px 0 #7e2732;
}
button.failure,
html input[type="button"].failure,
input[type="submit"].failure {
  background-color: #993030 !important;
  color: white !important;
}
button.failure:active,
html input[type="button"].failure:active,
input[type="submit"].failure:active {
  background-color: #872a36 !important;
  box-shadow: inset 0 1px 0 #7e2732 !important;
}
mark,
::selection {
  background-color: #5b5340;
  color: #ffffff;
}
hr {
  border-color: #3b4253;
  border-top-color: #373d4d;
  border-bottom-color: #464e62;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.action {
  background-color: #4a5380;
  color: #ffffff;
}
.reaction {
  background-color: #673e84;
  color: #ffffff;
}
.info {
  background-color: #467fa7;
  color: #030507;
}
.warning {
  background-color: #be683e;
  color: #180d08;
}
.success {
  background-color: #4e8b4e;
  color: #060c06;
}
.failure {
  background-color: #a53434;
  color: #ffffff;
}
.color1 {
  background-color: #4A4F68;
  color: #ffffff;
}
.color1a {
  background-color: #626e8a;
  color: #ffffff;
}
.color1b {
  background-color: #3f5759;
  color: #ffffff;
}
.color1c {
  background-color: #3b4253;
  color: #ffffff;
}
.color2 {
  background-color: #68634a;
  color: #ffffff;
}
.color2a {
  background-color: #8a8962;
  color: #171710;
}
.color2b {
  background-color: #536447;
  color: #ffffff;
}
.color2c {
  background-color: #5b5340;
  color: #ffffff;
}
.color3 {
  background-color: #5b4a68;
  color: #ffffff;
}
.color3a {
  background-color: #7f628a;
  color: #ffffff;
}
.color3b {
  background-color: #474c64;
  color: #ffffff;
}
.color3c {
  background-color: #53405b;
  color: #ffffff;
}
.color4 {
  background-color: #4a6568;
  color: #ffffff;
}
.color4a {
  background-color: #62828a;
  color: #080b0c;
}
.color4b {
  background-color: #476451;
  color: #ffffff;
}
.color4c {
  background-color: #40555b;
  color: #ffffff;
}
.gray-darker {
  background-color: #3e3e3e;
  color: #f6f6f6;
}
.gray-dark {
  background-color: #575757;
  color: #ffffff;
}
.gray {
  background-color: #717171;
  color: #ffffff;
}
.gray-light {
  background-color: #8a8a8a;
  color: #1d1d1d;
}
.gray-lighter {
  background-color: #a3a3a3;
  color: #303030;
}
