// TABLES

.make-tables-for(@all-colors);

.make-tables-for(@colors) {
  @iterations: length(@colors);

  .make-sl-table();

  .make-sl-table(@index: 1) when (@index <= @iterations) {

    @color-name: extract(@colors, @index);
    @color: @@color-name;

    table.@{color-name} {
      .sl-table(@color);
    }

    .make-sl-table(@index + 1);
  }
}

.sl-table(@color) {
  @base: @color;
  #strapless.make-palette(@base; @base-color-wheel);
  @row-color-1: @color1a;
  @row-color-2: lighten(@color1a, 4%);
  thead > tr > th {
    background-color: @base;
    .contrast-text-against(@base);
  }
  tbody > tr > td {
   .contrast-text-against(@row-color-2);
  }
  tbody > tr {
    background-color: @row-color-2;
  }
  tbody > tr:nth-of-type(odd) {
    background-color: @row-color-1;
  }
}

.sl-table-base{
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;


  th, td {
    text-align: left;
    vertical-align: top;
    padding: @padding/2;
  }

  thead th {
    vertical-align: bottom;
  }

  thead, tbody {
    tr > td,
    tr > th {
      &:first-child {
        padding-left: @padding;
      }
      &:last-child {
        padding-right: @padding;
      }
    }
  }
}

table {
  &:extend(.sl-table-base all);
  .sl-table(@color1);
}
