//this is the index.less for strapless-web, NOT strapless!

@import "strapless/strapless";

.brand-thing {
  @color: @color4b;
  background-color: @color;
  border-radius: 0;
  padding: @padding*4;
  margin-bottom: 48px;

  .contrast-text-against(@color);

  h1 {
    // text-shadow: 0 1px 0 darken(@color;24%);
    font-size:56px;
  }

  h2 {
    font-size: 180px;
    color: @color;
  }
}

html {
  background:mix(#333, @color1c, 80%);
}

body {
  padding-top: 50px;
  .text-color(@body-bg);
  background: @body-bg;
}

body > section {
  &:extend(.container);
  //background:@color1;
}

nav {
  .sl-navbar(darken(@color3c,10%));
}

footer {
  clear: both;
}

// #nav_collapse {
//   //&:extend(.navbar-toggle all); // TODO: I think the JS looks for this class...
//
//   ul {
//     &:extend(.nav all);
//     //&:extend(.navbar-nav all);
//   }
// }


#examples {
  section {
    //max-width: 520px;
    margin: 0 auto;
  }
}
