//this is the index.less for strapless-web, NOT strapless!

@import "strapless/strapless";


.feature {
  @color: @color1b;

  position: relative;
  overflow: hidden;
  background-color: @color;
  .contrast-text-against(@color);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .checkerboard(@color);
  //text-shadow: 0 -.1em 0 darken(@color, 15%);
  margin-bottom: @padding*2;

  h1 {
    font-size: @font-size-base*4;
    font-weight: bold;
  }

  // &:before {
  //   display:block;
  //   position: absolute;
  //   top: -5px;
  //   left: 0;
  //   content: "";
  //   width: 100%;
  //   height: 5px;
  //   .box-shadow(0 0 12px 3px darken(@color4c, 90%));
  //   .opacity(.25);
  // }

  > *:first-child {
    position: relative;
    margin: 0 auto;
    max-width: 620px;
    vertical-align: middle;
    text-align: center;

    &:after {
      @color: #333;
      position:relative;
      top: 50px;
      display: block;
      content: "";
      left: 10%;
      width: 80%;
      height: 0;
      border-radius: 50%;
      background: transparent;
      .box-shadow(0 0 16px @color);
      .opacity(.95);
    }
  }
}

#examples {
  section {
    //max-width: 520px;
    margin: 0 auto;
  }
}

#less_variable_test {
  @test: @gray-dark-base;
  @test-name: 'accent';

  &:before {
    content: "@{test-name}: ";
  }
  &:after {
    display:block;
    content:"@{test}";
  }
}