<nav>
  <h1>Strapless</h1>
  <!-- <a href="http://google.com">Link test</a>
  <a href="http://yahoo.com">Yahoo</a> -->
  <ul>
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action <span class="badge badge-primary">7</span></a></li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Links
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</nav>
