body {
  .colorize(@background);
  font-size: @font-size;
  line-height: @line-height;
  margin-bottom: 0;
  overflow-x: hidden;
  font-family:  Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                "Helvetica Neue",
                "Segoe UI",
                -apple-system,
                Arial,
                BlinkMacSystemFont,
                sans-serif;

  & when (@sticky-nav = true) {
    padding-top: @nav-height + @padding;
    padding-top: ~"calc(@{nav-height} + 1em)";
  }
}
