body {
  background-color: @background;
  .pegboard(@background; .5);
  .contrast-text-against(@background);
  font-size: @font-size;
  line-height: @line-height;
  margin-bottom: 0;
  overflow-x: hidden;
  font-family:  Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                -apple-system,
                "Segoe UI",
                "Helvetica Neue",
                Arial,
                BlinkMacSystemFont,
                sans-serif;

  & when (@sticky-nav = true) {
    padding-top: @nav-height + @padding;
    padding-top: ~"calc(@{nav-height} + 1em)";
  }
}
