form {
  padding: 0;
  .margin-bottom();
  .max-width();

  input[type="text"],
  textarea {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    border: none;

    & when (luma(@base-color) > 98%) {
      border-bottom: 1px solid @gray;
    }
  }

  input, label {
    & + & {
      margin-top: 1em;
    };
  }
}
