.headline-elements(@rules) {
  h1, h2, h3, h4, h5, h6 { @rules();}
}

.headline-elements({
  margin-top: .8em;
  margin-bottom: .8em;
  text-align: center;
  line-height: @line-height*.8;
  font-weight: normal;
  // .contrast-text-against(@background; 3;);

  p + & {
    margin-top: 1.6em;
  }
});

@h1-base: 2.6;
@h2-base: 2;
@h3-base: 1.6;
@h4-base: 1.1;
@h5-base: .5;
@h6-base: .25;

h1 { font-size: @h1-base * 1em;}
h2 { font-size: @h2-base * 1em;}
h3 { font-size: @h3-base * 1em;}
h4 { font-size: @h4-base * 1em;}
h5 { font-size: 1em;}
h6 { font-size: .9em;}

h1 { font-size: ~"calc(@{font-size} + @{h1-base}vw)";}
h2 { font-size: ~"calc(@{font-size} + @{h2-base}vw)";}
h3 { font-size: ~"calc(@{font-size} + @{h3-base}vw)";}
h4 {
  font-size: ~"calc(@{font-size} + @{h4-base}vw)";
  text-align: left;
  .max-width();
}
h5 { font-size: ~"calc(@{font-size} + @{h5-base}vw)";
  text-align: left;
  text-transform: uppercase;
  .max-width();
}
h6 { font-size: ~"calc(@{font-size} + @{h6-base}vw)";
  text-align: left;
  text-transform: uppercase;
  .max-width();
}

.on-desktop({
  h1 { font-size: @font-size + @desktop*@h1-base/100;}
  h2 { font-size: @font-size + @desktop*@h2-base/100;}
  h3 { font-size: @font-size + @desktop*@h3-base/100;}
  h4 { font-size: @font-size + @desktop*@h4-base/100;}
  h5 { font-size: @font-size + @desktop*@h5-base/100;}
  h6 { font-size: @font-size + @desktop*@h6-base/100;}
});


h1, h2, h3, h4 {
  & + & {
    margin-top: 0;
  }
}

// h5, h6 {
//   text-transform: uppercase;
// }
