main {
  @padding-offset: @padding*2;
  padding: @padding;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  // margin: 0 auto 1em auto;

  * {
    max-width: @max-width*1.3;
  }

  footer {
    margin-top: 2em;
  }

  .headline-elements({
    text-align: left;
  });

  .on-tablet({
    font-size: 130%;
  });

  .make-main-colors-for(@semantic-colors);
}

.make-main-colors-for(@colors) {
  // make main colors for a list of color variable names
  // mains will use variable names as class names

  @iterations: length(@colors);

  .make-main-color(1);

  .make-main-color(@index) when (@index <= @iterations) {

    @color-name: extract(@colors, @index);
    @this-color: @@color-name;

    &.@{color-name} {
      .main-color(@this-color);
    }

    .make-main-color(@index + 1);
  }
}

.main-color(@color) when (@color = @warning) {
  .set-lumafix(@color, @ideal-warning, .75);
  .contrast-text-against(@lumafix);
  .dots(@lumafix);

  .set-contrast-ratio(@lumafix; white;);
  & when (@contrast-ratio > 3) {
    h1, h2, h3 { .tint-text-against(@lumafix; 4.5;);}
  }
}

.main-color(@color) when (@color = @failure) {
  .set-lumafix(@color, @ideal-failure, .5);
  .contrast-text-against(@lumafix);
  .dots(@lumafix);

  .set-contrast-ratio(@lumafix; white;);
  & when (@contrast-ratio > 3) {
    h1, h2, h3 { .tint-text-against(@lumafix; 4.5;);}
  }
}

.main-color(@color) when (default()) {

  .set-lumafix(@color, @background, .5);
  .finalize-color(@lumafix);

  .finalize-color(@color-to-fix) when (luma(@color-to-fix) > 98%) {
    @color: @color-to-fix;
    .set-a-color(@color);
    .dots(@color);
    .contrast-text-against(@color);
    h1, h2, h3 {
      .color-text(@color; @color; 3;);
    }
  }

  .finalize-color(@color-to-fix) when (default()) {
    @color: @color-to-fix;
    .set-c-color(@color);
    .dots(@c-color);
    .contrast-text-against(@c-color);
  }
}
