nav {
  @color: @color1a;
  @height: @nav-height;

  &:extend(section all);

  height: @height;
  max-height: @height;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
  z-index: 10;

  & when (@sticky-nav = true) {
    margin-bottom: 0;
    position: fixed; top: 0; left: 0;
    width: 100%;
    border-radius: 0;
  }

  & when not (@sticky-nav = true) {
    .border-radius();
  }

  ul {
    float: right;
    line-height: @height;
    padding-left: 0;
    margin-bottom: 0;

    .on-desktop({
      min-width: @aside-width;
    });
  }

  li {
    float:left;
    list-style: none;
    margin: 0;

    a {
      display: block;
      color: inherit;
      padding-left: @padding;
      padding-right: @padding;
    }
  }

  a {
    text-decoration: none;
  }

  h1 {
    display: block;
    float: left;
    margin-top: 0;
    font-size: floor(@font-size*1.6);
    line-height: @height;
    padding: 0;
    color: inherit;
  }

  .set-yellow-distance(@color);
  .set-lemon-distance(@color);
  .set-orange-distance(@color);
  .set-mid-yellow-distance(@color);
  .nav-color();

  .no-user-select();
}

.set-yellow-distance(@color) {
  .set-distance(@color, yellow);
  @yellow-distance: @distance;
}

.set-orange-distance(@color) {
  .set-distance(@color, orange);
  @orange-distance: @distance;
}

.set-lemon-distance(@color) {
  .set-distance(@color, LemonChiffon);
  @lemon-distance: @distance;
}

.set-mid-yellow-distance(@color) {
  .set-distance(@color, #E6EB6A);
  @mid-yellow-distance: @distance;
}

.nav-color() when (@orange-distance < 175),
                  (@yellow-distance < 100),
                  (@mid-yellow-distance < 100),
                  (@lemon-distance < 50) {
  // orange and yellow lose theme cohesion when darkened
  // keep them as bg and shade text
  background: @color;
  .contrast-text-against(@color);

  li a:active {
    .colorize(darken(@color, 5%));
  }
}

.nav-color() when (default()) {
  .invert-text-against(@color; @contrast-standard: 3;);

  li a:active {
    .invert-text-against(@color; @contrast-standard: 3; @button: true;);
  }
}
