{% extends 'base.html' %}
{% load custom_tags %}

{% block body %}
{% url 'profile_edit' as profile_edit_url %}
{% url 'auth_password_change' as auth_password_change_url %}

<div class="page-header">
    <h1>Edit profile details</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item {% active_starts request profile_edit_url %}" href="{% url 'profile_edit' %}">
                <span class="glyphicon glyphicon-user"></span> Account details
            </a>
            <a class="list-group-item {% active_starts request auth_password_change_url %}" href="{% url 'auth_password_change' %}">
                <span class="glyphicon glyphicon-lock"></span> Change password
            </a>
            <a class="list-group-item" href="{% url 'profile_page' %}">
                <span class="glyphicon glyphicon-backward"></span> Back
            </a>
        </div>
    </div>
    <div class="col-md-9">
        {% block sub_content %}{% endblock %}
    </div>
</div>

{% endblock %}
