{% extends 'accounts/base_edit.html' %}
{% load custom_tags %}

{% block sub_content %}

{% if form.non_field_errors or form.errors %}
    <p class="alert alert-error">Please correct the errors below.</p>

    {% if form.non_field_errors %}
        {# List non field specific errors.#}
        <span class="help-block">
            {{ order_form.non_field_errors }}
        </span>
    {% endif %}
{% endif %}

<form enctype="multipart/form-data" action="{% url 'profile_edit' %}" method="POST">{% csrf_token %}
    {% for field in form %}
        {% render_form_field field %}
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Save" />
    <a class="btn btn-default" href="{% url 'profile_page' %}">Cancel</a>
</form>

{% endblock %}
