{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block body %}
<div class="row p-t-2">
    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="card">
            <h3 class="card-header">Log in to your account</h3>
            <div class="card-block">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Oops!</strong> Looks like there were a few errors.
                        {# This block lists off any errors that are not attached to a specific field #}
                        {% for field, errors in form.errors.items %}    {# go through each field in the form #}
                            {% if field == '__all__' %}                 {# if the error is a generic error for all applying to all fields #}
                                {% for error in errors %}               {# list each error #}
                                    <hr>
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% include 'registration/fragments/login_form.html' %}
            </div>
            <div class="card-footer">
                <a href="{% url 'auth_password_reset' %}">Forgot</a> your password?  <a href="{% url 'account_signup' %}">Need an account</a>?
            </div>
        </div>
    </div>
</div>
{% endblock %}
