{% extends "email_base.html" %}


{% block content %}
    Greetings {{ user }},<br /><br />

    You are receiving this email because you (or someone pretending to be you)
    requested that your password be reset on {{ site_name }}.  If you do not
    wish to reset your password, please ignore this message.<br /><br />

    To reset your password, please click the following link, or copy and paste it
    into your web browser:<br /><br />

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target ="_blank" title="Reset Link" style="text-decoration: none;">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a><br /><br />

    Best regards,<br /><br />
    {{ site_name }} Management</p>
{% endblock %}
