{% extends "registration/registration_base.html" %}
{% load custom_tags %}

{% block title %}Reset password{% endblock %}
{% block page_header %}Reset password{% endblock %}

{% block registration_body %}
    <p>Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.</p>
    <form method="post" action="">
		{% csrf_token %}
      <fieldset class="form-group">
  	    {% for field in form %}
  	        {% render_form_field field %}
  	    {% endfor %}
      </fieldset>
		<button type="submit" class="btn btn-primary">Reset password</button>
	</form>
{% endblock %}
