<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Strapless</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link id="favicon" rel="icon" type="image/png" href="favicon.png" />
        {{#if static_css }}
            <link title="static_styles" href="css/index.css" media="all" rel="stylesheet" type="text/css"/>
        {{ else }}
        <style type="text/css">
            {{{styles}}}
        </style>
        {{/if}}
    </head>

    <body onload="Strapless.generateFavicon();">
        <nav>
            <section>
                <h1><a href="/">Strapless</a></h1>

                <ul>
                    <li><a href="#colors">Colors</a></li>
                    <li><a href="#patterns">Patterns</a></li>
                </ul>
            </section>
        </nav>

        <main>
            <h1>Strapless</h1>
            <p>Finally, LESS is <em>cool</em> again.</p>
            <p>Strapless is a LESS library for colors and patterns. It's also a CSS&nbsp;boilerplate for all the basic HTML elements.</p>
            <aside>
                <button class="success" type="button" onclick="alert('Coming soon!')">download</button>
                <button type="button" class="action" onclick="Strapless.downloadCSS();">get CSS</button>
                <button class="info" type="button" onclick="location.href='http://github.com/Tivix/strapless'">github</button>
            </aside>
            <form id="demo_form">
                <label>Base color</label>
                <p class="hide"><span id="less_variable_test"></span></p>
                <input id="seed_color" class="jscolor" value="cadfe6" />
                <button type="button" class="action" onclick="Strapless.updateScheme();">Preview</button>
                <button type="button" class="action" onclick="Strapless.downloadCSS();">Download CSS</button>
            </form>
        </main>

        <section id="colors">
            <h1>Colors</h1>
            <div id="strapless_colors_accented" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_complementary" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_complementary-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_triadic" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_triadic-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_tetradic" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_tetradic-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_ebb" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_flow" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_monochromatic" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_monochromatic-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_square" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div class="clearfix"></div>
        </section>

        <section>
            <div id="color_wheel_test" class="color-wheel-test">
                <h1>Current</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_accented" class="color-wheel-test">
                <h1>Accented</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_complementary" class="color-wheel-test">
                <h1>Complementary</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_triadic" class="color-wheel-test">
                <h1>Triadic</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_tetradic" class="color-wheel-test">
                <h1>Tetradic</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_square" class="color-wheel-test">
                <h1>Square</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_monochromatic" class="color-wheel-test">
                <h1>Monochromatic</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_ebb" class="color-wheel-test">
                <h1>Ebb</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_flow" class="color-wheel-test">
                <h1>Flow</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>
        </section>

        <section id="philosophy">
            <h1>Philosophy</h1>
            <ul>
                <li>Full support for HTML elements (and only HTML elements!)</li>
                <li>Smart CSS rules for good "out of the box" layouts</li>
                <li>Simple LESS variables backing powerful palettes</li>
                <li>Wide support for base colors and patterns</li>
                <li>Don't call it a framework</li>
            </ul>
        </section>

        <section id="patterns">
            <h1>Patterns</h1>
            <p>It's got patterns!</p>
            <p>Patterns work like background images... Because they are.</p>
            <p><code>.pattern-pegboard(@color1);</code></p>
            <div id="strapless_patterns_checkerboard" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_blueprint" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_crosshatch" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_denim" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_bathmat" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_pegboard" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_shippo" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_muni" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_argyle" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_dots" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_stripes" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_honeycomb" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_noise" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_chevrons" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_carbon" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
        </section>

        <section id="elements">
            <h1>Elements</h1>
            <main>
                <h2>Main</h2>
                <p>The main element includes a background color and the dots pattern by default. There's one at the top of this page, too.</p>
                <p>This is a main element. There should only be one of them.</p>
            </main>


            <h2>Asides</h2>
            <p>Asides center everything inside them now using flexbox.</p>
            <aside>This is an aside.</aside>
            <p>It's useful for buttons:</p>
            <aside><button class="reaction">I'm centered!</button><button class="failure">Me too</button></aside>

            <h2>Typography</h2>

            <h3>Headlines</h3>
            <p>Pretty much what you'd expect.</p>

            <h1>This is headline text. (h1)</h1>
            <h2>This is headline text. (h2)</h2>
            <h3>This is headline text. (h3)</h3>
            <h4>This is headline text. (h4)</h4>
            <h5>This is headline text. (h5)</h5>
            <h6>This is headline text. (h6)</h6>

            <h3>Blockquotes</h3>
            <blockquote>
                You may delay, but time will not.
                <cite>Benjamin Franklin</cite>
            </blockquote>

            <h3>Figures</h3>
            <figure>
                <img src="http://placekitten.com/300/300" alt="A Kitten">
                <figcaption>This figcaption explains that this is an image of a kitten.</figcaption>
                <caption>A caption element would accomplish the same thing.</caption>
            </figure>

            <h3>Other Block Elements</h3>
            <article>
                <pre>This is pre-formatted text</pre>
                <p>Horizontal rule:</p>
                <hr>
            </article>

            <h3>Other Inline Elements</h3>
            <p>Paragraphs may also contain <abbr title="abbreviations, to the layperson">abbreves</abbr> and <acronym title="Aribitrarily Invented Acronyms For Display Purposes">AIAFDPS</acronym>.</p>
            <p>Sometimes you just need an <code>an inline code snippet</code>.</p>

        </section>
        <section>
            <h2>Buttons</h2>
            <p>Buttons are just <code>button</code> elements with a class corresponding to a semantic color name.</p>
            <aside>
                <button type="button" class="action">Action</button>
                <button type="button" class="reaction">Reaction</button>
            </aside>
            <aside>
                <button type="button" class="success">Success</button>
                <button type="button" class="failure">Failure</button>
            </aside>
            <aside>
                <button type="button" class="info">Info</button>
                <button type="button" class="warning">Warning</button>
            </aside>
        </section>
        <section>
            <h2>Tables</h2>
            <aside>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Raya</td>
                                <td>Langley</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hop</td>
                                <td>Tillman</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Buffy</td>
                                <td>Rojas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emerson</td>
                                <td>Pratt</td>
                            </tr>
                        </tbody>
                    </table>
                    default
                </div>
                <div>
                    <table class="success">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Raya</td>
                                <td>Langley</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hop</td>
                                <td>Tillman</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Buffy</td>
                                <td>Rojas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emerson</td>
                                <td>Pratt</td>
                            </tr>
                        </tbody>
                    </table>
                    table.success
                </div>
                <div>
                    <table class="failure">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Raya</td>
                                <td>Langley</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hop</td>
                                <td>Tillman</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Buffy</td>
                                <td>Rojas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emerson</td>
                                <td>Pratt</td>
                            </tr>
                        </tbody>
                    </table>
                    table.failure
                </div>
            </aside>
            <h4>table.info</h4>
            <table class="info">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                        <td>vitae.orci.Phasellus@faucibusorciluctus.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                        <td>diam@ultricesmauris.co.uk</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                        <td>litora.torquent.per@aliquameuaccumsan.co.uk</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                        <td>Proin.eget.odio@tortorInteger.net</td>
                    </tr>
                </tbody>
            </table>
            <h4>table.warning</h4>
            <table class="warning">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                        <td>vitae.orci.Phasellus@faucibusorciluctus.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                        <td>diam@ultricesmauris.co.uk</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                        <td>litora.torquent.per@aliquameuaccumsan.co.uk</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                        <td>Proin.eget.odio@tortorInteger.net</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Nav (navbar)</h2>
            <nav>
                <section>
                    <h1><a href="/">Strapless</a></h1>

                    <ul>
                        <li><a href="#colors">Colors</a></li>
                        <li><a href="#patterns">Patterns</a></li>
                    </ul>
                </section>
            </nav>

        <section>
            <h2>Forms</h2>

            <form>
                <label>First name:</label>
                <input type="text" name="firstname"><br>
                <label>Last name:</label>
                <input type="text" name="lastname">
                <label>Textarea:</label>
                <textarea rows="4">Placeholder text</textarea>
                <label>Select:</label>
                <select>
                    <option value="1">This would be my first choice</option>
                    <option value="2">Second choice</option>
                    <option value="3">Third choice</option>
                </select>
            </form>

       </section>
        <section>
            <h1>LESS</h1>

            <p>Strapless offers some other handy LESS files, like:</p>

            <h4>mixins.less</h4>
            <p>Mixins for handling text color issues and other LESSer issues.</p>

            <h4>variables.less</h4>
            <p>A very short variable file that you will never have to scroll through.</p>

            <h4>targets.less</h4>
            <p>Simple, reusable target mixins for handling responsiveness.</p>

            <h4>colors.less</h4>
            <p>Powerful, flexible color scheme generation.</p>

            <h4>patterns.less</h4>
            <p>Simple SVG-based color-shifting patterns ready to drop in to your project.</p>

        </section>
        <section>
            <h1>Special thanks</h1>
            <p>This library wouldn't be possible without the following awesome OSS contributions:</p>
            <ul>
                <li><a href="http://www.getbootstrap.com">Bootstrap</a>, of which we are a fork, sorta.</li>
                <li><a href="http://www.lesscss.org">LESS</a>, one of the finest pieces of software ever written.</li>
                <li><a href="https://philiprogers.com/svgpatterns/">Philip Rogers</a>, who made a bunch of the awesome SVGs we used.</li>
                <li><a href="http://lea.verou.me/css3patterns/">Lea Verou</a>, who made a lot of <em>those</em> patterns originally.</li>
            </ul>
        </section>
        <footer>
            <section>
                <p>&copy; Tivix, Inc.</p>
            </section>
        </footer>
        <div id="loading_overlay">
            <div style="">
                <h1>Scheming...</h1>
                <?xml version="1.0" encoding="utf-8"?>
                <svg width='60px' height='60px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
                    <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                    <circle cx="50" cy="50" r="40" stroke-dasharray="163.36281798666926 87.9645943005142" stroke="#d25353" fill="none" stroke-width="20">
                        <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
                    </circle>
                </svg>
            </div>
        </div>
        <!-- Output scheme colors for favicon generation -->
        <span id="get_color1"></span>
        <span id="get_color2"></span>
        <span id="get_color3"></span>
        <span id="get_color4"></span>
        <script type="text/javascript" charset="utf-8" src="/js/strapless.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/jscolor.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            {{#if invalid_hex }}
                alert("Invalid hex color value entered.");
                history.pushState({'baseColor': ''}, '', '/');
            {{/if}}
        </script>
    </body>
</html>
