<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Strapless</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link id="favicon" rel="icon" type="image/png" href="favicon.png" />
        {{#if static_css }}
            <link title="static_styles" href="css/index.css" media="all" rel="stylesheet" type="text/css"/>
        {{ else }}
        <style type="text/css">
            {{{styles}}}
        </style>
        {{/if}}
    </head>

    <body onload="Strapless.generateFavicon();">
        <nav>
            <section>
                <h1><a href="/">Strapless</a></h1>
                <ul>
                    <li><a href="#colors">Colors</a></li>
                    <li><a href="#patterns">Patterns</a></li>
                </ul>
            </section>
        </nav>

        <main>
            <h1>Strapless</h1>
            <p>Finally, LESS is <em>cool</em> again.</p>
            <p>Strapless is a color-changing CSS&nbsp;boilerplate for HTML elements. <br>It's also a powerful LESS library for colors and patterns.</p>
            <aside>
                <button class="failure" type="button" onclick="Strapless.downloadCSS();">Get this CSS <span class="sl-current-color">current color</span></button>
                <button class="info" type="button" onclick="location.href='http://github.com/Tivix/strapless'">LESS/GitHub</button>
                <button class="failure" type="button" onclick="Strapless.downloadSiteCSS();">Get site CSS <span class="sl-current-color">current color</span></button>
            </aside>
            <form id="demo_form">
                <p>Try a color now!</p>
                <label>Base color</label>
                <input id="seed_color" class="jscolor" value="E0273B" />
                <aside>
                    <button type="button" class="reaction" onclick="Strapless.updateScheme();">Preview</button>
                    <button type="button" class="failure" onclick="Strapless.downloadCSS();">Get CSS</button>
                </aside>
                <div id="loading_overlay">
                    <div style="">
                        <?xml version="1.0" encoding="utf-8"?>
                        <svg width='60px' height='60px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
                            <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                            <circle cx="50" cy="50" r="40" stroke-dasharray="163.36281798666926 87.9645943005142" stroke="#d25353" fill="none" stroke-width="20">
                                <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
                            </circle>
                        </svg>
                    </div>
                </div>
            </form>
        </main>

        <section id="colors">
            <h1>Colors</h1>
            <p>Give Strapless a base color and a color wheel to  get a full color scheme back. (For now, the CSS version only supports <em>accented</em>.)</p>
            <div class="palettes">
                <div id="sl_accented" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_complementary" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_triadic" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_tetradic" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_ebb" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_flow" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_monochromatic" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
                <div id="sl_square" class="palette-preview">
                    <p class="sl-color1 swatch"></p>
                    <p class="sl-color1a swatch"></p>
                    <p class="sl-color1b swatch"></p>
                    <p class="sl-color1c swatch"></p>
                    <p class="sl-color2 swatch"></p>
                    <p class="sl-color2a swatch"></p>
                    <p class="sl-color2b swatch"></p>
                    <p class="sl-color2c swatch"></p>
                    <p class="sl-color3 swatch"></p>
                    <p class="sl-color3a swatch"></p>
                    <p class="sl-color3b swatch"></p>
                    <p class="sl-color3c swatch"></p>
                    <p class="sl-color4 swatch"></p>
                    <p class="sl-color4a swatch"></p>
                    <p class="sl-color4b swatch"></p>
                    <p class="sl-color4c swatch"></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>If you're using the LESS version, the color palette is available to your whole project. Colors come in four generically named main colors: <code>@color1</code>, <code>@color2</code>, <code>@color3</code> and <code>@color4</code>. Each has three subcolors: a lightened version (<code>@color1a</code>), an alternate (<code>@color1b</code>) and a darkened version (<code>@color1c</code>).</p>
            <p>Additionally, Strapless figures out a few semantic colors:</p>
            <aside>
                <p class="sl-single-color sl-color-action">@action</p>
                <p class="sl-single-color sl-color-reaction">@reaction</p>
                <p class="sl-single-color sl-color-info">@info</p>
                <p class="sl-single-color sl-color-warning">@warning</p>
                <p class="sl-single-color sl-color-success">@success</p>
                <p class="sl-single-color sl-color-failure">@failure</p>
            </aside>
            <p>And a full suite of grays:</p>
            <aside>
                <p class="sl-single-color sl-gray sl-color-gray-lighter">@gray-lighter</p>
                <p class="sl-single-color sl-gray sl-color-gray-light">@gray-light</p>
                <p class="sl-single-color sl-gray sl-color-gray">@gray</p>
                <p class="sl-single-color sl-gray sl-color-gray-dark">@gray-dark</p>
                <p class="sl-single-color sl-gray sl-color-gray-darker">@gray-darker</p>
            </aside>
        </section>

        <section id="philosophy">
            <h1>Philosophy</h1>
            <ul>
                <li>Full support for HTML elements (and only HTML elements)</li>
                <li>Smart CSS rules for good out-of-the-box layout</li>
                <li>Wide support for base colors and patterns</li>
                <li>Opinionated but simple design rules</li>
                <li>Easy to overwrite when everything goes horribly wrong</li>
                <li>No grid, no columns, no components</li>
                <li>Don't call it a framework!</li>
            </ul>
        </section>

        <section id="elements">
            <h1>Elements</h1>
            <main>
                <h2>Main</h2>
                <p>The main element includes a background color and the dots pattern by default. There's one at the top of this page, too.</p>
                <p>This is a main element. Like the immortals in <em>Highlander</em>, there should be only one of them.</p>
            </main>

            <h2>Sections</h2>
            <p>Use of the <code>&lt;section&gt;</code> element (seen throughout this page) is encouraged. Sections have default CSS for spacing out your content that's aimed at getting it looking good on the first pass.</p>

            <h2>Asides</h2>
            <p>Asides center everything inside them using flexbox.</p>
            <aside>This is an aside.</aside>
            <p>It's useful for buttons:</p>
            <aside><button class="reaction">I'm centered!</button><button class="failure">Me too</button></aside>

            <h2>Typography</h2>

            <p>Typography rules are applied directly to HTML elements.</p>

            <h3>Headlines</h3>
            <p>Pretty much what you'd expect. Headlines are centered by default but that's probably easy to change.</p>

            <h1>This is headline text. (h1)</h1>
            <h2>This is headline text. (h2)</h2>
            <h3>This is headline text. (h3)</h3>
            <h4>This is headline text. (h4)</h4>
            <h5>This is headline text. (h5)</h5>
            <h6>This is headline text. (h6)</h6>

            <h3>Blockquotes</h3>
            <blockquote>
                You may delay, but time will not.
                <cite>Benjamin Franklin</cite>
            </blockquote>

            <h3>Paragraphs, etc.</h3>
            <p>Paragraphs (like this one!) are by default limited to 50 characters width (or whatever <code>@text-measure</code> is set to). They have an aggressive, but not too aggressive, line height of 1.62 (also a variable!).</p>

            <h3>Figures</h3>
            <figure>
                <img src="http://placekitten.com/300/300" alt="A Kitten">
                <figcaption>This figcaption explains that this is an image of a kitten.</figcaption>
                <caption>A caption element would accomplish the same thing.</caption>
            </figure>

            <h3>Other Block Elements</h3>
            <article>
                <pre>This is pre-formatted text</pre>
                <p>Horizontal rule:</p>
                <hr>
            </article>

            <h3>Other Inline Elements</h3>
            <p>Paragraphs may also contain <abbr title="abbreviations, to the layperson">abbreves</abbr> and <acronym title="Aribitrarily Invented Acronyms For Display Purposes">AIAFDPS</acronym>.</p>
            <p>Sometimes you just need an <code>an inline code snippet</code>.</p>

        </section>
        <section>
            <h2>Buttons</h2>
            <p>Buttons are just <code>button</code> elements with a class corresponding to a semantic color name. There are six semantic colors by default, shown in these buttons here:</p>
            <aside>
                <button type="button" class="action">Action</button>
                <button type="button" class="reaction">Reaction</button>
            </aside>
            <aside>
                <button type="button" class="success">Success</button>
                <button type="button" class="failure">Failure</button>
            </aside>
            <aside>
                <button type="button" class="info">Info</button>
                <button type="button" class="warning">Warning</button>
            </aside>
            <p>Semantic colors respond to the color scheme too, so <code>@success</code> will always be the <em>right</em> green (along with its corresponding button). They don't have any other classes to worry about, until you add them, but they do respond well to font size changes:</p>
            <aside >
                <button type="button" class="info" style="font-size:22px;">22 pixels big</button>
                <button type="button" class="failure" style="font-size:1.5em;">1.5em of failure</button>
            </aside>
            <aside>
                <button type="button" class="action" style="font-size:12px;">12px action button</button>
                <button type="button" class="warning" style="font-size:7px;">Warning, this is too small</button>
            </aside>
        </section>
        <section>
            <h2>Tables</h2>
            <aside>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Raya</td>
                                <td>Langley</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hop</td>
                                <td>Tillman</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Buffy</td>
                                <td>Rojas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emerson</td>
                                <td>Pratt</td>
                            </tr>
                        </tbody>
                    </table>
                    default
                </div>
                <div>
                    <table class="info">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Raya</td>
                                <td>Langley</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hop</td>
                                <td>Tillman</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Buffy</td>
                                <td>Rojas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emerson</td>
                                <td>Pratt</td>
                            </tr>
                        </tbody>
                    </table>
                    table.info
                </div>
                <div>
                    <table class="success">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First</th>
                                <th>Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Raya</td>
                                <td>Langley</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hop</td>
                                <td>Tillman</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Buffy</td>
                                <td>Rojas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emerson</td>
                                <td>Pratt</td>
                            </tr>
                        </tbody>
                    </table>
                    table.success
                </div>
            </aside>
            <p>Tables, like buttons, by default support all the semantic color classes.</p>
        </section>
        <section>
            <h2>Nav (navbar)</h2>
            <nav>
                <section>
                    <h1><a href="/">Title here</a></h1>

                    <ul>
                        <li><a href="/">Link 1</a></li>
                        <li><a href="/">Link 2</a></li>
                    </ul>
                </section>
            </nav>
            <br>
            <p>Navbars are simple HTML and CSS, not fully functional components with javascript. Strapless plays well with others-- use the navbar you want, and then use Strapless to style it.</p>
            <p>All of the more complicated elements that take colors as arguments are located in <code>mixins.less</code>. To take 'em out, just remove them where they're used in <code>elements.less</code>.</p>
            <p>If you place a <code>nav</code> element 
        </section>
        <section>
            <h2>Forms</h2>

            <form>
                <label>First name:</label>
                <input type="text" name="firstname"><br>
                <label>Last name:</label>
                <input type="text" name="lastname">
                <label>Textarea:</label>
                <textarea rows="4">Placeholder text</textarea>
                <label>Select:</label>
                <select>
                    <option value="1">This would be my first choice</option>
                    <option value="2">Second choice</option>
                    <option value="3">Third choice</option>
                </select>
            </form>

            <p>Strapless aims to make simple form markup look good by default. There's no extra markup or JS conventions to worry about.</p>
        </section>

        <section id="patterns">
            <h1>Patterns</h1>
            <p>It's got patterns! For the LESS version. (Limited CSS support coming soon.)</p>
            <p>Patterns work like background images... Because they are.</p>
            <p>Using them is easy: They're mixins that use the pattern's name and take any color as an argument, like <code>.pegboard(@color1)</code> or <code>.blueprint(@info)</code></p>
            <div id="strapless_patterns_checkerboard" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_blueprint" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_crosshatch" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_bathmat" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_pegboard" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_argyle" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_dots" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_stripes" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_honeycomb" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_noise" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_chevrons" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_carbon" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <p>Since they're mixins, patterns don't gum up your CSS file until you use them.</p>
        </section>

        <section>
            <h1>LESS</h1>

            <p>Strapless offers some other handy LESS files, like:</p>

            <dl>
                <dt>mixins.less</dt>
                <dd>Mixins for handling text color issues and other LESSer issues.</dd>

                <dt>variables.less</dt>
                <dd>A very short variable file that you will never have to scroll through.</dd>

                <dt>targets.less</dt>
                <dd>Simple, reusable target mixins for handling responsiveness.</dd>

                <dt>colors.less</dt>
                <dd>Powerful, flexible color scheme generation.</dd>

                <dt>patterns.less</dt>
                <dd>Simple SVG-based color-shifting patterns ready to drop in to your project.</dd>

                <dt>normalize.less</dt>
                <dd><a href="http://www.github.com/necolas/normalize.css">Includes a great normalize file</a> to make your HTML and CSS work easier.</dd>
            </dl>

            

            <h2>Useful LESS variables</h2>
            <p>StrapLESS calculates some useful variables for your project:</p>
            <dl>
                <dt>@scheme-type</dt>
                <dd>Returns either <em>light</em>, <em>medium</em>, or <em>dark</em> depending on your base color.</dd>
                <dt>@success and @failure</dt>
                <dd>A well-paired successful green and failure red that work with your theme</dd>
                <dt>@info and @warning</dt>
                <dd>A calming blue and more urgent orange demarking information</dd>
                <dt>@action and @reaction</dt>
                <dd>A generic opposing pair of colors based on your project's @base-color</dd>
            </dl>

        </section>

        <section>
            <h1>How to use Strapless</h1>
            <ol>
                <li>Pick the color you like and "Get CSS." Use that CSS in your project.</li>
                <li>Alternatively, grab the <a href="http://github.com/Tivix/strapless">LESS version</a> off of Github and <a href="http://lesscss.org/#getting-started">use that</a> in your project, for enhanced customization and flexibility.</li>
            </ol>
        </section>

        <section>
            <h1>Special thanks</h1>
            <p>This library wouldn't be possible without the following awesome OSS contributions:</p>
            <ul>
                <li><a href="http://www.getbootstrap.com">Bootstrap</a>, of which we are a fork, sorta.</li>
                <li><a href="http://www.lesscss.org">LESS</a>, one of the finest pieces of software ever written.</li>
                <li><a href="https://philiprogers.com/svgpatterns/">Philip Rogers</a>, who made a bunch of the awesome SVGs we used.</li>
                <li><a href="http://lea.verou.me/css3patterns/">Lea Verou</a>, who made a lot of <em>those</em> patterns originally, in CSS.</li>
            </ul>
        </section>
        <footer>
            <section>
                <p>&copy; Tivix, Inc.</p>
            </section>
        </footer>
        
        <!-- Output scheme colors for favicon generation -->
        <span id="get_color1"></span>
        <span id="get_color2"></span>
        <span id="get_color3"></span>
        <span id="get_color4"></span>
        <script type="text/javascript" charset="utf-8" src="/js/strapless.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/jscolor.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            {{#if invalid_hex }}
                alert("Invalid hex color value entered.");
                history.pushState({'baseColor': ''}, '', '/');
            {{/if}}
        </script>
    </body>
</html>
