<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Strapless</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link id="favicon" rel="icon" type="image/png" href="favicon.png" />
        {{#if static_css }}
            <link title="static_styles" href="css/index.css" media="all" rel="stylesheet" type="text/css"/>
        {{ else }}
        <style type="text/css">
            {{{styles}}}
        </style>
        {{/if}}
    </head>

    <body onload="Strapless.generateFavicon();">
        <nav>
            <section>
                <h1><a href="/">Strapless</a></h1>

                <ul>
                    <li><a href="#colors">Colors</a></li>
                    <li><a href="#patterns">Patterns</a></li>
                    <li><a href="/elements">Elements</a></li>
                </ul>
            </section>
        </nav>

        <main>
            <img src="http://placekitten.com/680/200"/>
            <h1>Strapless</h1>
            <p>Finally, LESS is <em>cool</em> again.</p>
            <p>Strapless is a LESS library for colors and patterns. It's also a boilerplate for basic HTML elements. It also cures cancer in kittens, but nobody can really tell because nobody is checking kittens for cancer. This is a gross misuse of <em>main</em>.</p>
            <aside><button class="action">download</button> <button class="info">github</button></aside>

            <form id="demo_form">
                <label>Base color</label>
                <p><span id="less_variable_test"></span></p>
                <input id="seed_color" class="jscolor" value="cadfe6" />
                <button type="button" class="action" onclick="Strapless.updateScheme();">Submit</button>
            </form>

        </main>
        <section>
        <h2>gray tests</h2>
            <div id="gray_test">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="gray_test_full">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
        <section>
        <h2>semantic color tests</h2>
            <div id="semantic_color_test">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="semantic_base_test">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
        <section>
            <h1>Aside tests</h1>
            <p>Asides center everything inside them now using flexbox.</p>
            <aside>This is an aside.</aside>
            <p>It's useful for buttons:</p>
            <aside><button class="success">I'm centered!</button><button class="info">Me too</button></aside>
        </section>
        <section id="colors">
            <h1>Colors</h1>
            <div id="strapless_colors_accented" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_complementary" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_complementary-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_triadic" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_triadic-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_tetradic" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_tetradic-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_ebb" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_flow" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_monochromatic" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_monochromatic-b" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div id="strapless_colors_square" class="palette-preview">
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
                <p class="swatch"></p>
            </div>
            <div class="clearfix"></div>
        </section>

        <section>
            <div id="color_wheel_test" class="color-wheel-test">
                <h1>Current</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_accented" class="color-wheel-test">
                <h1>Accented</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_complementary" class="color-wheel-test">
                <h1>Complementary</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_triadic" class="color-wheel-test">
                <h1>Triadic</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_tetradic" class="color-wheel-test">
                <h1>Tetradic</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_square" class="color-wheel-test">
                <h1>Square</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_monochromatic" class="color-wheel-test">
                <h1>Monochromatic</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_ebb" class="color-wheel-test">
                <h1>Ebb</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>

            <div id="color_wheel_flow" class="color-wheel-test">
                <h1>Flow</h1>
                <div class="color1 color"></div>
                <div class="color2 color"></div>
                <div class="color3 color"></div>
                <div class="color4 color"></div>
            </div>
        </section>

        <section id="patterns">
            <h1>Patterns</h1>
            <p>It's got patterns!</p>
            <p>Patterns work like background images. Because they are.</p>
            <p><code>.pattern-pegboard(@color1);</code></p>
            <div id="strapless_patterns_checkerboard" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_blueprint" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_crosshatch" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_denim" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_bathmat" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_pegboard" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_shippo" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_muni" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_argyle" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_dots" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_stripes" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_honeycomb" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_noise" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_chevrons" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
            <div id="strapless_patterns_carbon" class="pattern-preview">
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
                <div class="pattern"></div>
            </div>
        </section>
        <section id="elements">
            <h1>Elements</h1>
            <p>Line height is set to the golden ratio by default, so it's automatically <em>better</em>.</p>
            <p>Paragraphs have a character width limit! And they do this weird left-aligned centering thing because of our over-reaching faux grid rules.</p>
            <p>It ends up looking pretty good so we're gonna pretend that was on purpose.</p>
        </section>
        <section class="hide">
            <h1>Headlines</h1>
            <p>Pretty much what you'd expect.</p>

            <h1>This is headline text.</h1>
            <h2>This is headline text.</h2>
            <h3>This is headline text.</h3>
            <h4>This is headline text.</h4>
            <h5>This is headline text.</h5>
            <h6>This is headline text.</h6>
        </section>
        <section>
            <h2>Buttons</h2>
            <p>Buttons are just <code>button</code> elements with a class corresponding to a semantic color name.</p>
            <aside>
                <button type="button" class="action">Action</button>
                <button type="button" class="reaction">Reaction</button>
            </aside>
            <aside>
                <button type="button" class="success">Success</button>
                <button type="button" class="failure">Failure</button>
            </aside>
            <aside>
                <button type="button" class="info">Info</button>
                <button type="button" class="warning">Warning</button>
            </aside>
        </section>
        <section>
            <h2>Tables</h2>
            <aside>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Raya</td>
                            <td>Langley</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Hop</td>
                            <td>Tillman</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Buffy</td>
                            <td>Rojas</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Emerson</td>
                            <td>Pratt</td>
                        </tr>
                    </tbody>
                </table>
                <table class="success">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Raya</td>
                            <td>Langley</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Hop</td>
                            <td>Tillman</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Buffy</td>
                            <td>Rojas</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Emerson</td>
                            <td>Pratt</td>
                        </tr>
                    </tbody>
                </table>
                <table class="failure">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Raya</td>
                            <td>Langley</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Hop</td>
                            <td>Tillman</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Buffy</td>
                            <td>Rojas</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Emerson</td>
                            <td>Pratt</td>
                        </tr>
                    </tbody>
                </table>
            </aside>
            <h4>&lt;table class="info"&gt;</h4>
            <table class="info">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                        <td>vitae.orci.Phasellus@faucibusorciluctus.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                        <td>diam@ultricesmauris.co.uk</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                        <td>litora.torquent.per@aliquameuaccumsan.co.uk</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                        <td>Proin.eget.odio@tortorInteger.net</td>
                    </tr>
                </tbody>
            </table>
            <h4>&lt;table class="warning"&gt;</h4>
            <table class="warning">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                        <td>vitae.orci.Phasellus@faucibusorciluctus.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                        <td>diam@ultricesmauris.co.uk</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                        <td>litora.torquent.per@aliquameuaccumsan.co.uk</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                        <td>Proin.eget.odio@tortorInteger.net</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h1>LESS</h1>

            <p>Strapless offers some other handy LESS files, like:</p>

            <h4>mixins.less</h4>
            <p>Mixins for handling text color issues.</p>

            <h4>variables.less</h4>
            <p>A very short variable file that you never have to scroll through.</p>

            <h4>targets.less</h4>
            <p>Simple reusable target mixins for handling responsiveness.</p>

        </section>
        <section>
            <h1>Type tests</h1>

            <p>Just some type tests.</p>

            <h1>A caterpillar inches along a branch, slowly, steadily, wistfully.</h1>
            <h2>Something something butterfly.</h2>
            <p>HTML should have something for dropcaps.</p>
            <p>This is a slightly longer paragraph to follow the short first sentence.</p>
            <blockquote>
                This is a blockquote. We doin' those?
                <cite>Rex Riepe</cite>
            </blockquote>
            <form>
                First name:<br>
                <input type="text" name="firstname"><br>
                Last name:<br>
                <input type="text" name="lastname">
            </form>
            <p>We should treat <code>form</code> like <code>section</code> with some general formatting rules that work for lots of stuff.</p>

        </section>
        <section>
        <h1>Forms</h1>
            <p>Form experimentation:</p>
            <form>
              <label for="exampleEmailInput">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
              <label for="exampleRecipientInput">Reason for contacting</label>
              <select class="u-full-width" id="exampleRecipientInput">
                <option value="Option 1">Questions</option>
                <option value="Option 2">Admiration</option>
                <option value="Option 3">Can I get your number?</option>
              </select>
              <label for="exampleMessage">Message</label>
              <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
              <label class="example-send-yourself-copy">
                <input type="checkbox">
                <span class="label-body">Send a copy to yourself</span>
              </label>
              <button class="color3">Submit</button>
            </form>
        </section>
        <section>
            <h1>Thanks</h1>
            <!-- bootstrap, LESS, people who made patterns we are using -->

        </section>
        <footer>
            <section>
                <p>&copy; Tivix, Inc.</p>
            </section>
        </footer>
        <div id="loading_overlay"><div style="">Scheming...</div></div>
        <!-- Output scheme colors for favicon generation -->
        <span id="get_color1"></span>
        <span id="get_color2"></span>
        <span id="get_color3"></span>
        <span id="get_color4"></span>
        <script type="text/javascript" charset="utf-8" src="/js/strapless.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/jscolor.min.js"></script>
        {{#if invalid_hex }}
            <script type="text/javascript" charset="utf-8">
                alert("Invalid hex color value entered.");
            </script>
        {{/if}}
    </body>
</html>
