<section id="colors">
    <h1>Colors</h1>
    <p>Strapless is designed around typography and color. It works with any color and can handle any text contrast problem you throw at it.</p>
    <h2>Color palettes</h2>
    <p>Strapless starts with a base color, which you give it:</p>
    <p>
        <span class="sl-single-color color1">@base-color</span>
    </p>
    <p>From that base color, it generates four scheme colors:</p>
    <p>
        <span class="sl-single-color color1">@color1</span>
        <span class="sl-single-color color2">@color2</span>
        <span class="sl-single-color color3">@color3</span>
        <span class="sl-single-color color4">@color4</span>
    </p>
    <p>Each of those colors has subcolors, one of which is lighter (a), one of which is an alternate (b), and one of which is darker (c).</p>
    <p>
        <span class="sl-single-color color1">@color1</span>
        <span class="sl-single-color color1a">@color1a</span>
        <span class="sl-single-color color1b">@color1b</span>
        <span class="sl-single-color color1c">@color1c</span>
    </p>
    <aside>
      <p>Strapless doesn't <em>just</em> lighten or darken. It picks nearby colors and tweaks them to avoid the "washed out" feel of lighten/darken operations.</p>
    </aside>
    <p><code>@color2</code> is typically a complement:</p>
    <p>
        <span class="sl-single-color color2">@color2</span>
        <span class="sl-single-color color2a">@color2a</span>
        <span class="sl-single-color color2b">@color2b</span>
        <span class="sl-single-color color2c">@color2c</span>
    </p>
    <p><code>@color3</code> and <code>@color4</code> round out the color palette. Their positions depend on which color wheel is set in <code>settings.less</code>. The CSS version uses 'accented' by default.</p>
    <p>
        <span class="sl-single-color color3">@color3</span>
        <span class="sl-single-color color3a">@color3a</span>
        <span class="sl-single-color color3b">@color3b</span>
        <span class="sl-single-color color3c">@color3c</span>
    </p>
    <p>
        <span class="sl-single-color color4">@color4</span>
        <span class="sl-single-color color4a">@color4a</span>
        <span class="sl-single-color color4b">@color4b</span>
        <span class="sl-single-color color4c">@color4c</span>
    </p>

    <h2>Semantic colors</h2>
    <aside>
      <p>Semantic classes work with most elements as <strong>HTML classes</strong>. They also double as <strong>Less variables</strong>.</p>
    </aside>
    <p>From the base color, Strapless figures out six semantic colors/classes:</p>
    <p id="semantic_colors">
        <span class="sl-single-color sl-color-action">@action</span>
        <span class="sl-single-color sl-color-reaction">@reaction</span>
        <span class="sl-single-color sl-color-info">@info</span>
        <span class="sl-single-color sl-color-warning">@warning</span>
        <span class="sl-single-color sl-color-success">@success</span>
        <span class="sl-single-color sl-color-failure">@failure</span>
    </p>

    <p>And some useful grays:</p>
    <p id="grays">
        <span class="sl-single-color sl-gray sl-color-gray-lighter">@gray-lighter</span>
        <span class="sl-single-color sl-gray sl-color-gray-light">@gray-light</span>
        <span class="sl-single-color sl-gray sl-color-gray">@gray</span>
        <span class="sl-single-color sl-gray sl-color-gray-dark">@gray-dark</span>
        <span class="sl-single-color sl-gray sl-color-gray-darker">@gray-darker</span>
    </p>
    <p>All of these colors adjust to the color scheme while still retaining their semantic meaning.</p>

    <h2>Color scheme variants</h2>
    <aside>
      <p><strong>-b wheels</strong> follow the same structure but spin the other way on the color wheel.</p>
    </aside>
    <p>Strapless color schemes are driven by color wheels. In all, 12 different color wheels are included. Here's each of the wheel outputs from the single base color:</p>
    <div id="palettes">
        <div id="sl_accented" class="palette-preview">
            <h3>Accented</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_square" class="palette-preview">
            <h3>Square</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_complementary" class="palette-preview">
            <h3>Complementary</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_complementary-b" class="palette-preview">
            <h3>Complementary-b</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_triadic" class="palette-preview">
            <h3>Triadic</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_triadic-b" class="palette-preview">
            <h3>Triadic-b</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_tetradic" class="palette-preview">
            <h3>Tetradic</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_tetradic-b" class="palette-preview">
            <h3>Tetradic-b</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_monochromatic" class="palette-preview">
            <h3>Monochromatic</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_monochromatic-b" class="palette-preview">
            <h3>Monochromatic-b</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_ebb" class="palette-preview">
            <h3>Ebb</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
        <div id="sl_flow" class="palette-preview">
            <h3>Flow</h3>
            <div class="sl-color-container sl-color1-colors">
                <p class="sl-color1 main-color swatch"></p>
                <p class="sl-color1a a-color swatch"></p>
                <p class="sl-color1b b-color swatch"></p>
                <p class="sl-color1c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color2-colors">
                <p class="sl-color2 main-color 2-color swatch"></p>
                <p class="sl-color2a a-color swatch"></p>
                <p class="sl-color2b b-color swatch"></p>
                <p class="sl-color2c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color3-colors">
                <p class="sl-color3 main-color swatch"></p>
                <p class="sl-color3a a-color swatch"></p>
                <p class="sl-color3b b-color swatch"></p>
                <p class="sl-color3c c-color swatch"></p>
            </div>
            <div class="sl-color-container sl-color4-colors">
                <p class="sl-color4 main-color swatch"></p>
                <p class="sl-color4a a-color swatch"></p>
                <p class="sl-color4b b-color swatch"></p>
                <p class="sl-color4c c-color swatch"></p>
            </div>
        </div>
    </div>
    <aside>
      <strong>Ebb</strong> and <strong>flow</strong> were completely made up especially for Strapless!
    </aside>
</section>
