<section id="elements">
    <h1>Elements</h1>
    <p>Strapless doesn't ship with any components or have any javascript. It does however include wide support for native HTML elements.</p>
</section>

<section id="main_element">
    <h1>&lt;main&gt;</h1>
    <p>The <em>main</em> element works as a page's central element. It uses a <code>section</code> inside to organize its content.</p>
</section>

<main class="action" id="main_action_example">
  <h1>This is the main element.</h1>
  <footer><button>It has buttons sometimes</button></footer>
</main>
<section>
    <pre>&lt;main class="action"&gt;
      &lt;h1&gt;This is the main element.&lt;/h1&gt;
      &lt;footer&gt;&lt;button&gt;It has buttons sometimes&lt;/button&gt;&lt;/footer&gt;
&lt;/main&gt;</pre>

  <p>Using a semantic class with this element is a good way to set the tone for something like an error page:</p>
</section>

<main class="failure" id="main_failure_example">
  <h1>The database crashed!</h1>
  <p>Just kidding. It's fine. This is just an example of a <em>main</em> element on a failure page.</p>
  <footer>
    <button class="warning">See error report</button>
    <button>Go back a page</button>
  </footer>
</main>
<section>
    <pre>&lt;main class="failure"&gt;
      &lt;h1&gt;The database crashed!&lt;/h1&gt;
      &lt;p&gt;Just kidding. It's fine. This is just an example of a main element on a failure page.&lt;/p&gt;
      &lt;footer&gt;
        &lt;button class="warning"&gt;See error report&lt;/button&gt;
        &lt;button&gt;Go back a page&lt;/button&gt;
      &lt;/footer&gt;
&lt;/main&gt;</pre>
</section>

<section id="section">
    <h1>&lt;section&gt;</h1>
    <p>Use of the <code>&lt;section&gt;</code> element (seen throughout this page) is encouraged.</p>
</section>

<section class="info">
    <h3>Sections organize content.</h3>
    <aside>
      <p><strong>Asides</strong> work inside sections!</p>
      <p>So do grids! (grid not included)</p>
    </aside>
    <ul>
      <li>Sections control the width of most content and leave enough room for asides.</li>
      <li>Put any grid-dy (CSS grids or otherwise) stuff inside of sections.</li>
      <li>Sections support semantic classes (this one is using <code>info</code>).</li>
    </ul>
</section>

<section id="section_outline_example" class="success">
  <div class="outline">
    <h3>Sections have space</h3>
    <p>This <code>success</code> section has an internal outlined div to show how much space is available.</p>
    <p>Text measure rules are mostly enforced by <code>@max-width</code>, which is wider than a typical column in a 2-column or more grid system.</p>
    <p>In other words, Strapless mostly plays nice with grids but might run into issues in layouts where the larger of two columns is more than ~60% the width of the content.</p>
  </div>
</section>

<section id="paragraph">
    <h1>&lt;p&gt;</h1>
    <p>Paragraphs (like this one) are by default limited to 60ish characters width (<code>@max-width</code> determines this). Like buttons and tables, paragraphs support all the semantic classes.</p>
    <p class="info">I'm informing you of something.</p>
    <pre>&lt;p class="info"&gt;I'm informing you of something.&lt;/p&gt;</pre>
    <br>
    <p class="failure">I've made a huge mistake.</p>
    <pre>&lt;p class="failure"&gt;I've made a huge mistake.&lt;/p&gt;</pre>
    <br>
    <p>Without a class they just look like normal paragraphs.</p>
    <pre>&lt;p&gt;Without a class they just look like normal paragraphs.&lt;/p&gt;</pre>
    <br>
</section>

<section id="span">
    <h1>&lt;span&gt;</h1>
    <p>Spans with <span class="info">semantic classes</span> will take the color of the semantic class. They look like someone <span class="failure">took a highlighter to the page</span>.</p>
    <pre>&lt;span class="info"&gt;semantic classes&lt;/span&gt;</pre>
    <pre>&lt;span class="failure"&gt;took a highlighter to the page&lt;/span&gt;</pre>
</section>

<section id="aside">
    <h1>&lt;aside&gt;</h1>
    <p>Asides pull and de-emphasize content from the main body of the text.</p>
    <aside>This is an aside.</aside>
    <pre>&lt;aside&gt;This is an aside.&lt;/aside&gt;</pre>
    <br>
    <p>Asides support semantic classes, which makes them good for notification messages:</p>
    <aside class="failure">
        <p>You just deleted the <strong>entire site</strong>.</p>
        <button>Okay</button>
    </aside>
    <pre>&lt;aside class="failure"&gt;
    &lt;p&gt;You just deleted the &lt;strong&gt;entire site&lt;/strong&gt;.&lt;/p&gt;
    &lt;button&gt;Okay&lt;/button&gt;
&lt;/aside&gt;</pre>
    <br>
    <aside class="success">
        You've updated your profile.
    </aside>
    <pre>&lt;aside class="success"&gt;
    You've updated your profile.
&lt;/aside&gt;</pre>
    <br>
    <p>The Less/CSS for aside can be found in <code>aside.less</code>.</p>
    <aside>
        <h6>Sign up for volleyball</h6>
        <form>
            <input type="text" name="firstname">
            <button onclick="return false" class="reaction">Submit</button>
        </form>
    </aside>
    <pre>&lt;aside&gt;
    &lt;h6&gt;Sign up for volleyball&lt;/h6&gt;
    &lt;form&gt;
        &lt;input type="text" name="firstname"&gt;
        &lt;button class="reaction"&gt;Submit&lt;/button&gt;
    &lt;/form&gt;
&lt;/aside&gt;</pre>
    <br>
    <aside>
        <p>You're down to <span class="warning">596</span> credits.</p>
    </aside>
    <pre>&lt;aside&gt;
    &lt;p&gt;
      You're down to
      &lt;span class="warning"&gt;596&lt;/span&gt;
      credits.
    &lt;/p&gt;
&lt;/aside&gt;</pre>
    <br>
    <p>Asides only work inside of sections. Use them elsewhere at your own risk.</p>
</section>

<section id="button">
    <h1>&lt;button&gt;</h1>
    <p>Buttons are just <code>button</code> elements.</p>
    <p><button>Example button</button></p>
    <pre>&lt;button&gt;Example button&lt;/button&gt;</pre>
    <br>
    <p>Buttons can take a semantic class. You can also use the <code>button</code> class to make things that aren't buttons look like buttons.</p>
    <p><a class="info button">A link</a></p>
    <pre>&lt;a class="info button"&gt;A link&lt;/a&gt;</pre>
    <br>
    <p>There are six semantic buttons by default, shown here:</p>
    <p>
      <button type="button" class="action">Action</button>
      <button type="button" class="reaction">Reaction</button>
    </p>
    <p>
      <button type="button" class="success">Success</button>
      <button type="button" class="failure">Failure</button>
    </p>
    <p>
      <button type="button" class="info">Info</button>
      <button type="button" class="warning">Warning</button>
    </p>
    <p>Semantic colors respond to the color scheme too, so <code>@success</code> will always be the <em>right</em> green (along with its corresponding button). They don't have any other classes to worry about, until you add them, but they do respond well to font size changes:</p>
    <p>
        <button type="button" class="info" style="font-size:22px;">22 pixels big</button>
        <button type="button" class="failure" style="font-size:1.5em;">1.5em of failure</button>
    </p>
    <p>
        <button type="button" class="action" style="font-size:12px;">12px action button</button>
        <button type="button" class="warning" style="font-size:7px;">Warning, this is too small</button>
    </p>
    <p>Buttons always have tinted (white) text.</p>
</section>

<section id="nav">
    <h1>&lt;nav&gt;</h1>
    <p>Navbars are simple HTML and CSS, not fully functional components with javascript. Strapless plays well with others, so use the hamburger button you want, and then use Strapless to style it.</p>
    <pre>&lt;nav id="strapless_nav"&gt;
    &lt;h1&gt;&lt;a href="/"&gt;Strapless&lt;/a&gt;&lt;/h1&gt;
    &lt;ul&gt;
        &lt;li&gt;
          &lt;a href="#colors"&gt;Colors&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#elements"&gt;Elements&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#mixins"&gt;Mixins&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</pre>
</section>

<section id="footer">
    <h1>&lt;footer&gt;</h1>
    <p>Footers give a bit of padding and work well with buttons. On smaller resolutions, they stack up and go full-width.</p>
    <footer>
        <button>Submit</button>
    </footer>
    <pre>&lt;footer&gt;
    &lt;button&gt;Submit&lt;/button&gt;
&lt;/footer&gt;</pre>
    <br>
    <p>Footers support multiple buttons and semantic classes:</p>
    <footer class="failure">
        <button class="warning">File a bug report</button>
        <button>Accept</button>
    </footer>
    <pre>&lt;footer class="failure"&gt;
    &lt;button class="warning"&gt;File a bug report&lt;/button&gt;
    &lt;button&gt;Accept&lt;/button&gt;
&lt;/footer&gt;</pre>
</section>

<section id="table">
    <h1>&lt;table&gt;</h1>
    <p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                    </tr>
                </tbody>
            </table>
            default
        </div>
    </p>
    <p>
        <div>
            <table class="success">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Raya</td>
                        <td>Langley</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hop</td>
                        <td>Tillman</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Buffy</td>
                        <td>Rojas</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Emerson</td>
                        <td>Pratt</td>
                    </tr>
                </tbody>
            </table>
            table.success
        </div>
    </p>
    <p>Tables, like buttons, by default support all the semantic color classes.</p>
</section>

<section id="headline">
    <h1>&lt;h1&gt;</h1>
    <p>Headline text scales with the page size, stopping when it's big enough.</p>
    <aside>
      <p>Headlines can be targeted with the <code>.headline-elements({})</code> ruleset mixin.</p>
    </aside>
    <h1>Man bites dog (h1)</h1>
    <h2>Man bites dog (h2)</h2>
    <h3>Man bites dog (h3)</h3>
    <h4>Man bites dog (h4)</h4>
    <h5>Man bites dog (h5)</h5>
    <h6>Man bites dog (h6)</h6>
    <p>Headlines scale proportionally with the page, up until they get big enough and stop.</p>
</section>

<section id="form">
    <h1>&lt;form&gt;</h1>

    <p>Strapless has simple form support:</p>
    <form>
        <h3>Enter your information</h3>
        <label>First name:</label>
        <input type="text" name="firstname">
        <label>Last name:</label>
        <input type="text" name="lastname">
        <label>Textarea:</label>
        <textarea rows="4"></textarea>
        <footer>
            <button onclick="return false" class="reaction">Submit</button>
            <button onclick="return false">Cancel</button>
        </footer>
    </form>

    <pre>&lt;form&gt;
    &lt;h3&gt;Enter your information&lt;/h3&gt;
    &lt;label&gt;First name:&lt;/label&gt;
    &lt;input type="text" name="firstname"&gt;
    &lt;label&gt;Last name:&lt;/label&gt;
    &lt;input type="text" name="lastname"&gt;
    &lt;label&gt;Textarea:&lt;/label&gt;
    &lt;textarea rows="4"&gt;&lt;/textarea&gt;
    &lt;footer class="action"&gt;
        &lt;button&gt;Submit&lt;/button&gt;
        &lt;button&gt;Cancel&lt;/button&gt;
    &lt;/footer&gt;
&lt;/form&gt;</pre>
</section>

<section id="blockquotes">
    <h1>&lt;blockquote&gt;</h1>
    <blockquote>
        You may delay, but time will not.
        <cite>Benjamin Franklin</cite>
    </blockquote>
    <pre>&lt;blockquote&gt;
    You may delay, but time will not.
    &lt;cite&gt;Benjamin Franklin&lt;/cite&gt;
&lt;/blockquote&gt;</pre>
    <br>
    <p>They alternate switching sides by default.</p>
    <blockquote class="reaction">
        Blushing is the color of virtue.
        <cite>Diogenes</cite>
    </blockquote>
</section>

<section id="elements_etc">
    <h1>&lt;etc&gt;</h1>
    <p>Pre-formatted text:</p>
    <p>
        <pre>This is pre-formatted text</pre>
    </p>
    <br>
    <p>Horizontal rule:</p>
    <hr>
    <pre>&lt;hr&gt;</pre>
    <br>
    <hr class="info">
    <pre>&lt;hr class="info"&gt;</pre>
    <br>
    <p>Paragraphs may also contain <abbr title="abbreviations, to the layperson">abbreves</abbr> and <acronym title="Aribitrarily Invented Acronyms For Display Purposes">AIAFDPS</acronym>.</p>
    <p>Sometimes you just need an <code>an inline code snippet</code>.</p>
</section>
