<footer id="strapless_footer" class="action">
    <section>
      <aside><a href="http://www.tivix.com"><svg class="logo" viewBox="10 2 70 19" xmlns="http://www.w3.org/2000/svg"><title>Tivix</title><path class="letter" d="M35 2.3h3.6l5.6 14 5.6-14h3.6l-7.6 18.4h-3.3L35 2.3z"></path><path class="letter" d="M15.9 5.6H10v-3.2h15.1v3.3h-5.9v15.1h-3.3V5.6z"></path><path class="letter" d="M28.4 2.3h3.3v18.4h-3.3V2.3z"></path><path class="letter" d="M56.7 2.3h3.3v18.4h-3.3V2.3z"></path><path class="letter" d="M69.8 11.5l-6.6-9.2h3.6l4.8 6.7 4.8-6.7h3.6L73.4 11.5l6.6 9.2h-3.6l-4.8-6.7 -4.8 6.7h-3.6L69.8 11.5z"></path><polygon class="accent" points="41.9 2.3 44.2 8 46.5 2.3 43.6 2.3 "></polygon></svg></a>
      </aside>
      <p>Strapless is a <a href="http://www.tivix.com">Tivix</a> project by Rex Riepe and Adam Lord.</p>
      <p id="demo_form_placeholder"></p>
    </section>
</footer>
