<section id="less">
  <h1>Less mix-ins</h1>
  <p>Strapless uses Less, a CSS pre-processor. It comes with a whole bunch of Less mix-ins for managing colors and contrast.</p>

  <h3>Text contrast mix-ins</h3>
  <p><code>.contrast-text-against(@color);</code></p>
  <p>Contrasts the text color against the given background color. This mixin determines whether to lighten or darken to meet contrast standards, then meets them by lightening or darkening enough. Since it has the option of both, this mixin can support AA-level contrast for any given background color.</p>
  <br>
  <p><code>.colorize(@color);</code></p>
  <p>Does the same thing, except it also sets the bacground color to <code>@color</code>, a useful pattern for just quickly turning something into some other color.</p>
  <br>
  <p><code>.shade-text-against(@color);</code></p>
  <p>Works like .contrast-text-against, except it always darkens the background color to produce the text color. Sometimes this can't meet AA-level contrast standards. Using it on black, for example, wouldn't give your text color anywhere to go.</p>
  <br>
  <p><code>.tint-text-against(@color);</code></p>
  <p>Just like shading, but works by lightening the background color to produce contrastful text color.</p>
  <br>
  <p><code>.invert-text-against(@color);</code></p>
  <p><em>Always</em> results in white text. If the text isn't contrastful enough, then it will darken the background color to meet text contrast standards. This is the only text contrast mixin that changes the background color.</p>
  <br>
  <p><code>.set-contrast-ratio(@a, @b);</code></p>
  <p>Sets the Less variable <code>@contrast-ratio</code> to the contrast ratio between the two arguments, which both need to be colors. The argument positions don't really matter.</p>
  <br>
  <p><code>.set-distance(@a, @b);</code></p>
  <p>Sets <code>@distance</code> to the distance between two colors, in perceptual RGB space.</p>
  <br>
  <p><code>.set-average(@colors);</code></p>
  <p>Sets <code>@average</code> to the average color of a list of colors. This works like Less's <code>average()</code>, but its argument <code>@colors</code> can be a list with any number of colors.</p>



  <h3>Meeting contrast standards</h3>
  <p>Strapless is designed to meet AA-level contrast standards out of the box with any base color. As long as you use a contrast mix-in, it'll <em>just work</em>.</p>

  <h3>Strong tinting</h3>
  <p>The WCAG standard for contrast doesn't treat tinted and shaded text differently. Strapless mix-in defaults do, however, generally aiming for AAA-level standards any time light text is needed. Use your own contrast standards by passing <code>@contrast-standard</code> to a contrast mix-in.</p>
</section>
