<nav id="strapless_nav">
    <section>
        <h1><a href="/">Strapless</a></h1>
        <ul>
        	<li><a href="#elements">Elements</a></li>
            <li><a href="#colors">Colors</a></li>
            <li><a href="#patterns">Patterns</a></li>
        </ul>
    </section>
</nav>