
<section id="patterns">
    <h1>Patterns</h1>
    <p>Strapless comes with 11 color- and text-friendly pattern backgrounds.</p>
    <p>Using them is easy: They're mixins that use the pattern's name and take any color as an argument, like <code>.pegboard(@color1)</code> or <code>.blueprint(@info)</code>.</p>
    <div class="pattern-container">
      <div class="pattern blueprint-1"><span>.blueprint (@color1);</span></div>
      <div class="pattern blueprint-2"><span>.blueprint (@color2c);</span></div>
      <div class="pattern blueprint-3"><span>.blueprint (@success);</span></div>
      <div class="pattern crosshatch-1"><span>.crosshatch (@color1);</span></div>
      <div class="pattern crosshatch-2"><span>.crosshatch (@color1a, 2);</span></div>
      <div class="pattern crosshatch-3"><span>.crosshatch (@color1b, 3);</span></div>
      <div class="pattern bathmat-1"><span>.bathmat (@color1, .75);</span></div>
      <div class="pattern bathmat-2"><span>.bathmat (@color1a);</span></div>
      <div class="pattern bathmat-3"><span>.bathmat (@color1b);</span></div>
      <div class="pattern pegboard-1"><span>.pegboard (@color2);</span></div>
      <div class="pattern pegboard-2"><span>.pegboard (@color3);</span></div>
      <div class="pattern pegboard-3"><span>.pegboard (@color4c);</span></div>
      <div class="pattern argyle-1"><span>.argyle (@color1a);</span></div>
      <div class="pattern argyle-2"><span>.argyle (@color3a);</span></div>
      <div class="pattern argyle-3"><span>.argyle (@color4b);</span></div>
      <div class="pattern checkerboard-1"><span>.checkerboard (@color1);</span></div>
      <div class="pattern checkerboard-2"><span>.checkerboard (@color1a);</span></div>
      <div class="pattern checkerboard-3"><span>.checkerboard (@color1b, .5);</span></div>
      <div class="pattern dots-1"><span>.dots (@color1);</span></div>
      <div class="pattern dots-2"><span>.dots (@color2);</span></div>
      <div class="pattern dots-3"><span>.dots (@color2a);</span></div>
      <div class="pattern stripes-1"><span>.stripes (@color3);</span></div>
      <div class="pattern stripes-2"><span>.stripes (@color3a);</span></div>
      <div class="pattern stripes-3"><span>.stripes (@color3b);</span></div>
      <div class="pattern honeycomb-1"><span>.honeycomb (@color4);</span></div>
      <div class="pattern honeycomb-2"><span>.honeycomb (@success);</span></div>
      <div class="pattern honeycomb-3"><span>.honeycomb (@failure);</span></div>
      <div class="pattern chevrons-1"><span>.chevrons (@color4);</span></div>
      <div class="pattern chevrons-2"><span>.chevrons (@info);</span></div>
      <div class="pattern chevrons-3"><span>.chevrons (@warning);</span></div>
    </div>
    <aside>
      <p>Patterns add <span class="info">1-2kb</span> to your CSS output when you use a pattern mix-in.</p>
    </aside>
    <p>Patterns accept an optional second argument, the scale of the texture, which defaults to 1.</p>
    <p>Patterns work like background images, because they're encoded SVG files.</p>
</section>
